%tr{ :id => "game_#{game.id.to_s}" }
  %td= game.starts_on.strftime('%a %m/%d/%y')
  %td= game.starts_on.strftime('%l:%M %p')
  %td= game.summary
  %td= game.has_result? ? "Yes" : "No"
  %td= game.statsheet ? "Yes" : "No"
  %td
    = link_to 'Result', new_admin_game_result_path(game.id), :remote => true, :class => "btn btn-mini"
    = link_to "Stats", edit_admin_game_statsheet_path(game), :class => "btn btn-mini"
