%tr{ :id => "game_#{game.id.to_s}" }
  %td= game.starts_on.strftime('%a %m/%d/%y')
  %td= game.starts_on.strftime('%l:%M %p')
  %td= game.summary
  %td
    = link_to 'Result', new_admin_game_result_path(game.id), :remote => true, :class => "btn btn-xs #{game.has_result? ? 'btn-success' : 'btn-danger'}"
    - if game.statsheet
      = link_to "Stats", edit_admin_game_statsheet_path(game), :class => "btn btn-xs #{game.statsheet.is_posted? ? 'btn-success' : 'btn-warning'}"
    - else
      = link_to "Stats", edit_admin_game_statsheet_path(game), :class => "btn btn-xs btn-primary"    
