= simple_form_for @result, :url => admin_game_result_path(@game), :remote => true do |f|
  = f.input :away_score, :label => @game.away_team_name
  = f.input :home_score, :label => @game.home_team_name
  = f.input :completed_in, :collection => Game::Result.completed_in_options
  = f.input :exclude_from_team_records, :as => :boolean