%div{ :id => "team-#{team.id}", :class => "team #{class_name if class_name}"}
  .well{ :style => "background-color: #{team.primary_color || '#FFF'};" }
    .logo
      = image_tag team.logo.small.url if team.logo?  
    = render :partial => "actions", :locals => { :team => team } if current_user_is_admin?
    %h1.name{ :style => "color: #{team.secondary_color}"}= team.name
    .links
      = link_to "Schedule", team_schedule_path(@league.slug, team.season_slug, team.slug), { :style => "color: #{team.accent_color};" }
      %span{ :style=> "color: #{team.secondary_color}"}= " | "
      = link_to "Roster", team_roster_path(@league.slug, team.season_slug, team.slug), { :style => "color: #{team.accent_color};" }
      %span{ :style=> "color: #{team.secondary_color}"}= " | "
      = link_to "Statistics", team_statistics_path(@league.slug, team.season_slug, team.slug), { :style => "color: #{team.accent_color};" }



