- last_division_name = ''
- @teams.each do |team|
  - unless @division
    - if team.division_name != last_division_name
      .division-bar 
        %h3 #{team.division_name} Division
      - last_division_name = team.division_name
  .team-box
    .team-logo
      = image_tag(team.logo.tiny.url.to_s) if team.logo.tiny.url
    .team-name 
      #{team.name}
    .team-nav
      = link_to 'Home', team_path(team.division_slug, team.season_slug, team.slug)
      = " | "
      = link_to 'Schedule', team_schedule_path(team.division_slug, team.season_slug, team.slug)
      = " | "
      = link_to 'Roster', team_roster_path(team.division_slug, team.season_slug, team.slug)
      //= " | "
      //Stats
.clear

