- title "#{@team.name} #{@season.name} Roster"

#{select("team", :id, @team_links, { :selected => request.fullpath }, { :class => "redirect_to" })}
.row-fluid
  = render :partial => 'team', :locals => { :team => @team, :class_name => 'span12' }
%table.table.table-striped.table-bordered
  %thead
    %tr
      %th NUM
      %th NAME
  %tbody
    - @players.each do |player|
      %tr{ :class => cycle("odd","even") }
        %td.span1 #{player.jersey_number}
        %td.span11
          = player.full_name


