<% last_depth = -1 %>
<% pages = @pages.entries %>
<% pages.each_with_index do |page, i| %>
  <% diff = page.depth - last_depth %>
  <% if diff > 0 %>
    <% new_branch = true %>
    <% diff.times do %>
      <ul class="<%= 'trunk' if i == 0 %>" >
    <% end %>
  <% else %>
    </li>
    <% if diff < 0 %>
      <% (diff*-1).times do %>
        </ul></li>
      <% end %>
    <% end %>
  <% end %>
    <li id="page_<%= page.id %>">
      <div>
        <%= page.title %>
        <% if page.draft %> <em>(draft)</em><% end %>
        <% unless page.show_in_menu %> <em>(hidden)</em><% end %>
        <span class="actions">
          <%= link_to "Settings", edit_admin_page_path(page.id), :class => "btn btn-mini" %>
          <%= link_to 'Delete', [:admin, page], :confirm => 'Are you sure?', :method => :delete, :remote => true, :class => "btn btn-mini" %>
        </span>
      </div>
  <% last_depth = page.depth %>
<% end %>

