- title 'Visits'
- breadcrumb 'Visits'

.ui.three.column.grid
  .column
    .ui.segment
      %h4.ui.header Device
      = pie_chart @by_device, legend: false
  .column
    .ui.segment
      %h4.ui.header Operating System 
      = pie_chart @by_os, legend: false
  .column
    .ui.segment
      %h4.ui.header Browser
      = pie_chart @by_browser, legend: false   


.ui.grid
  .ten.wide.column= paginate @visits
  .six.wide.right.aligned.column!= page_entries_info @visits
%table.ui.celled.table
  %thead
    %tr
      %th ID
      %th IP
      %th User
      %th Device
      %th OS
      %th Browser
  %tbody
    - @visits.each do |visit|
      %tr
        %td= link_to visit.id, [:host, visit]
        %td= visit.ip
        %td= visit.user&.full_name
        %td= visit.device_type           
        %td= visit.os       
        %td= visit.browser
.ui.two.column.grid
  .ten.wide.column= paginate @visits
  .six.wide.right.aligned.column!= page_entries_info @visits


