- title "Visit ##{@visit.id}"
- breadcrumb 'Visits', host_visits_path
- breadcrumb @visit.id

%table.ui.definition.table
  %tbody
    %tr
      %td.four.wide Started
      %td= @visit.started_at    
    %tr
      %td User
      %td= @visit.user&.full_name  
    %tr
      %td IP
      %td= link_to @visit.ip, [:host, :visits, { ip: @visit.ip }]
    %tr
      %td Geo
      %td= "#{@visit.latitude}, #{@visit.longitude}"
    %tr
      %td Location
      %td
        = @visit.country  
        - if @visit.region.present?
          != " > "
          = @visit.region
          - if @visit.city.present?
            != " > "
            = @visit.city          
    %tr
      %td Device / OS / Browser
      %td
        = @visit.device_type
        != " > "
        = @visit.os
        != " > "
        = @visit.browser     
    %tr
      %td User Agent
      %td= @visit.user_agent           
    %tr
      %td Referrer
      %td= @visit.referrer  
    %tr
      %td Landing Page
      %td= @visit.landing_page   

%h2.ui.dividing.header Events

%table.ui.celled.table
  %thead
    %tr
      %th Date
      %th Time
      %th Name
      %th Description
  %tbody
    - @visit.events.where(visit: @visit).each do |event|
      %tr
        %td= link_to l(event.time, format: :short_date), host_events_path({ date: event.time.strftime("%y-%m-%d"), anchor: event.id})
        %td= link_to l(event.time, format: :short), [:host, event]
        %td= event.name
        %td
          - if event.name == 'controller:action'
            = link_to event.properties['path'], event.properties['path'], target: :blank
          - if event.name == 'exception'
            = event.properties['exception']        