.block.editable{ :id => "block_"+block.id.to_s }
  .inner
    .chrome
      .title= block.friendly_name
      .buttons
        .btn-group
          %button.btn.btn-small.dropdown-toggle{ :"data-toggle" => "dropdown" } 
            = icon('cog')
            %span.caret
          %ul.dropdown-menu
            - block.class.actions.each do |action|
              %li
                %a{ :class => "#{action}", :href => "#" }= icon(action.downcase)+' '+action.humanize 
            %li.divider
            %li 
              %a.move_up{ :href => "#" }= icon(:"arrow-up")+' Move Up'
            %li
              %a.move_down{ :href => "#" }= icon(:"arrow-down")+' Move Down'
            %li.divider
            %li
              = link_to icon(:trash)+' Delete', admin_page_block_path(@page, block), :confirm => 'Are you sure?', :method => :delete, :remote => true
      .clear
    .content
      = render :partial => block.class.to_s.pluralize.underscore+"/block", :object => block
    .actions
      - block.class.actions.each do |action|
        %div{ :class => "well #{action}" }    
          = render :partial => "admin/"+block.class.to_s.pluralize.underscore+"/"+action, :locals => { :block => block }