.block.editable{ :id => "block_"+block.id.to_s }
  .inner
    .chrome
      .title= block.friendly_name
      .buttons
        - block.class.actions.each do |action|
          %button{ :class => "btn btn-mini #{action}" }= action.humanize  
        %button.btn.btn-mini.move_up Move Up
        %button.btn.btn-mini.move_down Move Down
        = link_to 'Delete', admin_page_block_path(@page, block), :confirm => 'Are you sure?', :method => :delete, :remote => true, :class => 'btn btn-mini'
      .clear
    .content
      = render :partial => block.class.to_s.pluralize.underscore+"/block", :object => block
    .actions
      - block.class.actions.each do |action|
        %div{ :class => "well #{action}" }    
          = render :partial => "admin/"+block.class.to_s.pluralize.underscore+"/"+action, :locals => { :block => block }