- title "Edit " + @page.title
.well
  = link_to "Hide Controls", "#", :id => "toggle_editor", :class => 'btn'
  = link_to "Add Text", admin_page_blocks_path(@page.id, :block_type => 'text'), :method => :post, :remote => true, :class => 'btn'
  = link_to "Add Image", admin_page_blocks_path(@page.id, :block_type => 'image'), :method => :post, :remote => true, :class => 'btn'
  = link_to "Add Document", admin_page_blocks_path(@page.id, :block_type => 'document'), :method => :post, :remote => true, :class => 'btn'
  = link_to "Add Contact", admin_page_blocks_path(@page.id, :block_type => 'contact'), :method => :post, :remote => true, :class => 'btn'
  = link_to "Add Divider", admin_page_blocks_path(@page.id, :block_type => 'divider'), :method => :post, :remote => true, :class => 'btn'
  = link_to "Add Markup", admin_page_blocks_path(@page.id, :block_type => 'markup'), :method => :post, :remote => true, :class => 'btn'
#blocks
  = render :partial => "block", :collection => @page.blocks.asc(:position)

#dialog-modal

- content_for :javascript do
  :javascript
    $(function() {
      $("#toggle_editor").click(function(){
        if ($(this).text() == 'Show Controls') {
          $('.block').addClass('editable');
          $(this).text('Hide Controls');
        } else {
          $('.block').removeClass('editable');
          $(this).text('Show Controls');
        }
        return false;      
      });      
    });

    $(function() {
      $("#blocks").sortable({
        revert: "true",
        opacity: 0.7,
        placeholder: "ui-state-highlight",
        update: function( event, ui ) {  
          var items = $(this).sortable('serialize');
          $.ajax({
            type: 'post',
            data: items ,
            dataType: 'json',
            url: '#{position_admin_page_blocks_path(@page)}'
          }); 
        }
      });   
    });  