- title "Edit " + @page.title
- javascript("jquery-ui.min.js")
.well
  = link_to "Hide Controls", "#", :id => "toggle_editor", :class => 'btn'
  = link_to "Add Text", admin_page_blocks_path(@page.id, :block_type => 'text'), :method => :post, :remote => true, :class => 'btn'
  = link_to "Add Contact", admin_page_blocks_path(@page.id, :block_type => 'contact'), :method => :post, :remote => true, :class => 'btn'
  = link_to "Add Divider", admin_page_blocks_path(@page.id, :block_type => 'divider'), :method => :post, :remote => true, :class => 'btn'
.blocks
  = render :partial => "block", :collection => @page.blocks

#dialog-modal

- content_for :javascript do
  :javascript
    $(function() {
      $("#toggle_editor").click(function(){
        if ($(this).text() == 'Show Controls') {
          $('.block').addClass('editable');
          $(this).text('Hide Controls');
        } else {
          $('.block').removeClass('editable');
          $(this).text('Show Controls');
        }
        return false;      
      });      
    });
  