- title "Edit " + @page.title
.well
  = link_to "Hide Controls", "#", :id => "toggle_editor", :class => 'btn'
  = link_to "Add Text", admin_page_blocks_path(@page.id, :block_type => 'text'), :method => :post, :remote => true, :class => 'btn'
  = link_to "Add Image", admin_page_blocks_path(@page.id, :block_type => 'image'), :method => :post, :remote => true, :class => 'btn'
  = link_to "Add Document", admin_page_blocks_path(@page.id, :block_type => 'document'), :method => :post, :remote => true, :class => 'btn'
  = link_to "Add Contact", admin_page_blocks_path(@page.id, :block_type => 'contact'), :method => :post, :remote => true, :class => 'btn'
  = link_to "Add Divider", admin_page_blocks_path(@page.id, :block_type => 'divider'), :method => :post, :remote => true, :class => 'btn'
  = link_to "Add Markup", admin_page_blocks_path(@page.id, :block_type => 'markup'), :method => :post, :remote => true, :class => 'btn'
  = link_to "Add Carousel", admin_page_blocks_path(@page.id, :block_type => 'carousel'), :method => :post, :remote => true, :class => 'btn'
#blocks
  = render :partial => "block", :collection => @page.blocks.asc(:position)

#dialog-modal

:css
  #blocks .block:first-child .move_up {
    display: none;
  }
  #blocks .block:last-child .move_down {
    display: none;
  }
  #blocks .block div.actions > div {
    display: none;
  }

- content_for :javascript do
  :javascript
    $(function() {
      $("#toggle_editor").click(function(){
        if ($(this).text() == 'Show Controls') {
          $('.block').addClass('editable');
          $(this).text('Hide Controls');
        } else {
          $('.block').removeClass('editable');
          $(this).text('Show Controls');
        }
        return false;      
      });      
    });
    
    $(function() {
      $('button.edit').click(function(){
        toggleEditor($(this));
      });
      $('button.move_up').click(function(){
        var $block = $(this).closest('.block');
        $block.insertBefore($block.prev());
        updateBlockPositions();
      });
      $('button.move_down').click(function(){
        var $block = $(this).closest('.block');
        $block.insertAfter($block.next());
        updateBlockPositions();
      });
    });
    
    function toggleEditor($button){
      var $block = $button.closest('.block');
      $block.find('.content').slideToggle();
      $block.find('div.edit').slideToggle();      
    }
    
    function updateBlockPositions() {
      var items = '';
      $.each($("#blocks .block"), function(){
        var id = $(this).attr("id");
        items += id.replace("_","[]=") + "&";
      })
      $.ajax({
        type: 'post',
        data: items ,
        dataType: 'json',
        url: '#{position_admin_page_blocks_path(@page)}'
      });
    }
