
<% title @division.name << " :: Seasons" %>

<table border="1" cellpadding="5" style="border-collapse: collapse;">
  <tr>
    <th>Name</th>
    <th>Starts on</th>
    <th>Ends on</th>
    <th>Related</th>
    <th>Actions</th>
  </tr>

<% @seasons.each do |season| %>
  <tr>
    <td><%= season.name %></td>
    <td><%= season.starts_on %></td>
    <td><%= season.ends_on %></td>
    <td>
      <%= link_to 'Teams', season_teams_path(season)%> | 
      <%= link_to 'Games', season_games_path(season)%>
    </td>
    <td>
      <%= link_to 'Show', season %> |
      <%= link_to 'Edit', edit_season_path(season) %> |
      <%= link_to 'Destroy', season, :confirm => 'Are you sure?', :method => :delete %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Season', new_division_season_path(@division) %>
