<h1>
  <% @season.name_path.each_with_index do |name, count| %>
    <%= ' :: ' if count > 0 %>
    <%= name %>
  <% end %>
</h1>
<p>
  From <%= @season.starts_on %> to <%= @season.ends_on %>
</p>

<%= link_to 'Edit', edit_season_path(@season) %> |
<%= link_to 'All Seasons', division_seasons_path(@season.division_id) %>

<h3>Teams</h3>
<%= render "teams_list" %>

<h3>Games</h3>
