<% title @season.name_path[0] << " :: " << @season.name %>
<% breadcrumbs @season.breadcrumbs %>
<p>
  From <%= @season.starts_on %> to <%= @season.ends_on %>
</p>

<%= link_to 'Edit', edit_season_path(@season) %> |
<%= link_to 'All Seasons', division_seasons_path(@season.division_id) %>

<h3>Teams</h3>
<%= render "teams_list" %>

<h3>Games</h3>
