- title Dashboard

%h3 Host
%ul
  %li #{link_to 'Tenants', host_tenants_path}
  %li #{link_to 'Users', host_users_path}
  %li #{link_to 'Visits', host_visits_path}
  %li #{link_to 'Exceptions', host_exceptions_path}
  %li #{link_to 'Status', host_status_path}

