- title Host

.ui.vertical.menu
  = link_to 'Tenants', host_tenants_path, class: [:item]
  = link_to 'Users', host_users_path, class: [:item]
  = link_to 'Visits', host_visits_path, class: [:item]
  = link_to 'Exceptions', host_exceptions_path, class: [:item]
  = link_to 'Status', host_status_path, class: [:item]

