
<% title @season.name %> 
<% breadcrumbs @season.breadcrumbs %>
<% content_for :area_menu do %>
  <%= render  "league/shared/season_area_menu" %>
<% end %>
<%= link_to 'Edit', edit_league_season_path(@season) %> | 
<%= link_to 'Delete', [:league, @season], :confirm => 'Are you sure?', :method => :delete %>
<p>
  From <%= @season.starts_on %> to <%= @season.ends_on %>
</p>


