= simple_form_for [:admin, @chromecast], remote: true do |f|
  .panel.panel-default
    .panel-body
      = f.input :name, readonly: true do
        = f.text_field :name, readonly: true, class: 'form-control'
        %button#cast.btn.btn-default{ style: 'margin-top: 5px;'} Choose Chromecast
      = f.input :location_id, collection: Location.order('name ASC')
      = f.input :playing_surface_id
  = f.button :wrapped, :cancel => return_url

  - content_for :javascript do
    = javascript 'https://www.gstatic.com/cv/js/sender/v1/cast_sender.js?loadCastFramework=1'
    = javascript 'cast-away'

    :javascript
      (function() {

        window['__onGCastApiAvailable'] = function(loaded, errorInfo) {
          if (loaded) {
          debugger;
            window.sportified.chromecast.initialize();
          } else {
            console.log(errorInfo);
          }
        }

      }).call(this);

