= simple_form_for [:admin, @chromecast], remote: true do |f|
  .panel.panel-default
    .panel-body
      = f.input :name
      = f.input :location_id, collection: Location.order('name ASC')
      = f.input :playing_surface_id
  = f.button :wrapped, :cancel => return_url

