= simple_form_for [:admin, @chromecast], remote: true do |f|
  = f.input :name, readonly: true do
    = f.text_field :name, readonly: true, class: 'form-control'
    %button#cast.ui.primary.button{ style: 'margin-top: 5px;'} Choose Chromecast
  = f.input :location_id, collection: Location.order('name ASC')
  = f.input :playing_surface_id
  = f.button :wrapped, :cancel => return_url

  - content_for :javascript do

    :javascript
      (function() {
        window['__onGCastApiAvailable'] = function(loaded, errorInfo) {
          if (loaded) {
            window.sportified.chromecast.initialize();
          } else {
            console.log(errorInfo);
          }
        }

      }).call(this);

    = javascript_include_tag '//www.gstatic.com/cv/js/sender/v1/cast_sender.js?loadCastFramework=1'
    = javascript_include_tag 'cast-away'      

:css

  .chromecast_name,
  .chromecast_location_id,
  .chromecast_playing_surface_id {
    max-width: 400px;
  }
