- title 'Chromecasts'
- page_actions do
  = link_to 'New Chromecast', new_admin_chromecast_path, class: [:ui, :primary, :button]

.ui.container
  %table.ui.celled.striped.table
    %thead
      %tr
        %th Name
        %th Location
        %th Refreshed
        %th Actions
    %tbody
      - @chromecasts.each do |chromecast|
        %tr[chromecast]
          %td= chromecast.name
          %td= chromecast.location&.name
          %td= "#{time_ago_in_words(chromecast.refreshed_at)} ago" if chromecast.refreshed_at.present?
          %td
            = link_to 'Edit', [:edit, :admin, chromecast], class: [:ui, :primary, :mini, :button]
            != ' '
            = link_to 'Delete', [:admin, chromecast], class: [:ui, :primary, :mini, :button],
                                method: :delete,
                                remote: true
