.ui.segment[team]{ :style => "background-color: #{team.primary_color || '#FFF'};" }
  .div{ style: 'width: 100px; float: left;' }
    = image_tag team.logo.small.url, style: 'width: 100px;' if team.logo?
  .div{ style: 'float: left; margin-left: 20px'}
    %h3.name{ :style => "color: #{team.secondary_color}"}= team.name
    .links
      = link_to "Schedule", league_team_schedule_path(team.program.slug, team.division.slug, team.season.slug, team.slug), { :style => "color: #{team.accent_color};" }
      - if @division.show_players
        %span{ :style=> "color: #{team.secondary_color}"}!= " | "
        = link_to "Roster", league_team_roster_path(team.program.slug, team.division.slug, team.season.slug, team.slug), { :style => "color: #{team.accent_color};" }
      - if @division.show_statistics
        %span{ :style=> "color: #{team.secondary_color}"}!= " | "
        = link_to "Statistics", league_team_statistics_path(team.program.slug, team.division.slug, team.season.slug, team.slug), { :style => "color: #{team.accent_color};" }
  .div{ style: 'clear: both;' }
