- title "Roster"
- content_for :banner do
  = render partial: 'team', locals: { team: @team }

.ui.grid
  .left.floated.four.wide.column
    = select("team", :id, @team_links, { selected: request.fullpath }, { class: [:ui, :dropdown, :redirect_to] })

%table.ui.celled.striped.unstackable.table
  %thead
    %tr
      %th NUM
      %th NAME
  %tbody
    - @players.each do |player|
      %tr{ class: cycle(:odd, :even) }
        %td.span1 #{player.jersey_number}
        %td.span11
          = link_to "#{player.full_name}#{'*' if player.substitute}", league_player_path(@program.slug, @division.slug, @season.slug, @team.slug, player.slug, player.id)
