- title "Schedule"
- last_month = nil
- content_for :banner do
  = render partial: 'team', locals: { team: @team }

.ui.grid
  .left.floated.four.wide.column
    = select("team", :id, @team_links, { selected: request.fullpath }, { class: [:ui, :dropdown, :redirect_to] })

  .right.floated.four.wide.column{ style: 'text-align: right;' }
    %a.ui.basic.button{ href: url_for(params.permit.merge(format: :ics))}
      = semantic_icon(:calendar)
      iCal    

.flex.flex-col.gap-4
  .grid
  - @events.group_by{|e| e.starts_on.strftime('%B')}.each do |month, events|
    %table.border-collapse.border.border-gray-200
      %thead
        %tr
          %th(class="border border-gray-200 p-3 text-left font-semibold bg-gray-50 w-1/6") DATE
          %th(class="border border-gray-200 p-3 text-left font-semibold bg-gray-50 w-1/3") EVENT
          %th(class="border border-gray-200 p-3 text-left font-semibold bg-gray-50 w-1/6") TIME / RESULT
          %th(class="border border-gray-200 p-3 text-left font-semibold bg-gray-50 w-1/3") LOCATION
      %tbody
        - events.each do |event|
          %tr
            %td(class="border border-gray-200 p-3 align-top")= event.starts_on.strftime('%a, %b %e')
            %td(class="border border-gray-200 p-3 align-top")= display_event_summary(event, @team)
            %td(class="border border-gray-200 p-3 align-top")= display_time_or_result(event, @team)
            %td(class="border border-gray-200 p-3 align-top")= event.try(:location).try(:name)
