- title "Schedule"
- last_month = nil
- content_for :banner do
  = render partial: 'team', locals: { team: @team }

.ui.grid
  .left.floated.four.wide.column
    = select("team", :id, @team_links, { selected: request.fullpath }, { class: [:ui, :dropdown, :redirect_to] })

  .right.floated.four.wide.column{ style: 'text-align: right;' }
    %a.ui.basic.button{ href: url_for(params.permit.merge(format: :ics))}
      = semantic_icon(:calendar)
      iCal    

- @events.group_by{|e| e.starts_on.strftime('%B')}.each do |month, events|
  %table.ui.celled.striped.table
    %thead
      %tr
        %th.three.wide DATE
        %th.seven.wide EVENT
        %th.three.wide TIME / RESULT
        %th.three.wide LOCATION
    %tbody
      - events.each do |event|
        %tr
          %td= event.starts_on.strftime('%a, %b %e')
          %td= display_event_summary(event, @team)
          %td= display_time_or_result(event, @team)
          %td= event.try(:location).try(:name)
