- title "Statistics"
- content_for :banner do
  = render partial: 'team', locals: { team: @team }

.ui.grid
  .left.floated.four.wide.column
    = select("team", :id, @team_links, { selected: request.fullpath }, { class: [:ui, :dropdown, :redirect_to] })

%table.team-statistics.players.ui.celled.striped.table
  %thead
    %tr
      %th{ colspan: 11} PLAYERS
    %tr
      %th.player NAME
      %th.stat GP
      %th.stat G
      %th.stat A
      %th.stat PTS
      %th.stat PEN
      %th.stat PIM
      %th.stat MNR
      %th.stat MJR
      %th.stat MSC
      %th.stat GAME
    %tbody
      - @players.each do |skater|
        %tr
          %td.player
            = [skater.player.first_name, skater.player.last_name].join(" ")
            = "*" if skater.player.substitute?
          %td.stat.one.wide= skater.games_played
          %td.stat.one.wide= skater.goals
          %td.stat.one.wide= skater.assists
          %td.stat.one.wide= skater.points
          %td.stat.one.wide= skater.penalties
          %td.stat.one.wide= skater.penalty_minutes
          %td.stat.one.wide= skater.minor_penalties
          %td.stat.one.wide= skater.major_penalties
          %td.stat.one.wide= skater.misconduct_penalties
          %td.stat.one.wide= skater.game_misconduct_penalties

%table.team-statistics.goalies.ui.celled.striped.table
  %thead
    %tr
      %th{ colspan: 7} GOALTENDERS  
    %tr
      %th NAME
      %th.stat GP
      %th.stat TOI
      %th.stat SA
      %th.stat GA
      %th.stat SV
      %th.stat SV%
    %tbody
      - @goalies.each do |goalie|
        %tr
          %td
            = [goalie.player.first_name, goalie.player.last_name].join(" ")
            = "*" if goalie.player.substitute?
          %td.stat= goalie.games_played
          %td.stat= goalie.minutes_played
          %td.stat= goalie.shots_against
          %td.stat= goalie.goals_against
          %td.stat= goalie.saves
          %td.stat= number_with_precision goalie.save_percentage, :precision => 3

