- title "Statistics"
- content_for :banner do
  .row.banner
    = render :partial => "team", :locals => { :team => @team, :class_name => "col-xs-12" }

%table.team-statistics.players.table.table-striped.table-bordered
  %thead
    %tr
      %th.title{ :colspan => "11" } PLAYERS
    %tr
      %th.player NAME
      %th.stat GP
      %th.stat G
      %th.stat A
      %th.stat PTS
      %th.stat PEN
      %th.stat PIM
      %th.stat MNR
      %th.stat MJR
      %th.stat MSC
      %th.stat GAME
    %tbody
      - @players.each do |skater|
        %tr
          %td.player
            = [skater.player.first_name, skater.player.last_name].join(" ")
            = "*" if skater.player.substitute?
          %td.stat= skater.games_played
          %td.stat= skater.goals
          %td.stat= skater.assists
          %td.stat= skater.points
          %td.stat= skater.penalties
          %td.stat= skater.penalty_minutes
          %td.stat= skater.minor_penalties
          %td.stat= skater.major_penalties
          %td.stat= skater.misconduct_penalties
          %td.stat= skater.game_misconduct_penalties

%table.team-statistics.table.table-striped.table-bordered
  %thead
    %tr
      %th.title{ :colspan => "11" } GOALTENDERS
    %tr
      %th NAME
      %th.span1 GP
      %th.span1 TOI
      %th.span1 SA
      %th.span1 GA
      %th.span1 SV
      %th.span1 SV%
    %tbody
      - @goalies.each do |goalie|
        %tr
          %td
            = [goalie.player.first_name, goalie.player.last_name].join(" ")
            = "*" if goalie.player.substitute?
          %td= goalie.games_played
          %td= goalie.minutes_played
          %td= goalie.shots_against
          %td= goalie.goals_against
          %td= goalie.saves
          %td= number_with_precision goalie.save_percentage, :precision => 3

