.ui.computer.tablet.only.grid
  .column
    %table.standings.ui.celled.striped.table
      %thead
        %tr
          %th.rank
          %th.team TEAM
          %th.stat GP
          %th.stat W
          %th.stat L
          %th.stat SOL
          - if @ties
            %th.stat T
          -# %th.stat.visible-xs RECORD
          %th.stat.points PTS
          %th.stat GF
          %th.stat GA
          %th.stat +/-
          %th.stat STREAK
          %th.stat
      %tbody
        - last_pool = nil
        - last_points = 0
        - @teams.order('pool, seed, points DESC, wins, margin DESC').each_with_index do |team, i|
          - unless team.pool.blank? or team.pool == last_pool
            %tr
              %th{:colspan => 10}= team.pool
            - last_pool = team.pool
          %tr
            %td.rank= team.seed || i + 1
            %td.team
              %div{ :style => "display: flex; align-items: center;"}
                .pull-left{ :style => "height: 25px; width: 25px; margin-right: 8px; vertical-align: middle"}
                  %img{ :src => team.logo.micro }
                = link_to team.name, league_team_schedule_path(@program.slug, @division.slug, @season.slug, team.slug)
            %td.stat= team.games_played
            %td.stat= team.wins
            %td.stat= team.losses
            %td.stat= team.shootout_losses
            - if @ties
              %td.stat= team.ties
            -# %td.stat.visible-xs= "#{team.wins}-#{team.losses}-#{team.shootout_losses}"
            %td.stat.points= team.points
            %td.stat= team.scored
            %td.stat= team.allowed
            %td.stat= team.margin
            %td.stat
              = team.streak
            %td.stat
              - if team.last_result == 'W' and team.current_run > 2
                - if team.current_run >= 5
                  .ui.circular.red.label{ data: { tooltip: 'En Fuego!'}}
                    = semantic_icon(:fire, :alt, class: :fitted)
                - if team.current_run < 5
                  .ui.circular.red.label{ data: { tooltip: 'Moving Up...'}}
                    = semantic_icon(:arrow, :up, class: :fitted)
              - if team.last_result == 'L' and team.current_run > 2
                - if team.current_run >= 5
                  .ui.circular.blue.label{ data: { tooltip: 'Need a cold one!'}}
                    = semantic_icon(:beer, class: :fitted)
                - if team.current_run < 5
                  .ui.circular.blue.label{ data: { tooltip: 'Fading...'}}
                    = semantic_icon(:arrow, :down, class: :fitted)

.ui.mobile.only.grid
  .column
    %table.standings.ui.celled.striped.unstackable.table
      %thead
        %tr
          %th.rank
          %th.team TEAM
          %th.stat.points.visible-xs POINTS
      %tbody
        - last_pool = nil
        - last_points = 0
        - @teams.order('pool, seed, points DESC, wins, margin DESC').each_with_index do |team, i|
          - unless team.pool.blank? or team.pool == last_pool
            %tr
              %th{:colspan => 10}= team.pool
            - last_pool = team.pool
          %tr
            %td.rank= team.seed || i + 1
            %td.team
              %div{ :style => "display: flex; align-items: center;"}
                .pull-left{ :style => "height: 25px; width: 25px; margin-right: 8px; vertical-align: middle"}
                  %img{ :src => team.logo.micro }
                = link_to team.name, league_team_schedule_path(@program.slug, @division.slug, @season.slug, team.slug)
            %td.stat.points= team.points

