%table.border-collapse.border.border-gray-200.w-full
  %thead
    %tr
      %th(class="border border-gray-200 p-3 text-left font-semibold bg-gray-50 w-16 hidden md:table-cell")
      %th(class="border border-gray-200 p-3 text-center font-semibold bg-gray-50") TEAM
      %th(class="border border-gray-200 p-3 text-center font-semibold bg-gray-50 w-16 hidden md:table-cell") GP
      %th(class="border border-gray-200 p-3 text-center font-semibold bg-gray-50 w-16 hidden md:table-cell") W
      %th(class="border border-gray-200 p-3 text-center font-semibold bg-gray-50 w-16 hidden md:table-cell") L
      - if @ties
        %th(class="border border-gray-200 p-3 text-center font-semibold bg-gray-50 w-16 hidden md:table-cell") T
      %th(class="border border-gray-200 p-3 text-center font-semibold bg-gray-100 w-16") PCT
      %th(class="border border-gray-200 p-3 text-center font-semibold bg-gray-50 w-16 hidden lg:table-cell") PF
      %th(class="border border-gray-200 p-3 text-center font-semibold bg-gray-50 w-16 hidden lg:table-cell") PA
      %th(class="border border-gray-200 p-3 text-center font-semibold bg-gray-50 w-16 hidden lg:table-cell") +/-
      %th(class="border border-gray-200 p-3 text-center font-semibold bg-gray-50 w-16 hidden md:table-cell") STRK
      %th(class="border border-gray-200 p-3 text-center font-semibold bg-gray-50 w-16 hidden md:table-cell")
  %tbody
    - last_pool = nil
    - last_points = 0
    - @teams.order('pool, seed, points DESC, wins, margin DESC').each_with_index do |team, i|
      - unless team.pool.blank? or team.pool == last_pool
        %tr
          %th{:colspan => 10}= team.pool
        - last_pool = team.pool
      %tr
        %td(class="border border-gray-200 p-3 text-center font-semibold hidden md:table-cell")= team.seed || i + 1
        %td(class="border border-gray-200 p-3")
          %div{ :style => "display: flex; align-items: center;"}
            .pull-left{ :style => "height: 25px; width: 25px; margin-right: 8px; vertical-align: middle"}
              %img{ :src => team.logo.micro }
            = link_to team.name, league_team_schedule_path(@program.slug, @division.slug, @season.slug, team.slug)
        %td(class="border border-gray-200 p-3 text-center hidden md:table-cell")= team.games_played
        %td(class="border border-gray-200 p-3 text-center hidden md:table-cell")= team.wins
        %td(class="border border-gray-200 p-3 text-center hidden md:table-cell")= team.losses
        - if @ties
          %td(class="border border-gray-200 p-3 text-center hidden md:table-cell")= team.ties
        -# %td.stat.visible-xs= "#{team.wins}-#{team.losses}-#{team.shootout_losses}"
        %td(class="border border-gray-200 p-3 text-center bg-gray-100")=  number_with_precision(team.percent, precision: 3)
        %td(class="border border-gray-200 p-3 text-center hidden lg:table-cell")= team.scored
        %td(class="border border-gray-200 p-3 text-center hidden lg:table-cell")= team.allowed
        %td(class="border border-gray-200 p-3 text-center hidden lg:table-cell")= team.margin
        %td(class="border border-gray-200 p-3 text-center hidden md:table-cell")= team.streak
        %td(class="border border-gray-200 p-3 text-center hidden md:table-cell")
          - if team.last_result == 'W' and team.current_run > 2
            - if team.current_run >= 5
              %span(class="bg-red-600 text-yellow-300 rounded-full h-6 w-6 inline-block leading-normal" title="En Fuego 🔥🔥🔥")
                %i(class="far fa-fire-alt")
            - if team.current_run < 5
              %span(class="bg-amber-500 text-white rounded-full h-6 w-6 inline-block leading-normal" title="Heating Up")
                %i(class="far fa-arrow-up")
          - if team.last_result == 'L' and team.current_run > 2
            - if team.current_run >= 5
              %span(class="bg-blue-400 text-white rounded-full h-6 w-6 inline-block leading-normal" title="Ice Cold")
                %i(class="far fa-snowflake")            
            - if team.current_run < 5
              %span(class="bg-sky-700 text-white rounded-full h-6 w-6 inline-block leading-normal" title="Cooling Down")
                %i(class="far fa-arrow-down")