= simple_form_for @item do |f|
  = f.input :title
  = f.input :summary
  = f.input :description, as: :markdown#, input_html: { rows: 3 }
  = f.input :active
  %h4.ui.dividing.header Variants
  .ui.divided.items#variants
    = f.simple_fields_for :variants do |variant|
      = render 'variant_fields', f: variant
    .links
      .ui.divider
      = link_to_add_association 'Add Variant', f, :variants, class: [:ui, :small, :button]
  .ui.divider
  = f.button :wrapped, :cancel => return_url

- content_for :javascript do
  = javascript_pack_tag :application
  :javascript

    $(function() {
      $('.item_variants_form_packet .ui.selection.dropdown')
        .dropdown({
          clearable: true
        });
    })
