= simple_form_for @item do |f|
  = f.input :title
  = f.input :description, input_html: { rows: 3 }
  = f.input :active
  %h4.ui.dividing.header Variants
  .ui.divided.items#variants
    = f.simple_fields_for :variants do |variant|
      = render 'variant_fields', f: variant
    .links
      .ui.divider
      = link_to_add_association 'Add Variant', f, :variants, class: [:ui, :small, :button]
  .ui.divider
  = f.button :wrapped, :cancel => return_url
