- title @registrable.title
- page_actions do
  = link_to 'Edit', edit_registrar_registrable_path(@registrable), class: 'btn btn-primary' if current_user_is_admin?

%p= @registrable.description

%pre TODO: allow additional detailed content to appear here, perhaps allowing the use of Markdown for formatted content

%table.table
  %thead
    %th OPTION
    %th PRICE
    %th
  %tbody
    - @registrable.registration_types.each do |type|
      %tr
        %td
          .title{style: 'font-weight: bold'}= type.title
          .description= type.description
        %td= type.price ? number_to_currency(type.price) : 'FREE'
        %td= link_to 'Register', new_registrar_registration_type_registration_path(type), { class: 'btn btn-primary'}

%hr
= link_to 'Back', registrar_registrables_path
