template(bindable="select")

  .btn-group(role="group", aria-label="...")
    button.btn.btn-default(type="button", 
                           repeat.for="view of views",
                           click.delegate="select(view.name)",
                           class="${ (viewName == view.name) ? 'active' : 'boo'}") ${view.label}
