template
  require(from="./calendar-table-event.css")

  .event(css="height: ${height}; border-color: ${color}")
    a(role="button", tabindex="0")
      .title ${event.summary}
    .popover-template
      .popover(role="tooltip")
        .arrow
        h3.popover-title
        .popover-body
          dl
            dt Start
            dd ${start}
            dt End
            dd ${end}
            dt Location
            dd ${event.location.name}
          button.btn.btn-default Edit
