<h1>Listing leagues</h1>

<table border="1" cellpadding="5" style="border-collapse: collapse;">
  <tr>
    <th>Name</th>
    <th>Sport</th>
    <th>Actions</th>
  </tr>

<% @leagues.each do |league| %>
  <tr>
    <td><%= league.name %></td>
    <td><%= league.sport_name %></td>
    <td>
      <%= link_to 'Show', league %>
      <%= link_to 'Edit', edit_league_path(league) %>
      <%= link_to 'Destroy', league, :confirm => 'Are you sure?', :method => :delete %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New League', new_league_path %>
