%h3
  %span.first= block.first
  != ' '
  %span.last= block.last
%p.title= block.title if block.title.presence
%p.phone= block.phone if block.phone.presence
%p.email= link_to block.email, "mailto:#{block.email}" if block.email.presence
