.ui.fluid.card
  .content
    .header= [block.first, " ", block.last].join
    - if block.title.presence
      .meta= block.title
  - if block.phone.presence
    .content
      = semantic_icon(:phone)
      = block.phone
  - if block.email.presence
    .content
      =semantic_icon(:mail)
      %a{ :href => "mailto:#{block.email}"}= block.email
