{{#nav-tabs}}
  {{#nav-tab url=(query-params tab="time")}}
    {{editor/time-display time=time}}
  {{/nav-tab}}
  {{#nav-tab url=(query-params tab="team")}}
    {{editor/team-display team=team}}
  {{/nav-tab}}
  {{#nav-tab url=(query-params tab="scoredBy")}}
    {{editor/skater-display label="Scored By" skater=scoredBy}}
  {{/nav-tab}}
  {{#nav-tab url=(query-params tab="assistedBy")}}
    {{editor/skater-display label="Assisted By" skater=assistedBy}}
  {{/nav-tab}}
  {{#nav-tab url=(query-params tab="alsoAssistedBy")}}
    {{editor/skater-display label="Also Assisted By" skater=alsoAssistedBy}}
  {{/nav-tab}}
{{/nav-tabs}}
{{#tab-content name="time" selected=tab}}
  {{editor/time-picker game=game selected=time onSelection=(action "setTime")}}
{{/tab-content}}
{{#tab-content name="team" selected=tab}}
  {{editor/team-picker game=game selected=team onSelection=(action "setTeam")}}
{{/tab-content}}
{{#tab-content name="scoredBy" selected=tab}}
  {{editor/skater-picker skaters=teamSkaters selected=scoredBy onSelection=(action "setScoredBy")}}
{{/tab-content}}
{{#tab-content name="assistedBy" selected=tab}}
  {{editor/skater-picker skaters=teamSkaters selected=assistedBy onSelection=(action "setAssistedBy")}}
{{/tab-content}}
{{#tab-content name="alsoAssistedBy" selected=tab}}
  {{editor/skater-picker skaters=teamSkaters selected=alsoAssistedBy onSelection=(action "setAlsoAssistedBy")}}
{{/tab-content}}
<hr/>
{{#link-to "game.index" game.id class="btn btn-default" }}Back to Game{{/link-to}}
<button class="btn btn-primary" {{action "submit"}}>Submit</button>
