- if @block.file?
  .row-fluid
    .span12{ :style => "text-align: center; margin-bottom: 20px;"}
      = image_tag @block.file.thumb.url, :align => "center"
= simple_form_for @block, :url => page_blocks_image_path(@page, @block), :remote => true do |f|
  = f.input :file, :as => :file
  = f.input :remote_file_url
  = f.input :file_cache, :as => :hidden
  = f.input :link_url, :hint => "Optional.  If provided clicking image will navigate to here"


