- title @user.name
%table.table.table-bordered
  %tbody
    %tr
      %th{:scope => 'row'} Id
      %td #{@user.id}
    %tr
      %th{:scope => 'row'} Name
      %td #{@user.name}
    %tr
      %th{:scope => 'row'} Email
      %td #{@user.email}
    %tr
      %th{:scope => 'row'} Sign In Count
      %td #{@user.sign_in_count}
    %tr
      %th{:scope => 'row'} Last Sign In
      %td #{@user.last_sign_in_at}
%h3 Roles
%table.table.table-striped.table-bordered
  %thead
    %tr
      %th{:scope => 'col'} Title
      %th{:scope => 'col'} Site
      %th{:scope => 'col'} Subject
      %th{:scope => 'col'} Action
  %tbody
    - @user.roles.each do |role|
      %tr
        %td #{role.title}
        %td #{role.site_id}
        %td #{role.subject_id}
        %td Delete
