- title "#{@user.first_name} #{@user.last_name}"
%table.ui.definition.table
  %tbody
    %tr
      %td.four.wide Id
      %td #{@user.id}
    %tr
      %td Name
      %td= "#{@user.first_name} #{@user.last_name}"
    %tr
      %td Email
      %td @user.email
    %tr
      %td Sign In Count
      %td #{@user.sign_in_count}
    %tr
      %td Last Sign In
      %td @user.last_sign_in_at

%h3.dividing.header Roles

%table.ui.celled.table
  %thead
    %tr
      %th Title
      %th Tenant
      %th Action
  %tbody
    - @user.roles.each do |role|
      %tr
        %td= role.title
        %td= role.tenant_id
        %td Delete
