= simple_form_for [:admin, @team, @player] do |f|
  = f.input :first_name
  = f.input :last_name
  = f.input :jersey_number
  = f.input :birthdate
  = f.input :email
  = f.input :substitute, :as => :boolean, :wrapper => :vertical_boolean
  = f.button :wrapped, :cancel => return_url

