= simple_form_for [:assign, :admin, form], method: :patch, remote: true do |f|
  = f.input :date, as: :hidden
  .panel.panel-default
    .panel-heading
      .pull-left
        %h4= "Locker Rooms for #{form.date_display}"
      .pull-right
        .btn-group
          = link_to '<', admin_root_path({ date: form.date.yesterday }), class: 'btn btn-default'
          = link_to 'Today', admin_root_path({}), class: 'btn btn-default'
          = link_to '>', admin_root_path({ date: form.date.tomorrow }), class: 'btn btn-default'
      .clear
    .list-group
      = f.simple_fields_for :events do |ef|
        - i = ef.options[:child_index]
        .list-group-item
          %h5.list-group-heading= "#{ef.object.starts_on} - #{ef.object.summary}"
          .row
            .col-sm-6
              = ef.input :home_team_name, label: 'Home'
              .form-group
                .btn-group{ data: { toggle: :buttons }}
                  - unless ef.object.locker_rooms
                    %em No Location assigned for this game
                  - ef.object.locker_rooms&.each do |locker_room|
                    - checked = (locker_room.id == ef.object.home_team_locker_room_id)
                    %label.btn.btn-default{ class: checked ? 'active' : '' }
                      %input{ type: :radio, name: "event[events_attributes][#{i}][home_team_locker_room_id]", value: locker_room.id, checked: checked}
                      = locker_room.name
            .col-sm-6
              = ef.input :away_team_name, label: 'Away'
              .form-group
                .btn-group{ data: { toggle: :buttons }}
                  - unless ef.object.locker_rooms
                    %em No Location assigned for this game
                  - ef.object.locker_rooms&.each do |locker_room|
                    - checked = (locker_room.id == ef.object.away_team_locker_room_id)
                    %label.btn.btn-default{ class: checked ? 'active' : '' }
                      %input{ type: :radio, name: "event[events_attributes][#{i}][away_team_locker_room_id]", value: locker_room.id, checked: checked}
                      = locker_room.name
    .panel-footer
      = f.button :wrapped, 'Update Events'
