%tr{ :id => "event_#{event.id.to_s}" }
  %td= event.starts_on.strftime('%l:%M %p')
  %td= event.class.name
  %td= event.summary
  %td
    = event.location.short_name if event.location
    = " - #{event.playing_surface.name}" if event.type == 'Game' && event.playing_surface
  %td
    .btn-group.btn-block.pull-right
      %button.btn.btn-block.btn-primary.btn-sm.dropdown-toggle{ type: "button", data: { toggle: "dropdown"}}
        Action
        %span.caret
      %ul.dropdown-menu
        %li.dropdown-header Event
        %li
          = link_to 'Edit', edit_polymorphic_path([:admin, event.module_name, event])
        %li
          = link_to 'Clone', new_polymorphic_path([:admin, event.module_name, event.class], :clone => event.id)
        %li
          = link_to "Delete", admin_event_path(event), :confirm => 'Are you sure?', :method => :delete
        - if event.class.to_s == 'League::Game'
          %li.divider{role: "separator"}
          %li.dropdown-header Game
          %li
            = link_to 'Result', edit_admin_game_result_path(event.id)
            = link_to 'Statsheet', edit_admin_game_statsheet_path(event.id)




