<% title 'Standings' %>
<% breadcrumbs @season.breadcrumbs %>
<% content_for :area_menu do %>
  <%= render  "league/shared/season_area_menu" %>
<% end %>

<% @division.seasons.each do |season| %>
  <%= link_to_standings @division, season %>
<% end %>
<table border="1" width="90%" cellpadding="5" style="border-collapse: collapse;">
  <tr>
    <th>TEAM</th>
    <th>GP</th>
    <th>W</th>
    <th>L</th>
    <th>T</th>
    <th>PTS</th>
    <th>GF</th>
    <th>GA</th>
    <th>+/-</th>
  </tr>

<% @team_records.each do |record| %>
    <tr>
      <td><%= record.team_name %></td>
      <td style="text-align: center; width: 50px;"><%= record.games_played %></td>
      <td style="text-align: center; width: 50px;"><%= record.wins %></td>
      <td style="text-align: center; width: 50px;"><%= record.losses %></td>
      <td style="text-align: center; width: 50px;"><%= record.ties %></td>
      <td style="text-align: center; width: 50px;"><%= record.points %></td>
      <td style="text-align: center; width: 50px;"><%= record.goals_scored %></td>
      <td style="text-align: center; width: 50px;"><%= record.goals_allowed %></td>
      <td style="text-align: center; width: 50px;"><%= record.goal_differential %></td>
    </tr>
<% end %>
</table>
