- title 'Standings'
- @season.divisions.asc(:name).each do |division|
  %h2= division.name
  %table.table.table-striped.table-bordered
    %thead
      %tr
        %th TEAM
        %th GP
        %th W
        %th L
        %th PTS
      %tbody
        - division.teams.asc(:name).each do |team|
          %tr
            %td= team.name
            %td= team.record.gp
            %td= team.record.w
            %td= team.record.l
            %td= team.record.pts

