- title "Sign up"
- resource.email = params[:email] if params[:email]
= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
  = f.input :email
  = f.input :first_name
  = f.input :last_name
  = f.input :password
  = f.input :password_confirmation
  .form-actions
    = f.submit "Sign Up", :class => 'btn btn-primary'
    = render :partial => "devise/shared/links"
