.ui.grid.three.columns
  .column{ style: 'display: flex; gap: 4px' }
    .ui.buttons.basic
      = back_link
      = today_link
      = next_link
    = select("location", :id, location_options, { :selected => request.fullpath }, { :class => "redirect_to ui dropdown" })    
  .column{ style: 'text-align: center; vertical-align: middle;' }
    %h3= @title
  .column{ style: 'text-align: right;' }
    .ui.dropdown.primary.button
      = helpers.semantic_icon(:plus)
      Add
      .left.menu
        .header GENERAL
        = new_general_event_link
        .divider
        .header LEAGUE
        = new_league_game_link
        = new_league_practice_link
        = new_league_event_link
    = download_button
