- title 'Box Score'
- javascript("https://www.google.com/jsapi")
-# - content_for :javascript do
-#   :javascript
-#     var away_team_name = "#{@stats.away_team.try(:name)}";
-#     var home_team_name = "#{@stats.home_team.try(:name)}";
-#     google.load("visualization", "1", {packages:["corechart"]});
-#     google.setOnLoadCallback(drawChart);
-#     function drawChart() {
-#       var data = new google.visualization.DataTable();
-#       data.addColumn('string', 'Minute');
-#       data.addColumn('number', away_team_name);
-#       data.addColumn('number', home_team_name);
-#
-#       var minutes = jQuery.parseJSON($("#data_div").text());
-#
-#       data.addRows(minutes.length);
-#       for (var i = 0; i < minutes.length; i++) {
-#         data.setValue(i, 0, 'Per '+minutes[i].period+', '+minutes[i].minute+':00');
-#         data.setValue(i, 1, minutes[i].away);
-#         data.setValue(i, 2, minutes[i].home);
-#       }
-#
-#
-#       var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
-#       chart.draw(data, {width: 700, height: 240,
-#         vAxis: {title: 'Score'},
-#         hAxis: {title: 'Minute'},
-#         legend: 'bottom'
-#       });
-#     }

.boxscore
  .row
    .summary
      .status= "FINAL"
      .matchup
        .team.away
          %h3
            .logo
            = @stats.away_team.try(:name)
            %span.score= @stats.goals.away.count
          %p.record (1-1-1, 3 pts)
          .clear
        .team.home
          %h3
            .logo
            = @stats.home_team.try(:name)
            %span.score= @stats.goals.home.count
          %p.record (1-1-1, 3 pts)
          .clear
      .logistics
        %p #{@game.starts_on.strftime('%a, %b %e %l:%M %p')}
  .row
    .linescore
      = render 'line_score_table'
  %h4 Team Statistical Comparison
  .row
    .teamstats
      = render 'team_statistics_table'
  -# / TODO - reimplement minute by minute chart
  -# / %h4 Minute By Minute
  -# / .row
  -# /   .minute-by-minute
  -# /     - minutes = @stats.score_by_minute.to_json
  -# /     #data_div{ :style => "display: none;"} #{minutes}
  -# /     #chart_div
  %h4 Game Activity
  .row
    .game-activity
      = render 'activity_table'
  %h4 Player Summary
  .row
    .player-summary
      = render 'player_summary_table'
  %h4 Goaltender Summary
  .row
    .goaltender-summary
      = render 'goaltender_summary_table'
  / %h4 Shots On Goal
  / .row
  /   .shots-on-goal
  /     = render 'shots_summary_table'
