- title 'Game Schedule'
- last_date = nil

.controls.left
  = render "date_selector"
.controls.right
  - #TODO: Wire-up season and team selectors
  - #collection_select("season", :id, @seasons, :slug, :name, { :include_blank => 'Full Schedules' })
  = collection_select("team", :id, @teams, :slug, :name, { :include_blank => 'Team Schedules' })
.clear

.mod-container.mod-table.mod-no-header-footer
  .mod-content
    %table.stat#schedule{ :cellspacing => "1" }
      - @games.each do |game|
        - if game.starts_on.to_date != last_date
          - reset_cycle()
          %tr.group-head
            %td{ :colspan => "3" } #{game.starts_on.to_date.strftime("%A, %B %e %Y")}
          %tr.col-head
            %td.teams TEAMS
            %td.time TIME
            %td.location LOCATION
        %tr{ :class => cycle("odd","even") }
          %td
            - if game.has_result?
              - if game.result.right_team_is_winner?
                #{game.right_team_name} #{game.result.right_team_score} , #{game.left_team_name} #{game.result.left_team_score}
              - else
                #{game.left_team_name} #{game.result.left_team_score}, #{game.right_team_name} #{game.result.right_team_score} 
            - else
              #{game.left_team_name} vs. #{game.right_team_name}
              .action.right
                .calendar_edit #{link_to 'Edit', edit_league_game_path(game)}
                .calendar_delete #{link_to 'Delete', [:league, game], :confirm => 'Are you sure?', :method => :delete}
          %td #{game.starts_on.strftime("%l:%M %p")}
          %td Location
        - last_date = game.starts_on.to_date
//  - @rowspans = get_rowspans @games
//  - @games.each_with_index do |game, i|
//    %tr
//      - if @rowspans[i]
//        %td{ :rowspan => "#{@rowspans[i].to_s}" } #{game.starts_on.strftime("%a %m/%d/%y")}
//      %td #{game.starts_on.strftime("%I:%M %p")}
//      %td 
//        = game.left_team.name
//        = game.result.left_team_score if game.has_result?
//      %td 
//        = game.right_team.name
//        = game.result.right_team_score if game.has_result?
//      %td
//      %td
//        = link_to 'Edit', edit_league_game_path(game)
//        = link_to 'Delete', [:league, game], :confirm => 'Are you sure?', :method => :delete
.controls.left
  = render "date_selector"
.clear
= link_to 'New Game', new_league_division_game_path(@division)
