- title 'Game Schedule'
- last_date = nil
%div
  = link_to("Previous #{@days_in_past + @days_in_future} Days", :date => @prev_date)
  = " | " 
  = @start_date.strftime("%b %e")
  = " - "
  = @end_date.strftime("%b %e")
  = " | "
  = link_to("Next #{@days_in_past + @days_in_future} Days", :date => @next_date)
%div
  - #TODO: Wire-up season and team selectors
  = collection_select("season", :id, @seasons, :slug, :name, { :include_blank => 'Full Schedules' })
  = collection_select("team", :id, @season.teams.asc(:name), :slug, :name, { :include_blank => 'Team Schedules' })
%table{ :border => "1", :cellpadding => "5", :style => "border-collapse: collapse;" }
  - @games.each do |game|
    - if game.starts_on.to_date != last_date
      %tr
        %td{ :colspan => "3" } #{game.starts_on.to_date}
      %tr
        %th Teams
        %th Time
        %th Location
    %tr
      %td
        = game.left_team.name
        vs.
        = game.right_team.name    
      %td #{game.starts_on.strftime("%I:%M %p")}
      %td Location
    - last_date = game.starts_on.to_date
//  - @rowspans = get_rowspans @games
//  - @games.each_with_index do |game, i|
//    %tr
//      - if @rowspans[i]
//        %td{ :rowspan => "#{@rowspans[i].to_s}" } #{game.starts_on.strftime("%a %m/%d/%y")}
//      %td #{game.starts_on.strftime("%I:%M %p")}
//      %td 
//        = game.left_team.name
//        = game.result.left_team_score if game.has_result?
//      %td 
//        = game.right_team.name
//        = game.result.right_team_score if game.has_result?
//      %td
//      %td
//        = link_to 'Edit', edit_league_game_path(game)
//        = link_to 'Delete', [:league, game], :confirm => 'Are you sure?', :method => :delete
%br/
= link_to 'New Game', new_league_season_game_path(@season)
