<% title 'Game Schedule' %>
<% breadcrumbs @season.breadcrumbs %>

<table border="1" cellpadding="5" style="border-collapse: collapse;">
  <tr>
    <th>Starts on</th>
    <th>Starts at</th>
    <th>Home</th>
    <th>Away</th>
    <th>Actions</th>
  </tr>

<% @games.each do |game| %>
  <tr>
    <td><%= game.starts_on.strftime("%a %m/%d/%y") %></td>
    <td><%= game.starts_on.strftime("%I:%M %p") %></td>
    <td><%= game.left_team.name %></td>
    <td><%= game.right_team.name %></td>
    <td>
      <%= link_to 'Show', [:league, game] %>
      <%= link_to 'Edit', edit_league_game_path(game) %>
      <%= link_to 'Destroy', [:league, game], :confirm => 'Are you sure?', :method => :delete %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Game', new_league_season_game_path(@season) %>
