<% title 'Game Schedule' %>
<% breadcrumbs @season.breadcrumbs %>
<% content_for :area_menu do %>
  <%= render  "league/shared/season_area_menu" %>
<% end %>

<table border="1" cellpadding="5" style="border-collapse: collapse;">
  <tr>
    <th>Starts on</th>
    <th>Starts at</th>
    <th>Home</th>
    <th>Away</th>
    <th>Location</th>
    <th>Actions</th>
  </tr>

<% @games.each do |game| %>
  <tr>
    <td><%= game.starts_on.strftime("%a %m/%d/%y") %></td>
    <td><%= game.starts_on.strftime("%I:%M %p") %></td>
    <td><%= game.left_team.name %> <%= game.result.left_team_score if game.has_result? %></td>
    <td><%= game.right_team.name %> <%= game.result.right_team_score if game.has_result? %></td>
    <td> </td>
    <td>
      <%= link_to 'Edit', edit_league_game_path(game) %>
      <%= link_to 'Delete', [:league, game], :confirm => 'Are you sure?', :method => :delete %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Game', new_league_season_game_path(@season) %>
