%h2
  = division.name
  = link_to 'Edit', edit_admin_division_path(division), :class => "btn btn-mini"  
  = link_to "Delete", [:league, :admin, division], :confirm => 'Are you sure?', :method => :delete, :class => "btn btn-mini"
  = link_to "Add Team", new_admin_season_team_path(@season, :division_id => division.id), :class => "btn btn-mini"
%table.table.table-striped.table-bordered
  %thead
    %tr
      %th Name
      %th Actions
    %tbody
      - division.teams.each do |team|
        %tr
          %td #{team.name}
          %td
            = link_to 'Edit', edit_admin_team_path(team), :class => "btn btn-mini"  
            = link_to 'Delete', [:league, :admin, team], :confirm => 'Are you sure?', :method => :delete, :class => "btn btn-mini"