%table{ border => "1", :cellpadding => "5", :style => "border-collapse: collapse;" }
  %tr
    %th Name
    %th Short Name
    %th Related
    %th Actions
- @teams.each do |team|
  %tr
    %td #{team.name}
    %td #{team.short_name}
    %td #{link_to 'Roster', team_players_path(team)}
    %td 
      = link_to 'Show', [:league, team]
      = link_to 'Edit', edit_team_path(team)
      = link_to 'Destroy', [:league, team], :confirm => 'Are you sure?', :method => :delete
= link_to 'New Team', new_season_team_path(@season)
