- title "Seasons"
%table.table.table-striped.table-bordered
  %thead
    %tr
      %th Name
      %th Starts on
      %th Actions
  %tbody
    - @seasons.each do |season|
      %tr
        %td #{season.name}
        %td #{season.starts_on}
        %td     
          = link_to 'Edit', edit_admin_season_path(season), :class => "btn btn-mini"
          = link_to 'Destroy', [:admin, season], :confirm => 'Are you sure?', :method => :delete, :class => "btn btn-mini"
= link_to 'New Season', new_admin_season_path(@division), :class => "btn"
