- if block.title.present?
  %h3= block.title
.ui.items{ class: [ block.divider && :divided ]}
  - block.posts.each do |post|
    .item
      .image= image_tag post.image.presence&.url || '/image.png'
      .content
        = link_to post.title, post.link_url.presence || post, class: [ :header ]
        .description= post.summary
        .extra= "Posted #{post.created_at.strftime("%A, %B %e %Y")}"
