.feed
  - block.posts.each do |post|
    .post
      %h4.title= post.title
      .created= "Posted #{post.created_at.strftime("%A, %B %e %Y")}"
      .summary= post.summary
      - if post.body.present? or post.image_url.present?
        .read_more
          = link_to 'Read More', post
