.col-sm-4
  .scorecard
    .inner
      .status
        - unless game.completion
          = game.starts_on.strftime("%l:%M %P")
        - if game.result.final?
          FINAL
          - if game.completion.shootout?
            = " - SO"
      .matchup
        %table
          %tbody
            = render :partial => "team", :locals => { :team => game.away_team, :name => game.away_team_name,:score => game.result.final? ? game.away_team_score : "" }
            = render :partial => "team", :locals => { :team => game.home_team, :name => game.home_team_name, :score => game.result.final? ? game.home_team_score : "" }
      - stats = game.statsheet
      - if stats
        .game-links
          = link_to 'Box Score', game_box_score_path(@division.slug, game.id)
        .line-score
          %table.table
            %thead
              %tr
                %th
                %th.period 1
                %th.period 2
                %th.period 3
                - if stats.overtime?
                  %th.period OT
                %th.final T
            %tbody
              %tr
                %td= game.away_team_name
                %td.period= stats.goals.away.period1.count
                %td.period= stats.goals.away.period2.count
                %td.period= stats.goals.away.period3.count
                - if stats.overtime?
                  %td.period= stats.goals.away.overtime.count
                %td.final= stats.goals.away.count
              %tr
                %td= game.home_team_name
                %td.period= stats.goals.home.period1.count
                %td.period= stats.goals.home.period2.count
                %td.period= stats.goals.home.period3.count
                - if stats.overtime?
                  %td.period= stats.goals.home.overtime.count
                %td.final= stats.goals.home.count


