= simple_form_for [:registrar, registration_type, registration] do |f|
  .panel.panel-default
    .panel-heading
      %h3.panel-title Participant Info
    .panel-body
      .row
        .col-sm-4
          = f.input :first_name
      .row
        .col-sm-4
          = f.input :last_name
      .row
        .col-sm-6
          = f.input :email
      .row
        .col-sm-6
          = f.input :email_confirmation
  - if registration.payment_required?
    .panel.panel-default
      .panel-heading
        %h3.panel-title Payment Info
      .panel-body
        .row
          .col-sm-6
            = f.input :credit_card_id,
                      :as => :select, :collection => credit_cards,
                      :as => :radio_buttons,
                      :wrapper => :vertical_radio_and_checkboxes
        #new-card{ style: 'margin-left: 20px' }
          .row
            .col-sm-4
              .form-group
                %label{ for: "number" } Card Number
                %input#number.form-control{type: 'text', size: '20', value: '4242424242424242', data: { stripe: 'number' } }
          .row
            .col-sm-4
              .form-group
                %label{ for: "exp_month" } Expiration (MM/YY)
                .form-inline
                  %input#exp_month.form-control{type: 'text', size: '2', value: '12', data: { stripe: 'exp_month' }}
                  %input#exp_year.form-control{type: 'text', size: '2', value: '17', data: { stripe: 'exp_year' } }
          .row
            .col-sm-2
              .form-group
                %label{ for: "cvc" } CVC
                %input#cvc.form-control{type: 'text', size: '4', value: '123', data: { stripe: 'cvc' } }
  = f.button :wrapped, :cancel => return_url

- content_for :javascript do
  = javascript 'https://js.stripe.com/v2'
  = javascript 'registration'
  :javascript
    Stripe.setPublishableKey('#{stripe_public_api_key}');
