<h1>Listing sports</h1>

<table border="1" cellpadding="5" style="border-collapse: collapse;">
  <tr>
    <th>Name</th>
    <th>Actions</th>
  </tr>

<% @sports.each do |sport| %>
  <tr>
    <td><%= sport.name %></td>
    <td>
      <%= link_to 'Show', sport %>
      <%= link_to 'Edit', edit_sport_path(sport) %>
      <%= link_to 'Destroy', sport, :confirm => 'Are you sure?', :method => :delete %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Sport', new_sport_path %>
