%h1= "Registrations - #{@item.title}"

%table.table.table-bordered.table-striped
  %thead
    %tr
      %th ID
      %th Player Name
      %th Status
      - @columns.each do |col|
        %th= col
  %tbody
    - @data.each do |row|
      %tr
        %td= row[:id]
        %td= row[:player_name]
        %td= row[:status]
        - @columns.each do |col|
          %td= row[col.to_sym]
