= semantic_form_for [:league, @team, @player] do |f|
  - f.inputs do
    = f.input :first_name
    = f.input :last_name
    = f.input :jersey_number
  = f.buttons do
    = f.commit_button
    %li #{link_to 'Cancel', league_team_roster_friendly_path(@player.team.season.division.slug, @player.team.season.slug, @player.team.slug)}

