<% title 'Player Roster' %>
<% breadcrumbs @team.breadcrumbs %>

<table border="1" cellpadding="5" style="border-collapse: collapse;">
  <tr>
    <th>#</th>
    <th>Name</th>
  </tr>

<% @players.each do |player| %>
  <tr>
    <td><%= player.jersey_number %></td>
    <td>
      <%= player.full_name %> <%= link_to 'Edit', edit_league_player_path(player) %> |
      <%= link_to 'Delete', [:league, player], :confirm => 'Are you sure?', :method => :delete %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Player', new_league_team_player_path(@team) %>
