- title 'Player Roster'

.mod-container.mod-table.mod-no-header-footer
  .mod-content
    %table.stat#roster{ :cellspacing => "1" }
      %thead
        %tr.col-head
          %td NUM
          %td NAME
          %td SHOT
          %td HOMETOWN
      %tbody
        - @players.each do |player|
          %tr{ :class => cycle("odd","even") }
            %td #{player.jersey_number}
            %td
              = player.full_name
              = link_to 'Edit', edit_league_player_path(player)
              = " | "
              = link_to 'Delete', [:league, player], :confirm => 'Are you sure?', :method => :delete
            %td
            %td

= link_to 'New Player', new_league_team_player_path(@team)
