- if block.title.present?
  %h3= block.title
%table.ui.celled.table
  %thead
    %tr
      %th Date
      %th Time
      %th Event
  %tbody
    - block.events.each do |event|
      %tr
        %td.collapsing= event.starts_on.to_date.strftime("%a %-m/%-d/%y")
        %td.collapsing= "#{event.starts_on.strftime("%l:%M %P")} - #{event.ends_on.strftime("%l:%M %P")}"
        %td
          = event.summary
          - if event.product.present? && event.product.active? && !event.product.private?
            = link_to event.product, class: [:ui, :mini, :primary, :right, :floated, :button] do
              %i.edit.outline.icon
              Register Online          
  %tfooter
    %tr
      %td{ colspan: '3', style: 'text-align: center'}
        = link_to 'Show more events like these...', [:schedule, { tags: block.tags }]

