- events = Event.includes(location: :facilities).after(date.beginning_of_day).before(date.end_of_day).order(:starts_on)
.panel.panel-default#locker-rooms
  .panel-heading
    .pull-left
      %h4= "Locker Rooms for #{date.today? ? 'Today' : date.strftime('%A %b %-d')}"
    .pull-right
      = link_to 'Auto Assign', assign_admin_events_locker_rooms_path(date: date), method: :post, remote: true, class: 'btn btn-primary'
      != ' '
      .btn-group
        = link_to '<', admin_root_path({ date: date.yesterday }), class: 'btn btn-default'
        = link_to 'Today', admin_root_path({}), class: 'btn btn-default'
        = link_to '>', admin_root_path({ date: date.tomorrow }), class: 'btn btn-default'
    .clear
  %table.table.table-bordered
    %thead
      %tr
        %th Time
        %th Summary
        %th Away Team
        %th Home Team
        -# %td Actions
    %tbody
      - events.each do |event|     
        %tr
          %td= event.starts_on.strftime("%l:%M%P").gsub("m","")
          %td= event.summary
          - unless event.location.locker_rooms
            %td{ colspan: 2 } 
              %em No Location assigned for this game
          - if event.location.locker_rooms
            %td
              = form_for admin_event_path(event), remote: true do |f|     
                .form-group{ style: 'margin-bottom: 0;'}
                  .btn-group{ data: { toggle: :buttons }}
                    - event.location.locker_rooms&.each do |locker_room|
                      - checked = (locker_room.id == event.away_team_locker_room_id)
                      %label.btn.btn-default{ class: checked ? 'active' : '' }
                        %input{ type: :radio, name: "event[away_team_locker_room_id]", value: locker_room.id, checked: checked}
                        = locker_room.name               
            %td
              = form_for event, url: admin_event_path(event), remote: true do |f|    
                .form-group{ style: 'margin-bottom: 0;'}
                  .btn-group{ data: { toggle: :buttons }}
                    - event.location.locker_rooms&.each do |locker_room|
                      - checked = (locker_room.id == event.home_team_locker_room_id)
                      %label.btn.btn-default{ class: checked ? 'active' : '' }
                        %input{ type: :radio, name: "event[home_team_locker_room_id]", value: locker_room.id, checked: checked}
                        = locker_room.name            
          -# %td
  .panel-footer
    %em Locker Room assignments are are saved automatically

:javascript
  $(function() {
    var selectors = [
      "input[name='event[home_team_locker_room_id]']",
      "input[name='event[away_team_locker_room_id]']"
    ]
    $(selectors.join(', ')).change(function() {
      $(this).closest('form').trigger('submit.rails');
    })
  })