- title Dashboard

%h3 Site
%ul
  %li #{link_to 'Users', admin_users_path}
  %li #{link_to 'Site Settings', admin_site_path}

%h3 League
%ul
  %li #{link_to 'Overview', admin_league_path}
  %li #{link_to 'Divisions', admin_divisions_path}
  %li #{link_to 'Seasons', admin_seasons_path}
  %li #{link_to 'Teams', admin_teams_path}
  %li #{link_to 'Games', admin_games_path}

