- title Dashboard

.tiled

  .row
    = render partial: 'tile', locals: { title: 'Calendar', url: admin_events_path, icon_name: 'calendar-alt' }
    = render partial: 'tile', locals: { title: 'Games', url: admin_league_games_path, icon_name: 'calendar-check' }
    = render partial: 'tile', locals: { title: 'Programs', url: admin_programs_path, icon_name: 'sitemap' }
    = render partial: 'tile', locals: { title: 'Pages', url: pages_path, icon_name: 'sitemap' }
    = render partial: 'tile', locals: { title: 'Posts', url: admin_posts_path, icon_name: 'sticky-note' }
    = render partial: 'tile', locals: { title: 'Users', url: admin_users_path, icon_name: 'user' }
    = render partial: 'tile', locals: { title: 'Locations', url: admin_locations_path, icon_name: 'map-marker' }
    = render partial: 'tile', locals: { title: 'Clubs', url: admin_clubs_path, icon_name: 'users' }
