- title Dashboard

%h3 Site
%ul
  %li #{link_to 'Users', admin_users_path}
  %li #{link_to 'Site Settings', edit_admin_site_path}

%h3 Content
%ul
  %li #{link_to 'Pages', pages_path}

%h3 League
%ul
  %li #{link_to 'Overview', league_admin_root_path}
  %li #{link_to 'Clubs', league_admin_clubs_path}
  %li #{link_to 'Venues', league_admin_venues_path}
  %li #{link_to 'Seasons', league_admin_seasons_path}
  %li #{link_to 'Teams', league_admin_teams_path}
  %li #{link_to 'Schedule', league_admin_events_path}


