- title Dashboard

%h3 Site
%ul
  %li #{link_to 'Users', admin_users_path}
  %li #{link_to 'Site Settings', edit_admin_site_path}

%h3 Content
%ul
  %li #{link_to 'Pages', admin_pages_path}

%h3 League
%ul
  %li #{link_to 'Overview', admin_root_path}
  %li #{link_to 'Clubs', admin_clubs_path}
  %li #{link_to 'Venues', admin_venues_path}
  %li #{link_to 'Seasons', admin_seasons_path}
  %li #{link_to 'Teams', admin_teams_path}
  %li #{link_to 'Schedule', admin_events_path}


