- title Dashboard

.row

  .col-sm-3
    .panel.panel-default
      .panel-heading Site
      %ul.list-group
        = link_to 'Users', admin_users_path, class: 'list-group-item'

    .panel.panel-default
      .panel-heading Content
      %ul.list-group
        = link_to 'Pages', pages_path, class: 'list-group-item'
        = link_to 'Posts', admin_posts_path, class: 'list-group-item'


  .col-sm-3
    .panel.panel-default
      .panel-heading League
      %ul.list-group
        = link_to 'Leagues', admin_leagues_path, class: 'list-group-item'
        = link_to 'Seasons', admin_seasons_path, class: 'list-group-item'
        = link_to 'Teams', admin_teams_path, class: 'list-group-item'
        = link_to 'Clubs', admin_clubs_path, class: 'list-group-item'
        = link_to 'Locations', admin_locations_path, class: 'list-group-item'
        = link_to 'Schedule', admin_events_path, class: 'list-group-item'

  .col-sm-3
    .panel.panel-default
      .panel-heading Experimental
      %ul.list-group
        = link_to 'Calendar', 'apps/calendar/', class: 'list-group-item'
        = link_to 'Scorebook', 'apps/scorebook/', class: 'list-group-item'



