- title Dashboard

%h3 Site
%ul
  %li #{link_to 'Users', admin_users_path}
  %li #{link_to 'Site Settings', edit_admin_site_path}

%h3 Content
%ul
  %li #{link_to 'Pages', pages_path}

%h3 League
%ul
  %li #{link_to 'Overview', admin_league_path}
  %li #{link_to 'Standings Layouts', admin_standings_layouts_path}
  %li #{link_to 'Divisions', admin_divisions_path}
  %li #{link_to 'Seasons', admin_seasons_path}
  %li #{link_to 'Teams', admin_teams_path}
  %li #{link_to 'Games', admin_games_path}
  %li #{link_to 'Clubs', admin_clubs_path}

