= simple_form_for @division, :url => url_for([:admin, :league, @league, @division]) do |f|
  = f.input :name
  = f.input :show_standings?, as: :boolean
  = f.input :show_players?, as: :boolean
  = f.input :show_statistics?, as: :boolean
  = f.input :standings_schema_id, as: :select, collection: ::League::Division.standings_schema_options, label: 'Standings'
  = f.input :period_length
  = f.association :seasons, as: :semantic_check_boxes, collection: @league.seasons.order(:starts_on => :desc)
  = f.button :wrapped, cancel: return_url

:css

  .division_name,
  .division_standings_schema_id {
    max-width: 400px;
  }

  .division_standings_schema_id {
    max-width: 200px;
  }

  .division_period_length {
    max-width: 100px;
  }
