- title 'Confirmation'
.ui.equal.width.grid
  .column
    %p
      %strong= "Congratulations #{user.first_name}!  "
    %p
      =  "You have successfully completed registration for #{registration.item.title}. "
      - unless registration.payment_id.blank?
        We have successfully charged
        = number_to_currency registration.price
        to your
        = registration.credit_card.name
        and a confirmation code has been provided below.
    %p
      Thank you for registering with
      %strong= Tenant.current.name
      and
      %strong sportified.net
  .column
    .ui.placeholder.segment
      .ui.icon.header
        = semantic_icon :thumbs, :up
        CONFIRMATION CODE
        %h2= registration.confirmation_code


%hr
= link_to 'Your Registrations', registrations_path
\|
= link_to 'Shop Again', items_path
