- title 'Payment'

= simple_form_for registration, url: checkout_charge_registration_path(registration) do |f|
  = f.input :credit_card_id,
                :label => false,
                :as => :select, :collection => credit_cards,
                :as => :radio_buttons
  #new-card.ui.form{ style: 'margin-left: 20px' }
    .six.wide.field
      %label{ for: "number" } Card Number
      %input#number.form-control{type: 'text', size: '20', data: { stripe: 'number' } }
    .two.wide.field
      %label{ for: "exp_month" } Expiration (MM/YY)
      .two.fields
        .field
          %input{type: 'text', data: { stripe: 'exp_month' }}
        .field
          %input{type: 'text', data: { stripe: 'exp_year' } }
    .one.wide.field
      %label{ for: "cvc" } CVC
      %input#cvc.form-control{type: 'text', size: '4', data: { stripe: 'cvc' } }
    = f.button :wrapped, 'Pay Now', :cancel => return_url
- content_for :javascript do
  = javascript 'https://js.stripe.com/v2'
  = javascript 'registrations'
  :javascript
    Stripe.setPublishableKey('#{stripe_public_api_key}');
