- title 'Payment'
:scss
  #number {
    max-width: 400px;
  }
  #exp_year,
  #exp_month {
    width: 50px;
    display: inline-block;
  }
  #cvc {
    width: 80px;
  }
= simple_form_for registration, url: checkout_charge_registration_path(registration) do |f|
  .row
    .col-sm-6
      = f.input :credit_card_id,
                :label => false,
                :as => :select, :collection => credit_cards,
                :as => :radio_buttons,
                :wrapper => :vertical_radio_and_checkboxes
  #new-card{ style: 'margin-left: 20px' }
    .row
      .col-sm-4
        .form-group
          %label{ for: "number" } Card Number
          %input#number.form-control{type: 'text', size: '20', data: { stripe: 'number' } }
    .row
      .col-sm-4.col-xs-6
        .form-group
          %label{ for: "exp_month" } Expiration (MM/YY)
          .form-inline
            %input#exp_month.form-control{type: 'text', size: '2', data: { stripe: 'exp_month' }}
            = "/"
            %input#exp_year.form-control{type: 'text', size: '2', data: { stripe: 'exp_year' } }
    .row
      .col-sm-2.col-xs-4
        .form-group
          %label{ for: "cvc" } CVC
          %input#cvc.form-control{type: 'text', size: '4', data: { stripe: 'cvc' } }
  = f.button :wrapped, 'Pay Now', :cancel => return_url
- content_for :javascript do
  = javascript 'https://js.stripe.com/v2'
  = javascript 'registrations'
  :javascript
    Stripe.setPublishableKey('#{stripe_public_api_key}');
