= simple_form_for [:admin, @screen] do |f|
  = f.input :name
  = f.input :device_key
  = f.input :location_ids, as: :semantic_check_boxes, collection: Location.order('name ASC')
  = f.button :wrapped, :cancel => return_url 

:css

  .screen_name,
  .screen_location_id,
  .screen_playing_surface_id {
    max-width: 400px;
  }
  .screen_device_key {
    max-width: 150px;
  }
