%h1 Form Templates

%table.table.table-bordered.table-striped
  %thead
    %tr
      %th Name
      %th

  %tbody
    - @form_templates.each do |form_template|
      %tr
        %td= form_template.name
        %td
          = link_to 'Show', form_template
          = " | "
          = link_to 'Edit', edit_form_template_path(form_template)
          = " | "
          = link_to 'Destroy', form_template, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Form template', new_form_template_path, class: 'btn btn-primary'
