- title @product.title
- page_actions do
  = link_to 'Edit', edit_admin_product_path(@product), class: [:ui, :primary, :button]
  = link_to 'Download', url_for(format: :csv), class: [:ui, :primary, :button]
- wrapper class: [:ui, :container]
- area_menu do
  = area_menu_item 'Overview', [:admin, @product]
  = area_menu_item 'Registrations', [:admin, @product, :registrations]

- @product.variants.order(title: :asc).each do |variant|
  %h4.ui.top.attached.header= variant.title
  %table.ui.celled.bottom.attached.table
    %thead
      %th Id
      %th Name
      %th Email
      %th Variant
      %th Price    
      %th Date / Time
      %th.center.aligned Status
    %tbody
      - variant.registrations.order(id: :desc).each do |registration|
        %tr
          %td= link_to registration.id, [:admin, registration]
          %td= registration.full_name
          %td= registration.email
          %td= registration.variant.title
          %td= number_to_currency(registration.price, :unit => "$").presence || 'Free'
          %td= registration.created_at.strftime("%a %-m/%-d/%y at %l:%M %P")
          %td.center.aligned= render partial: 'admin/registrations/status', locals: { registration: registration }