- title 'Game Result'

= simple_form_for @form, :url => admin_game_result_path(@game) do |f|
  .row
    .col-sm-2.col-xs-6
      = f.input :away_team_score, :label => "#{@game.away_team_name} Score"
    .col-sm-2.col-xs-6
      = f.input :home_team_score, :label => "#{@game.home_team_name} Score"
  .row
    .col-sm-2.col-xs-6
      = f.input :completion, collection: League::Game.completion.options

  .row
    .col-sm-2.col-xs-6
      = f.input :result, collection: League::Game.result.options

  = f.input :exclude_from_team_records, :as => :boolean, :wrapper => :vertical_boolean

  = f.button :wrapped, :cancel => return_url
