= simple_form_for [:admin, @league] do |f|
  = f.input :name
  = f.input :show_standings?, :as => :boolean, :wrapper => :vertical_boolean
  = f.input :show_players?, :as => :boolean, :wrapper => :vertical_boolean
  = f.input :show_statistics?, :as => :boolean, :wrapper => :vertical_boolean
  = f.input :standings
  = f.association :seasons, :as => :check_boxes, :wrapper => :vertical_radio_and_checkboxes, :collection => Season.all.desc(:starts_on)
  = f.button :wrapped, :cancel => return_url


