- title  @league.name + ' Statistics'
= render :partial => 'shared/season_options', :object => @season_options
.row
  .span4
    = render :partial => "stat_table", :locals => { :title => "POINTS", :players => @point_leaders, :column => "pts" }
    = render :partial => "stat_table", :locals => { :title => "GOALS", :players => @goal_leaders, :column => "g" }
    = render :partial => "stat_table", :locals => { :title => "ASSISTS", :players => @assist_leaders, :column => "a" }
  .span4
    = render :partial => "stat_table", :locals => { :title => "SAVE PERCENTAGE", :players => @savepct_leaders, :column => "g_svp", :format_with => ->(value) { number_with_precision(value, :precision => 3) } }
    = render :partial => "stat_table", :locals => { :title => "SAVES", :players => @save_leaders, :column => "g_sv" }
    = render :partial => "stat_table", :locals => { :title => "SHUTOUTS", :players => @shutout_leaders, :column => "g_so" }
  .span4
    = render :partial => "stat_table", :locals => { :title => "HAT TRICKS", :players => @hattrick_leaders, :column => "hat"}
    = render :partial => "stat_table", :locals => { :title => "PLAYMAKERS", :players => @playmaker_leaders, :column => "plmkr" }
    = render :partial => "stat_table", :locals => { :title => "GORDIE HOWES", :players => @gordie_leaders, :column => "gordie" }    
    
