- title  @division.name + ' Statistics'


.ui.grid
  .left.floated.six.wide.column
    = render :partial => 'shared/season_options', :object => @season_options
  .right.floated.six.wide.column{ style: 'text-align: right;' }
    .ui.buttons.basic
      = link_to "Scoring", league_statistic_path(:league_slug => @program.slug, :division_slug => @division.slug, :season_slug => @season.slug, :view => "scoring"), :class => "ui button"
      = link_to "Penalties", league_statistic_path(:league_slug => @program.slug, :division_slug => @division.slug, :season_slug => @season.slug, :view => "penalties"), :class => "ui button"
      = link_to "Goaltending", league_statistic_path(:league_slug => @program.slug, :division_slug => @division.slug, :season_slug => @season.slug, :view => "goaltending"), :class => "ui button"  

- format_with ||= ->(value) { value }
%table.ui.celled.striped.table.stats
  %thead
    %tr
      %th
      %th Player
      - for token in Hockey::Skater::Record.tokens @view
        %th{ :class => "stat #{token == @token ? 'active' : ''}"}= link_to Hockey::Skater::Record.column(token), league_statistic_path(:league_slug => @program.slug, :divisionslug => @division.slug, :season_slug => @season.slug, :view => @view, :token => token)
  %tbody
    - for record in @players
      %tr
        %td.logo= image_tag record.player.team.logo.thumb.url if record.player.team.logo?
        %td.player= "#{record.player.last_name}, #{record.player.first_name}" if record.player
        - for token in Hockey::Skater::Record.tokens @view
          %td{ :class => "stat #{token == @token ? 'active' : ''}"}= token == "g_svp" ? number_with_precision(record[token], :precision => 3) : format_with.call(record[token])
