- title  @league.name + ' Show Statistics'

.row.options
  .col-sm-4
    = render :partial => 'shared/season_options', :object => @season_options
  .col-sm-8{ :style => "text-align: right;" }
    .btn-group
      = link_to "Scoring", statistic_path(:league_slug => @league.slug, :season_slug => @season.slug, :view => "scoring"), :class => "btn btn-default"
      = link_to "Penalties", statistic_path(:league_slug => @league.slug, :season_slug => @season.slug, :view => "penalties"), :class => "btn btn-default"
      = link_to "Goaltending", statistic_path(:league_slug => @league.slug, :season_slug => @season.slug, :view => "goaltending"), :class => "btn btn-default"

- format_with ||= ->(value) { value }
%table.table.table-striped.table-bordered.statistics
  %thead
    %tr
      %th
      %th Player
      - for token in Hockey::Player::Record.tokens @view
        %th{ :class => "stat #{token == @token ? 'active' : ''}"}= link_to Hockey::Player::Record.column(token), statistic_path(:league_slug => @league.slug, :season_slug => @season.slug, :view => @view, :token => token)
  %tbody
    - for record in @players
      %tr
        %td.logo= image_tag record.player.team.logo.thumb.url if record.player.team.logo?
        %td.player= "#{record.player.last_name}, #{record.player.first_name}" if record.player
        - for token in Hockey::Player::Record.tokens @view
          %td{ :class => "stat #{token == @token ? 'active' : ''}"}= token == "g_svp" ? number_with_precision(record[token], :precision => 3) : format_with.call(record.player[token])  