- title  @league.name + ' Show Statistics'
= render :partial => 'shared/season_options', :object => @season_options

- format_with ||= ->(value) { value }
%table.table.table-striped.table-bordered.leaders
  %thead
    %tr
      %th
      %th Player
      - for token in Hockey::Player::Record.tokens @view
        %td.stat= link_to token, statistic_path(:league_slug => @league.slug, :season_slug => @season.slug, :view => @view, :token => token)
  %tbody
    - for player in @players
      %tr
        %td.logo= image_tag player.team.logo.thumb.url if player.team.logo?
        %td.player= player.full_name
        - for token in Hockey::Player::Record.tokens @view
          %td.stat= format_with.call(player.record[token])                           