= simple_form_for [variant, registration] do |f|
  %h4.ui.dividing.header Participant Info
  = f.input :first_name
  = f.input :last_name
  = f.input :birthdate, html5: true
  = f.button :wrapped, :cancel => return_url
