
%tr
  %td= registration.item.title
  %td= registration.created_at.in_time_zone.strftime("%-m/%-d/%y at %l:%M %P")
  %td
    = registration.updated_at.in_time_zone.strftime("%-m/%-d/%y at %l:%M %P") if registration.completed?
  %td= registration.completed? ? 'Completed' : 'Incomplete'
  %td
    - if registration.completed? 
      = link_to 'View Details', regsitrar_registration_path(registration), class: [:ui, :mini, :primary, :button]
    - unless admin || registration.completed?
      = link_to 'Checkout', checkout_registration_path(registration), class: [:ui, :mini, :primary, :button]