- title 'Registrations'

.row
  .col-md-6
    .paginator= paginate @registrations
    .summary!= page_entries_info @registrations
    %hr
    = render partial: "registration", collection: @registrations, locals: { admin: true }
    .paginator= paginate @registrations
    .summary!= page_entries_info @registrations
