- title 'Tenants'
%table.table.table-striped.table-bordered
  %thead
    %tr
      %th Name
      %th Slug      
      %th Host
      %th Actions
  %tbody
    - @tenants.each do |tenant|
      %tr
        %td #{tenant.name}
        %td #{tenant.slug}        
        %td #{tenant.host}
        %td 
          = link_to 'Edit', edit_host_tenant_path(tenant), :class => 'btn btn-mini'
          = link_to 'Delete', [:host, tenant], :confirm => 'Are you sure?', :method => :delete, :class => 'btn btn-mini btn-danger'
= link_to 'Add New Tenant', new_host_tenant_path, :class => "btn"

