- title 'Tenants'
- page_actions do
  = link_to 'Add New Tenant', new_host_tenant_path, class: [:ui, :primary, :button]

%table.ui.celled.table
  %thead
    %tr
      %th Name
      %th Slug      
      %th Host
      %th Actions
  %tbody
    - @tenants.each do |tenant|
      %tr{ :id => "tenant_#{tenant.id}" }
        %td #{tenant.name}
        %td #{tenant.slug}        
        %td #{tenant.host}
        %td 
          = link_to 'Show', [:host, tenant], class: [:ui, :tiny, :primary, :button]
          = link_to 'Edit', edit_host_tenant_path(tenant), class: [:ui, :tiny, :primary, :button]
          = link_to 'Delete', [:host, tenant], method: :delete, remote: true, data: { confirm: 'Are you sure?' }, class: [:ui, :tiny, :primary, :button]


