= simple_form_for [:admin, @game] do |f|
  .panel.panel-default
    .panel-heading Logistics
    .panel-body
      - if %w{new create}.include? params['action']
        .row
          .col-sm-4
            = f.input :season_id, :as => :select, :collection => @season_options
          .col-sm-4
            = f.input :league_id, :as => :select, :collection => @league_options
      .row
        .col-sm-4
          = f.input :starts_on, :as => :string, :input_html => { :value => @game.starts_on ? I18n.l(@game.starts_on) : "" }
        .col-sm-2
          = f.input :duration
      .row
        .col-sm-4
          = f.input :location_id, :as => :select, :collection => @location_options
  .row
    .col-sm-6
      .panel.panel-default
        .panel-heading Away Team
        .panel-body
          = f.input :away_team_id, :collection => @team_options
          = f.input :away_team_custom_name, :as => :boolean, :wrapper => :vertical_boolean
          = f.input :away_team_name
    .col-sm-6
      .panel.panel-default
        .panel-heading Home Team
        .panel-body
          = f.input :home_team_id, :collection => @team_options
          = f.input :home_team_custom_name, :as => :boolean, :wrapper => :vertical_boolean
          = f.input :home_team_name

  .panel.panel-default
    .panel-heading Display
    .panel-body
      .row
        .col-sm-6
          = f.input :text_before
        .col-sm-6
          = f.input :text_after

  = f.button :wrapped, :cancel => return_url

- content_for :javascript do
  :javascript
    $(document).ready(function(){
      if( !$('#game_away_team_custom_name').attr('checked') ) { $('#game_away_team_name').closest('.form-group').hide() }
      if( !$('#game_home_team_custom_name').attr('checked') ) { $('#game_home_team_name').closest('.form-group').hide() }
      $('#game_away_team_custom_name').change(function(){
        $('#game_away_team_name').closest('.form-group').slideToggle('slow');
      });
      $('#game_home_team_custom_name').change(function(){
        $('#game_home_team_name').closest('.form-group').slideToggle('slow');
      });
    });
    $(document).ready(function(){
      $("select#game_season_id").change(function(){
          var id_value_string = $(this).val();
          if (id_value_string == "") {
              // if the id is empty remove all the sub_selection options from being selectable and do not do any ajax
              $("select[id$='league_id'] option").remove();
              var row = "<option value=\"" + "" + "\">" + "" + "</option>";
              $(row).appendTo("select[id$='league_id']");
          }
          else {
            $.ajax({
                dataType: "json",
                cache: false,
                url: '#{admin_leagues_path}?season_id=' + id_value_string,
                timeout: 2000,
                error: function(XMLHttpRequest, errorTextStatus, error){
                    alert("Failed to submit : "+ errorTextStatus+" ;"+error);
                },
                success: function(data){
                    $("select[id$='league_id'] option").remove();
                    var row = "<option value=\"" + "" + "\">" + "" + "</option>";
                    $(row).appendTo("select[id$='league_id']");
                    $.each(data.teams, function(i, j){
                        row = "<option value=\"" + j._id.$oid + "\">" + j.name + "</option>";
                        $(row).appendTo("select[id$='league_id']");
                    });
                 }
            });
          };
      });
      $("select#game_league_id").change(function(){
          var id_value_string = $(this).val();
          var season_value_string = $("select#game_season_id").val();
          if (id_value_string == "") {
              // if the id is empty remove all the sub_selection options from being selectable and do not do any ajax
              $("select[id$='team_id'] option").remove();
              var row = "<option value=\"" + "" + "\">" + "" + "</option>";
              $(row).appendTo("select[id$='team_id']");
          }
          else {
            $.ajax({
                dataType: "json",
                cache: false,
                url: '#{admin_teams_path}?season_id=' + season_value_string + '&league_id=' + id_value_string,
                timeout: 2000,
                error: function(XMLHttpRequest, errorTextStatus, error){
                    alert("Failed to submit : "+ errorTextStatus+" ;"+error);
                },
                success: function(data){
                    $("select[id$='team_id'] option").remove();
                    var row = "<option value=\"" + "" + "\">" + "" + "</option>";
                    $(row).appendTo("select[id$='team_id']");
                    $.each(data.teams, function(i, j){
                        row = "<option value=\"" + j._id.$oid + "\">" + j.name + "</option>";
                        $(row).appendTo("select[id$='team_id']");
                    });
                 }
            });
          };
      });
    });



