.section.editable{ :id => "section_#{ section.id.to_s }" }
  .chrome
    .title= Section
    .buttons
      .btn-group
        %button.btn.btn-small.dropdown-toggle{ :"data-toggle" => "dropdown" } 
          = icon('cog')
          %span.caret
        %ul.dropdown-menu
          %li
            = link_to icon(:trash)+' Delete', admin_page_section_path(@page, section), :confirm => 'Are you sure?', :method => :delete, :remote => true
    .clear  
  .content.row-fluid
    - section.columns.each_with_index do |column, index|
      .column{ :class => width_to_span(column) }
        .column-inner
          .blocks.row-fluid
            = render :partial => "admin/blocks/block", :collection => @page.blocks.where(:section_id => section.id).where(:column => index).asc(:position)
          .row-fluid
            %a.span12.add_block.btn.btn-primary{ :role => "button", :"data-toggle" => "modal", :"data-column" => index, :"data-section_id" => section.id.to_s, :"href" => "#block-catalog"}= icon('plus', true)+" Add Block"