<table class="table table-bordered table-striped">
  <tbody>
  {{#each penalties as |penalty|}}
    <tr>
      {{!-- <td>{{#link-to 'game.penalty.edit' penalty class="btn btn-primary"}}Edit{{/link-to}}</td> --}}
      <td>{{penalty.team.shortName}}</td>
      <td>{{penalty.period}}</td>
      <td>{{penalty.formattedTime}}</td>
      <td>{{penalty.committedBy.jerseyNumber}}</td>
      <td>{{penalty.infraction}}</td>
    </tr>
  {{/each}}
  </tbody>
</table>
