-title @league.name

.row
  .col-sm-8

    .panel.panel-default
      .panel-heading= icon(:calendar) + " Events"
      %ul.list-group
        - @events.each do |event|
          %li.list-group-item
            = event.summary

  .col-sm-4

    .panel.panel-default
      .panel-heading Seasons
      %ul.list-group
        - @seasons.first(3).each do |season|
          %li.list-group-item= link_to season.name, [:admin, :league, season]
        %li.list-group-item= link_to 'All Seasons...', admin_league_program_seasons_path(@league)
      .panel-heading Divisions
      %ul.list-group
        - @divisions.each do |division|
          %li.list-group-item= link_to division.name, [:admin, :league, division]

