= simple_form_for [variant, registration] do |f|

  .ui.stackable.grid
    .four.wide.column

      .ui.sticky
        .ui.fluid.card
          .image
            = image_tag variant.product.image.attached? ? variant.product.image : '/image.png'
          .content
            .header= variant.product.title
          .extra.content
            .left.floated= variant.title
            .right.floated= "$#{number_with_precision(variant.price, precision: 2)}"

        .ui.vertical.fluid.menu
          %a.item{ href: '#contact' }
            = semantic_icon(:exclamation, :circle, class: [ :red ]) if registration.errors.key?(:email)
            Contact
          %a.item{ href: '#participant' }
            = semantic_icon(:exclamation, :circle, class: [ :red ]) if (registration.errors.keys & %i{first_name last_name birthdate}).any?
            Participant            
          - registration.forms.each do |form|
            %a.item{ href: "##{form.template.name.parameterize}" }
              = semantic_icon(:exclamation, :circle, class: [ :red ]) unless form.errors.empty?
              = form.template.name   
          - if variant.payment_required?         
            .item Payment
    
    .twelve.wide.column

      - unless current_user
        .ui.icon.message
          = semantic_icon :user, :circle, :icon
          .content
            .header You Are Not Signed In
            %p
              It's ok.  You don't have to 
              = link_to 'sign in', users.sign_in_path
              != ' '
              to continue but if you do
              we might be able to make things a little bit easier for you        

      %a.anchor{ name: :contact }    
      %h3.ui.dividing.header Contact  
      .three.fields
        = f.input :email
      
      %a.anchor{ name: :participant }
      %h3.ui.dividing.header Participant
      .four.fields
        = f.input :first_name
        = f.input :last_name
      .four.fields
        = f.input :birthdate, html5: true
      
      = f.simple_fields_for :forms do |form|  
        %a.anchor{ name: form.object.template.name.parameterize }
        %h3.ui.dividing.header= form.object.template.name
        - form.object.add_element_accessors
        - form.object.template.elements.each do |element|
          = render "form_elements/#{element.partial}", element: element, builder: form   
      


      - if variant.payment_required? 
        %a.anchor{ name: :payment }
        %h3.ui.dividing.header Payment 
        .ui.icon.message
          = semantic_icon :cc, :stripe, :icon
          .content
            .header We Collect Payments via Stripe Checkout
            %p
            :erb
              Once you submit your registration you will be redirected to a secure checkout page 
              hosted by <%= link_to 'stripe.com', 'https://stripe.com', target: :blank %>.  Stripe
              will allow you to easily pay using your credit card or mobile wallet (Apple Pay, Google Pay)
              and deliver you a purchase receipt via email.  Upon payment you will be redirected back here
              and presented with a registration confirmation.
            %p
              %strong You registration is not confirmed until the payment step has been completed.


        - unless current_user
          .ui.icon.message
            = semantic_icon :ticket, :icon
            .content
              .header Need to use a Voucher?
              %p
                Do you have prepaid vouchers that you would like to apply to this registration?  We can help you
                apply a voucher but you must first
                = link_to 'sign in', users.sign_in_path
                != ' '                
                to your account.            

        - if vouchers.any?

          .ui.icon.info.message
            = semantic_icon :ticket, :icon
            .content
              .header You have Vouchers!
              %p
                Choose a voucher from below and we'll deduct the amount from the total price.     

          %table.ui.unstackable.celled.table
            %thead
              %tr
                %th.collapsing
                %th Amount
                %th Expires
            %tbody
              - vouchers.each do |voucher|
                %tr
                  %td.collapsing= radio_button_tag 'registration[voucher_id]', voucher.id, registration.voucher&.id == voucher.id
                  %td= number_to_currency voucher.amount
                  %td= voucher.expires_at ? time_ago_in_words(voucher.expires_at) + ' from now' : 'Never'
              %tr
                %td= radio_button_tag 'registration[voucher_id]', '', registration.voucher.blank?
                %td{ colspan: 2 } I'll pay this time

      .ui.basic.center.aligned.segment
        = f.button :submit, variant.payment_required? ? 'Checkout with Stripe' : 'Complete Registration', class: [:ui, :massive, :button]

:css
  a.anchor {
    display: block;
    position: relative;
    top: -20px;
    visibility: hidden;    
  }
  .new_registration .ui.header:first-child {

  }
- content_for(:javascript) do
  :javascript
    $(function() {
      $('.ui.sticky').sticky({ offset: 50 });
    })
