
- if registration.completed?
  .ui.placeholder.segment
    .ui.icon.header
      = semantic_icon :thumbs, :up, :outline
      It's all Good!
    .ui.center.aligned.compact.basic.segment{ style: 'margin-top: 0;' }
      You're registration is complete and you should receive a confirmation email shortly.

- unless registration.completed?
  .ui.placeholder.segment
    .ui.icon.header
      = semantic_icon :money, :bill, :alternate
      Oops... Looks like we're not done yet
    .ui.center.aligned.compact.basic.segment{ style: 'margin-top: 0;' }
      You're registration is not complete until payment has been received.
    = link_to 'Submit Payment', collect_registration_path(registration.uuid), class: [:ui, :primary, :button]


%h3.ui.top.attached.header Registration Summary
%table.ui.bottom.attached.definition.table
  %tr.top.aligned
    %td.four.wide Customer
    %td= registration.email  
  %tr.top.aligned 
    %td Product
    %td
      = registration.product.title
      - if registration.product.registrable_type == 'Event'
        .starts_on= registration.product.registrable.starts_on.strftime('%A %-m/%-d/%y at %l:%M %P')
        .location= registration.product.registrable.location.name 
  %tr.top.aligned
    %td Participant
    %td
      %div= "#{registration.first_name} #{registration.last_name}"
      %div= registration.birthdate.strftime('%-m/%-d/%Y')    
  - if registration.completed?
    %tr
      %td Confirmation Code
      %td= registration.confirmation_code
  %tr
    %td.top.aligned Price
    - if registration.voucher.present?
      %td
        .line
          .label Price
          .amount= number_to_currency(registration.variant.price)
        .line.voucher
          .label Voucher
          .amount= number_to_currency(0 - [registration.variant.price, registration.voucher.amount].min)
        .line.total
          .label Total
          .amount= number_to_currency(registration.price)
    - if registration.voucher.blank?
      %td= registration.price.present? ? number_to_currency(registration.price) : 'Free 😎'      
  %tr
    %td Status
    %td= registration.completed? ? 'Completed' : 'Payment Required'


= link_to 'Your Registrations', registrations_path, class: [:ui, :button]

:css

  .line {
    display: flex;
  }

  .label {
    width: 60px;
  }

  .total > * {
    border-top: 1px dashed rgba(0, 0, 0, 0.87);
  }

  .voucher > * {
    color: red;
    font-style: italic;
  }

  .amount {
    width: 60px;
    text-align: right;
  }