
.ui.placeholder.segment
  .ui.icon.header
    = semantic_icon :thumbs, :up, :outline
    It's all Good!
  .ui.center.aligned.compact.basic.segment{ style: 'margin-top: 0;' }
    You're registration is complete and you should receive a confirmation email shortly.

%h3.ui.top.attached.header Purchase Summary
%table.ui.bottom.attached.definition.table
  %tr.top.aligned
    %td.four.wide Customer
    %td= registration.email  
  %tr.top.aligned 
    %td Product
    %td
      = registration.product.title
      - if registration.product.registrable_type == 'Event'
        .starts_on= registration.product.registrable.starts_on.strftime('%A %-m/%-d/%y at %l:%M %P')
        .location= registration.product.registrable.location.name 
  %tr.top.aligned
    %td Participant
    %td
      %div= "#{registration.first_name} #{registration.last_name}"
      %div= registration.birthdate.strftime('%-m/%-d/%Y')    
  %tr
    %td Confirmation Code
    %td= registration.confirmation_code
  %tr
    %td Price
    %td= registration.price.present? ? number_to_currency(registration.price) : 'Free 😎'


= link_to 'Your Registrations', registrations_path, class: [:ui, :button]
