
- if registration.completed?
  .ui.icon.attached.positive.message
    = semantic_icon :thumbs, :up, :outline
    .content
      .header It's all Good!
      %p
        This registration has been completed and confirmed!  You you should receive a confirmation within a few minutes after completion.      

- unless registration.completed?
  .ui.icon.attached.message
    = content_tag :i, nil, class: [:exclamation, :circle, :icon]
    .content
      .header Ooops... We're not quite done yet
      - if registration.session_id.blank?
        %p
          It looks like you have not started the checkout process.  Your registration may not be confirmed until checkout has been completed 
          and your payment has been verified.  Fortunately we can help!

      - if registration.session_id.present?
        %p
          It looks like you may have visited the checkout page but for some reason we have been unable to veryfiy your payment. Your registration 
          may not be confirmed until checkout has been completed <strong>and</strong> your payment has been verified.
          
  .ui.attached.segment
    - if registration.session_id.present?
      = link_to 'Check Payment', confirm_registration_path(registration.uuid), class: [:ui, :primary, :button]
    = link_to 'Complete Checkout', collect_registration_path(registration.uuid), class: [:ui, :primary, :button]


%h3.ui.top.attached.header Registration Summary
%table.ui.bottom.attached.definition.table
  %tr.top.aligned
    %td.four.wide Customer
    %td= registration.email  
  %tr.top.aligned 
    %td Product
    %td
      = registration.product.title
      - if registration.product.registrable_type == 'Event'
        .starts_on= registration.product.registrable.starts_on.strftime('%A %-m/%-d/%y at %l:%M %P')
        .location= registration.product.registrable.location.name 
  %tr.top.aligned
    %td Participant
    %td
      %div= "#{registration.first_name} #{registration.last_name}"
      %div= registration.birthdate.strftime('%-m/%-d/%Y')    
  - if registration.completed?
    %tr
      %td Confirmation Code
      %td= registration.confirmation_code
  %tr
    %td.top.aligned Price
    - if registration.voucher.present?
      %td
        .line
          .label Price
          .amount= number_to_currency(registration.variant.price)
        .line.voucher
          .label Voucher
          .amount= number_to_currency(0 - [registration.variant.price, registration.voucher.amount].min)
        .line.total
          .label Total
          .amount= number_to_currency(registration.price)
    - if registration.voucher.blank?
      %td= registration.price.present? ? number_to_currency(registration.price) : 'Free 😎'      
  %tr
    %td Status
    %td= registration.completed? ? 'Completed' : 'Payment Required'


= link_to 'Your Registrations', registrations_path, class: [:ui, :button]

:scss

  .line {
    display: flex;
  }

  .label {
    width: 60px;
  }

  .total > * {
    border-top: 1px dashed rgba(0, 0, 0, 0.87);
  }

  .voucher > * {
    color: red;
    font-style: italic;
  }

  .amount {
    width: 60px;
    text-align: right;
  }