- title "#{ @division ? @division.name+' ' : '' }Schedule"
- last_date = nil

- if current_user_is_admin?
  - content_for :actions do
    = link_to icon('plus')+" New Event", new_admin_event_path(:season_id => @season, :division_id => @division), :class => 'btn btn-default'
    = link_to icon('plus')+" New Game", new_admin_game_path(:season_id => @season, :division_id => @division), { :class => 'btn btn-default', :role => 'button' }

.row.options
  .col-sm-8
    = render :partial => "shared/select_date_range", :locals => { :start_date => @start_date, :end_date => @end_date, :prev_date => @prev_date, :next_date => @next_date, :range => @days_in_future + @days_in_past }
  .col-sm-4
    = select("team", :id, @team_options, {}, { :class => "redirect_to form-control", :style => "margin: 0px 0 0 0;" }) if @division

%table.table.table-striped.table-bordered
  - events = @events.entries
  - if events.count == 0
    %tr
      %td No events scheduled
  - else
    - events.each do |event|
      - if event.starts_on.to_date != last_date
        - reset_cycle()
        %tr.group-head
          %th{ :colspan => "3" }
            = event.starts_on.to_date.strftime("%A, %B %e %Y")
      %tr
        %td
          .visible-xs= event.starts_on.strftime("%l:%M%P").gsub("m","")
          .hidden-xs= event.starts_on.strftime("%l:%M %P")
        %td
          = event.summary
          - if current_user_is_admin?
            .pull-right
              - edit_url = event.class.to_s == 'Game' ? edit_admin_game_path(event) : edit_admin_event_path(event)
              = link_to "Edit", edit_url, :class => 'btn btn-default btn-xs'
              - copy_url = event.class.to_s == 'Game' ? new_admin_game_path(:clone => event.id) : new_admin_event_path(:clone => event.id)
              = link_to "Clone", copy_url, :class => 'btn btn-default btn-xs'
        %td
          - if event.location
            .visible-xs= event.location.short_name
            .hidden-xs= event.location.name
      - last_date = event.starts_on.to_date
- if events.count > 4
  .row
    .col-sm-8
      = render :partial => "shared/select_date_range", :locals => { :start_date => @start_date, :end_date => @end_date, :prev_date => @prev_date, :next_date => @next_date, :range => @days_in_future + @days_in_past }


