- title 'Schedule'
- last_date = nil

:scss
  .tags {
    .btn {
      margin-bottom: 3px;
    }
  }

- if current_user_is_admin?
  - content_for :actions do
    .btn-group
      %button.btn.btn-primary.dropdown-toggle(data-toggle="dropdown")
        = icon('plus', 'Add')
      %ul.dropdown-menu.dropdown-menu-right
        %li= link_to 'New Event', new_admin_league_event_path(:season_id => @season, :division_id => @division)
        %li= link_to 'New Game', new_admin_league_game_path(:season_id => @season, :division_id => @division)

.row

  - if @show_tags
    .col-sm-3

  %div{class: "col-sm-#{@show_tags ? '9' : '12'}" }

    - unless params[:tags]
      .row.options
        %div{ class: (@division ? 'col-sm-8' : 'col-sm-12') }
          = render :partial => 'shared/select_date_range', :locals => { :start_date => @start_date, :end_date => @end_date, :prev_date => @prev_date, :next_date => @next_date, :range => @days_in_future + @days_in_past }
        - if @division
          .col-sm-4
            = select('team', :id, @team_options, {}, { :class => 'redirect_to form-control', :style => 'margin: 0px 0 0 0;' })
    - if params[:tags]
      .paginator= paginate @events

.row

  - if @show_tags
    .col-sm-3

      .list-group.tags
        .list-group-item
          .form-group
            %label Tags
            .input-group
            - @tags.sort_by(&:name).each do |tag|
              - tags = Array.wrap(params[:tags]).clone
              - btn_class = tags.include?(tag.name) ? 'btn-primary' : 'btn-default'
              - tags = tags.concat([tag.name]) unless tags.delete(tag.name)
              = link_to tag.name, url_for(:tags => tags), class: "btn #{btn_class} btn-sm"
              != ' '
        .list-group-item
          .form-group
            %label{ for: 'match' } Match
            .radio{ style: 'margin-top: 0;'}
              - p = params.merge({ match: :any })
              - puts p
              = label_tag nil, class: 'checkbox-inline' do
                %input{ type: :radio,
                        name: :match,
                        value: :any,
                        checked: params[:match] != 'all',
                        data: { url: url_for({ tags: params[:tags], match: nil}) } }
                Match Any Tags
            .radio
              = label_tag nil, class: 'checkbox-inline' do
                %input{ type: :radio,
                        name: :match,
                        value: :all,
                        checked: params[:match] == 'all',
                        data: { url: url_for({ tags: params[:tags], match: :all}) } }
                Match All Tags


  %div{class: "col-sm-#{@show_tags ? '9' : '12'}" }

    %table.table.table-striped.table-bordered
      - events = @events.entries
      - if events.count == 0
        %tr
          %td No events scheduled
      - else
        - events.each do |event|
          - unless params[:tags]
            - if event.starts_on.to_date != last_date
              - reset_cycle()
              %tr.group-head
                %th{ :colspan => '3' }
                  = event.starts_on.to_date.strftime('%A, %B %e %Y')

          - unless params[:tags]
            %tr
              %td
                .visible-xs
                  - if event.all_day?
                    = 'All Day'
                  - unless event.all_day?
                    = event.starts_on.strftime('%l:%M%P').gsub('m','')
                    - unless event.class.name == 'League::Game'
                      != ' - '
                      = event.ends_on.strftime('%l:%M%P').gsub('m','')
                .hidden-xs
                  - if event.all_day?
                    = 'All Day'
                  - unless event.all_day?
                    = event.starts_on.strftime('%l:%M %P')
                    - unless event.class.name == 'League::Game'
                      != ' - '
                      = event.ends_on.strftime('%l:%M %P')
              %td
                = event.summary
                - if current_user_is_admin?
                  .pull-right
                    = link_to 'Edit', edit_polymorphic_path([:admin, event.module_name, event]), :class => 'btn btn-primary btn-xs'
                    != ' '
                    = link_to 'Clone', new_polymorphic_path([:admin, event.module_name, event.class], :clone => event.id), :class => 'btn btn-primary btn-xs'
              %td
                - if event.location
                  .visible-xs= event.location.short_name
                  .hidden-xs= event.location.name

          - if params[:tags]
            %tr
              %td
                %strong.summary
                  = event.summary
                  - if current_user_is_admin?
                    .pull-right
                      = link_to 'Edit', edit_polymorphic_path([:admin, event.module_name, event]), :class => 'btn btn-primary btn-xs'
                      != ' '
                      = link_to 'Clone', new_polymorphic_path([:admin, event.module_name, event.class], :clone => event.id), :class => 'btn btn-primary btn-xs'
                .logistics
                  = event.starts_on.to_date.strftime('%A, %B %e %Y')
                  %br
                  - if event.all_day?
                    = 'All Day'
                  - unless event.all_day?
                    = event.starts_on.strftime('%l:%M %P')
                    != ' - '
                    = event.ends_on.strftime('%l:%M %P')

          - last_date = event.starts_on.to_date

    - unless params[:tags] || events.count < 5
      .row
        .col-sm-12
          = render :partial => 'shared/select_date_range', :locals => { :start_date => @start_date, :end_date => @end_date, :prev_date => @prev_date, :next_date => @next_date, :range => @days_in_future + @days_in_past }
    - if params[:tags]
      .paginator= paginate @events

:javascript
  $(function() {
    $('[data-url]').on('change', function(e) {
      var $el = $(e.target);
      window.location = $el.data('url');
    })
  });
