- title 'Schedule'

- events = @events.entries

.ui.computer.tablet.only.grid

  .four.wide.column

    - date = DateTime.now
    = render 'calendar', date: date
    = render 'calendar', date: date + 1.month
    = render 'tag_cloud', tags: @tags

  .twelve.wide.column{ class: @show_tags ? :twelve : :sixteen }

    - last_date = nil
    
    = render 'no_events' if events.none?

    - events.group_by{|e| e.starts_on.to_date}.each do |date, day_events|
      %table.ui.celled.striped.table
        %thead
          %tr
            %th{ colspan: 2 }= date.strftime('%A, %B %e %Y')
        %tbody
          - day_events.each do |event|
            %tr
              %td.four.wide
                - if event.all_day?
                  = 'All Day'
                - unless event.all_day?
                  = event.starts_on.strftime('%l:%M %P')
                  - unless event.class.name == 'League::Game'
                    != ' - '
                    = event.ends_on.strftime('%l:%M %P')  
              %td
                = event.summary
                - if event.product.present? && event.product.active? && !event.product.private?
                  = link_to event.product, class: [:ui, :mini, :primary, :right, :floated, :button] do
                    %i.edit.outline.icon
                    Register Online

    = render 'stepper', date: @date if @date.present?    

.ui.mobile.only.grid
  .column
    
    - last_date = nil
    
    = render 'no_events' if events.none?

    - events.group_by{|e| e.starts_on.to_date}.each do |date, day_events|
      %table.ui.unstackable.celled.striped.events.table
        %thead
          %tr
            %th= date.strftime('%A, %B %e %Y')
        %tbody
          - day_events.each do |event|
            %tr
              %td
                .summary= event.summary
                .date
                  - if event.all_day?
                    = 'All Day'
                  - unless event.all_day?
                    = event.starts_on.strftime('%l:%M %P')
                    - unless event.class.name == 'League::Game'
                      != ' - '
                      = event.ends_on.strftime('%l:%M %P')  
                - if event.product.present? && event.product.active? && !event.product.private?
                  = link_to event.product, class: [:ui, :tiny, :primary, :button] do
                    %i.edit.outline.icon
                    Register Online                      

    = render 'stepper', date: @date if @date.present?  

:css
  .ui.table.events .summary {
    font-weight: bold;
  }