- title @league.name + ' Schedule'
- last_date = nil

- if current_user_is_admin?
  - content_for :actions do
    = link_to icon('plus')+" New Event", new_admin_event_path(:season_id => @season, :league_id => @league), :class => 'btn'
    = link_to icon('plus')+" New Game", new_admin_game_path(:season_id => @season, :league_id => @league), :class => 'btn'


= render :partial => "shared/select_date_range", :locals => { :start_date => @start_date, :end_date => @end_date, :prev_date => @prev_date, :next_date => @next_date, :range => @days_in_future + @days_in_past }
=select("team", :id, @team_options, {}, { :class => "redirect_to" })

%table.table.table-striped.table-bordered
  - if @events.count == 0
    %tr
      %td No events scheduled
  - else
    - @events.each do |event|
      - if event.starts_on.to_date != last_date
        - reset_cycle()
        %tr.group-head
          %th{ :colspan => "3" }= event.starts_on.to_date.strftime("%A, %B %e %Y")
      %tr
        %td
          .visible-phone= event.starts_on.strftime("%l:%M%P").gsub("m","")
          .hidden-phone= event.starts_on.strftime("%l:%M %P")
        %td= event.summary
        %td
          .visible-phone= event.venue_short_name
          .hidden-phone= event.venue_name
      - last_date = event.starts_on.to_date
- if @events.count > 0
  = render :partial => "shared/select_date_range", :locals => { :start_date => @start_date, :end_date => @end_date, :prev_date => @prev_date, :next_date => @next_date, :range => @days_in_future + @days_in_past }

