- edit_mode = ['edit','update'].index(params[:action]) ? true : false
= simple_form_for( @goaltender, :url => url, :remote => true ) do |f|
  = f.input :team_id, :collection => @statsheet.teams, :disabled => edit_mode, :label => 'Team'
  = f.input :player_id do
    = f.select :player_id, @players.map { |p| [ "#{p.jersey_number} - #{p.last_name}, #{p.first_name}", p.player_id, { :'data-team-id' => p.team_id }] }, { :include_blank => true }, { :class => 'form-control' }
  = f.input :minutes_played, :maxlength => 3, :pattern => "[0-9]*"
  = f.input :shots_against, :maxlength => 2, :pattern => "[0-9]*"
  = f.input :goals_against, :maxlength => 2, :pattern => "[0-9]*"
:javascript
  function filter_players(changed) {
    var teamId = $('select#hockey_goaltender_result_team_id').val();
    $('#hockey_goaltender_result_player_id option').hide().each(function(index, item){
      if($(item).val() != '' && $(item).parent('span').length == 0) {
        $(item).wrap('<span style="display: none;" />');
      }
    });
    if (changed) {
      $('#hockey_goaltender_result_player_id').val('');
    }
    if (teamId != '') {
      $('#hockey_goaltender_result_player_id option[data-team-id=' + teamId + ']').show().unwrap();
    }
  }
  $(document).ready(function(){
    filter_players();
    $("select#hockey_goaltender_result_team_id").change(function(){
        filter_players(true);
    });
  });
