- if goaltenders.count == 0
  No goaltenders have been entered
- else
  %table.table.table-striped.table-bordered
    %thead
      %tr
        %th Team
        %th Player
        %th Minutes
        %th Shots
        %th Goals
        %th
    %tbody      
      - goaltenders.each_with_index do |g, i|
        %tr
          %td= g.team.short_name
          %td= "#{g.jersey_number} - #{g.last_name}"
          %td= g.minutes_played
          %td= g.shots_against
          %td= g.goals_against
          %td
            = link_to 'Edit', edit_admin_hockey_statsheet_goaltender_path(@statsheet, g), :remote => true, :title => 'Edit this goaltender', :class => 'btn btn-xs btn-primary'
            = link_to 'Delete', admin_hockey_statsheet_goaltender_path(@statsheet, g), :remote => true, :confirm => 'Are you sure?', :method => :delete, :title => 'Delete this goaltender', :class => 'btn btn-xs btn-primary'
