.ui.segment
  = simple_form_for [:admin, :league, @team, @player] do |f|
    = f.input :first_name
    = f.input :last_name
    = f.input :jersey_number
    = f.input :birthdate, as: :date, html5: true
    = f.input :email
    = f.input :substitute
    = f.button :wrapped, cancel: return_url

:css

  .player_first_name,
  .player_last_name,
  .player_birthdate,
  .player_email {
    width: 400px;
  }
  .player_jersey_number {
    width: 100px;
  }

