template
  require(from="./index.css")
  require(from="./elements/calendar-date-stepper")    
  require(from="./elements/calendar-view-selector")    
  require(from="./elements/calendar-table")


  h1 Calendar

  .toolbar
    calendar-date-stepper(date.bind="date", 
                          on-step.call="setDate(date)",
                          step-amount.bind="stepAmount",
                          step-unit.bind="stepUnit")
    | 
    calendar-view-selector(select.bind="show", 
                           on-select.call="setView(viewName)",
                           view-name.bind="view")

  hr

  | ${startDate} - ${endDate}
  calendar-table(date.bind="date" start-date.bind="startDate" end-date.bind="endDate" events.bind="events")
  br

