%table.stat#standings{ :cellspacing => "1" }
  %thead
    %tr.col-head
      %th{ :class => "team_name"} TEAM
      - columns.each do |column|
        %th{ :class => "#{column.field_name}" } #{column.title}
  %tbody
    - teams.each_with_index do |team, row|
      %tr{ :class => cycle("odd", "even") }
        %td{ :class => "team_name"} #{team.name}
        - @columns.each do |column|
          %td{ :class => "#{column.field_name}" }
            - if is_float?(team.record.fields[column.field_name])
              = number_with_precision(team.record[column.field_name], :precision => 3)
            - else
              = team.record[column.field_name]

