- title 'Standings'

.area-menu(class="justify-evenly shadow border border-gray-200 mb-8 divide-x divide-gray-200 rounded-lg hidden lg:flex")
  - @area_menu_items.each do |item|
    - if item[:url]
      - active = request.path.start_with?(item[:url])
      = link_to item[:title], item[:url], class: "grow bg-white hover:bg-gray-100 text-center p-4 first:rounded-l-lg last:rounded-r-lg #{active ? 'bg-gray-50' : ''}"  
    - else
      %span(class="grow bg-white font-bold text-center p-4 first:rounded-l-lg last:rounded-r-lg")= item[:title] 

%div(class="flex flex-col gap-4")

  %div= render :partial => 'shared/season_options', :object => @season_options

  = render "standings/templates/#{@division.standings_schema_id}"
