- title 'Standings'
%table.table.table-striped.table-bordered
  %thead
    %tr
      %th TEAM
      %th.span1 GP
      %th.span1 W
      %th.span1 L
      %th.span1 PTS
      %th.span1 GS
      %th.span1 GA
      %th.span1 +/-
      %th.span2 STREAK
    %tbody
      - @teams.each do |team|
        %tr
          %td= team.name
          %td= team.record.gp
          %td= team.record.w
          %td= team.record.l
          %td= team.record.pts
          %td= team.record.scored
          %td= team.record.allowed
          %td= team.record.margin
          %td= team.record.stk

