- title @league.name + ' Standings'

.row
  .col-sm-4
    = render :partial => 'shared/season_options', :object => @season_options

- teams_by_division(@teams).each do |division|
  %h3= division[:name] unless division[:name].blank?
  .visible-xs
    %table.table.table-striped.table-bordered
      %thead
        %tr
          %th TEAM
          %th PTS
        %tbody
          - last_pool = nil
          - division[:teams].each do |team|
            - unless team.pool.blank? or team.pool == last_pool
              %tr
                %th{:colspan => 2}= team.pool
              - last_pool = team.pool
            %tr
              %td= team.name
              %td= team.record.pts
  .hidden-xs
    %table.table.table-striped.table-bordered
      %thead
        %tr
          %th.span2 TEAM
          - @league.standings_array.each do |col|
            %th.span1= t('.'+col)
        %tbody
          - last_pool = nil
          - division[:teams].each do |team|
            - unless team.pool.blank? or team.pool == last_pool
              %tr
                %th{:colspan => 10}= team.pool
              - last_pool = team.pool            
            %tr
              %td
                = "#{team.seed} -" if team.seed
                = team.name
                - @league.standings_array.each do |col|
                  %td= team.record[col]



