= builder.input field.name, { label: field.name.humanize.titleize, required: field.required? } do
  .row
    .col-sm-4
      = builder.input "#{field.name}-first", { label: false, placeholder: 'First Name' }
    .col-sm-4
      = builder.input "#{field.name}-last", { label: false, placeholder: 'Last Name' }
