- editable ||= editable
.ui.basic.segment[section]
  - if editable
    %h5.ui.attached.top.header.secondary
      Section
      .div{ style: 'float: right;' }
        .ui.dropdown.icon
          = semantic_icon(:ellipsis, :horizontal)
          .left.menu
            .header ACTIONS
            = link_to semantic_icon(:trash) + ' Delete', page_section_path(@page, section), confirm: 'Are you sure?', method: :delete, remote: true, class: :item
            .divider
            .header MOVE
            %a.item.move_section_up{ :href => "#" }= semantic_icon(:arrow, :up) + ' Up'
            %a.item.move_section_down{ :href => "#" }= semantic_icon(:arrow, :down) + ' Down'
      .div{ style: 'clear: both;' }
    .ui.attached.content.segment
      .ui.internally.celled.columns.grid
        - section.columns.each_with_index do |column, index|
          .column.wide{ class: column, data: { column: index } }
            .blocks
              = render :partial => "blocks/block", :collection => @page.blocks.where(:section_id => section.id).where(:column => index).order(:position), :locals => { :editable => editable }
            %a.add-block.ui.default.fluid.button{ :role => "button", :"data-toggle" => "modal", :"data-column" => index, :"data-section_id" => section.id.to_s, :"href" => "#block-catalog"}= semantic_icon(:plus) + ' Add Block Here'
  - unless editable
    .ui.stackable.grid
      - section.columns.each_with_index do |column, index|
        .column.wide{ class: column, data: { column: index } }
          = render partial: 'blocks/block', collection: @page.blocks.where(section_id: section.id).where(column: index).order(:position), locals: { editable: editable }

