- editable ||= editable
.section{ :id => "section_#{ section.id.to_s }", :class => "#{"editable" if editable}" }
  - if editable
    .chrome
      .title= Section
      .buttons
        .btn-group
          %button.btn.btn-default.btn-xs.dropdown-toggle{ :"data-toggle" => "dropdown", rel: "tooltip", title: "Section Tools" }
            = icon('cog')
            != ' '
            %span.caret
          %ul.dropdown-menu.pull-right
            %li.dropdown-header ACTIONS
            %li= link_to icon(:"trash")+' Delete', page_section_path(@page, section), :confirm => 'Are you sure?', :method => :delete, :remote => true
            %li.divider
            %li.dropdown-header MOVE
            %li
              %a.move_section_up{ :href => "#" }= icon(:"arrow-up")+' Up'
            %li
              %a.move_section_down{ :href => "#" }= icon(:"arrow-down")+' Down'
      .clear
  .content.columns.row
    - section.columns.each_with_index do |column, index|
      .column{ :class => width_to_span(column), :"data-column" => index }
        .column-inner
          .blocks.row-fluid
            = render :partial => "blocks/block", :collection => @page.blocks.select{|block| block.section_id == section.id && block.column == index}.sort_by{|b| b.position || 0}, :locals => { :editable => editable }
          - if editable
            %a.add-block.btn.btn-default{ :role => "button", :"data-toggle" => "modal", :"data-column" => index, :"data-section_id" => section.id.to_s, :"href" => "#block-catalog"}= icon('plus')+" Add Block Here"
