- title 'Form Packets'
- page_actions do
  = link_to 'New Form Packet', new_admin_form_packet_path, class: [:ui, :primary, :button]
- wrapper class: [:ui, :container]

- @form_packets.each do |form_packet|
  %table.ui.table.celled
    %thead
      %tr
        %th{ style: 'display: flex; justify-content: space-between;' }
          = form_packet.name
          .ui.dropdown
            = semantic_icon :vertical, :ellipsis
            .menu.left  
              = link_to 'Add Form', new_admin_form_packet_form_template_path(form_packet), class: [:item]
              = link_to 'Rename', edit_admin_form_packet_path(form_packet), class: [:item]
              = link_to 'Delete', [:admin, form_packet], :method => :delete, :data => { :confirm => 'Are you sure?' }, class: [:item]
    %tbody
      - form_packet.templates.each do |template|
        %tr
          %td{ style: 'display: flex; justify-content: space-between;' }
            = template.name
            .ui.dropdown
              = semantic_icon :vertical, :ellipsis
              .menu.left          
                = link_to 'Edit', [:admin, template], class: [:item]
                = link_to 'Rename', edit_admin_form_template_path(template), class: [:item]
                = link_to 'Delete', [:admin, template], :method => :delete, :data => { :confirm => 'Are you sure?' } , class: [:item]           