= simple_form_for [:admin, :activity, @session] do |f|
  .panel.panel-default
    .panel-heading Logistics
    .panel-body
      - if %w{new create edit update}.include? params[:action]
        .row
          .col-sm-6
            = f.input :program_id, :as => :select, :collection => @options[:programs]
      .row
        .col-sm-4
          = f.input :starts_on, :as => :string, :input_html => { :value => @session.starts_on ? I18n.l(@session.starts_on) : "" }
        .col-sm-2
          = f.input :duration
      = f.input :all_day, :as => :boolean, :wrapper => :vertical_boolean
      .row
        .col-sm-4
          = f.input :location_id, :as => :select, :collection => @options[:locations]

  .panel.panel-default
    .panel-heading Display
    .panel-body
      = f.input :summary
      =f.input :description, :as => :text

  = f.button :wrapped, :cancel => return_url


