- editable ||= editable
.block[block]
  - if editable
    .ui.segments
      .ui.toolbar.segment
        = block.friendly_name
        .div{ style: 'float: right;' }
          .ui.dropdown.icon
            = semantic_icon(:ellipsis, :horizontal)
            .left.menu
              .header ACTIONS
              - block.class.actions.each do |action|
                = link_to semantic_icon(action) + ' ' + action.humanize, { controller: :blocks, action: :edit, page_id: @page.id, id: block.id }, remote: true, class: [:item]
              = link_to semantic_icon(:trash) + ' Delete', page_block_path(@page, block), confirm: 'Are you sure?', method: :delete, remote: true, class: [:item]
              .divider
              .header MOVE
              %a.item.move_up{ href: '#' }= semantic_icon(:arrow, :up) + ' Up'
              %a.item.move_down{ href: '#' }= semantic_icon(:arrow, :down) + ' Down'
              %a.item.move_left{ href: '#' }= semantic_icon(:arrow, :left) + ' Left'
              %a.item.move_right{ href: '#' }= semantic_icon(:arrow, :right) + ' Right'
              .divider
              .header SECTION        
              %a.item.section_up{ href: '#' }= semantic_icon(:arrow, :up) + ' Up'
              %a.item.section_down{ href: '#' }= semantic_icon(:arrow, :down) + ' Down'        
        .div{ style: 'clear: both;' }
      .ui.content.segment[block]{ class: editable && :editable }
        = render partial: "#{block.class.to_s.pluralize.underscore}/block", object: block

  - unless editable
    = render partial: "#{block.class.to_s.pluralize.underscore}/block", object: block