- editable ||= editable
.block{ :id => "block_"+block.id.to_s, :class => "#{'editable' if editable}" }
  - if editable
    .chrome
      .title= block.friendly_name
      .buttons
        .btn-group
          %button.btn.btn-default.btn-small.dropdown-toggle{ :"data-toggle" => "dropdown", rel: "tooltip", title: "Block Tools" }
            = icon('cog')
            != ' '
            %span.caret
          %ul.dropdown-menu.pull-right{ role: "menu" }
            %li.dropdown-header ACTIONS
            - block.class.actions.each do |action|
              %li
                = link_to icon(action)+" "+action.humanize, { :controller => "blocks", :action => "edit", :page_id => @page.id, :id => block.id }, :remote => true
            %li= link_to icon(:"trash-o")+' Delete', page_block_path(@page, block), :confirm => 'Are you sure?', :method => :delete, :remote => true
            %li.divider
            %li.dropdown-header MOVE
            %li
              %a.move_up{ :href => "#" }= icon(:"arrow-up")+' Up'
            %li
              %a.move_down{ :href => "#" }= icon(:"arrow-down")+' Down'
            %li
              %a.move_left{ :href => "#" }= icon(:"arrow-left")+' Left'
            %li
              %a.move_right{ :href => "#" }= icon(:"arrow-right")+' Right'
            %li.divider
            %li.dropdown-header SECTION
            %li
              %a.section_up{ :href => "#" }= icon(:"arrow-up")+' Up'
            %li
              %a.section_down{ :href => "#" }= icon(:"arrow-down")+' Down'
      .clear
  .content
    = render :partial => block.class.to_s.pluralize.underscore+"/block", :object => block
