.navbar
  .navbar-inner
    .pull-left
      = link_to icon('file')+" New Page", new_page_path, :id => "add_block", :class => 'btn'
      = link_to icon('th-list')+" Pages", pages_path, :id => "add_block", :class => 'btn'
      = link_to icon('cog')+" Settings", edit_page_path(@page), :id => "add_block", :class => 'btn'
      %a.btn{ :id => "add_section", :role => "button", :"data-toggle" => "modal", :"href" => "#section-catalog"}= icon('plus')+" Add Section"      
    .pull-right
      .btn-group{:"data-toggle" => "buttons-radio"}
        %button#toggle-edit.btn.active{ type: "button"}= icon("pencil")+" Edit"
        %button#toggle-organize.btn{ type: "button"}= icon("th")+" Organize"
        %button#toggle-preview.btn{ type: "button"}= icon("eye-open")+" Preview"