- content_for :actions do
  .ui.dropdown.icon.primary.button
    = semantic_icon(:cog)
    .left.menu
      .header THIS PAGE
      = link_to semantic_icon(:cog) + ' Settings', [:edit, @page], remote: true, class: :item
      = link_to semantic_icon(:share) + ' Go To', get_page_url(@page), class: :item
      = link_to semantic_icon(:trash) + ' Delete', @page, confirm: 'Are you sure?', method: :delete, remote: true, class: :item
      .header OTHER PAGES
      = link_to semantic_icon(:th, :list) + ' List', pages_path, class: :item
      = link_to semantic_icon(:plus) + ' New', new_page_path, class: :item
  .ui.mode.buttons
    %button.ui.icon.button#edit{ title: 'Edit' }= semantic_icon(:pencil)
    %button.ui.icon.button#organize{ title: 'Organize' }= semantic_icon(:th)
    %button.ui.icon.button#preview{ title: 'Preview' }= semantic_icon(:eye)
