- title "Edit " + @page.title
- content_for :head do
  = javascript_include_tag "pages"
  
= render :partial => "actions"            

#sections
  = render :partial => "sections/section", :collection => @page.sections.asc(:position), :locals => { :editable => true }

= render :partial => "block_catalog"

= render :partial => "section_catalog"  

