- title @page.title
- content_for :title_small do
  [Editing]
- content_for :head do
  = javascript_include_tag "pages"
  
= render :partial => "actions"            

#sections
  = render :partial => "sections/section", :collection => @page.sections.asc(:position), :locals => { :editable => true }
.row-fluid.add-section
  %a.btn.span12{ :id => "add_section", :role => "button", :"data-toggle" => "modal", :"href" => "#section-catalog"}= icon('plus')+" Add Section Here"   

= render :partial => "block_catalog"

= render :partial => "section_catalog"  


