- title "Edit " + @page.title

= render :partial => "actions"            

#sections
  = render :partial => "admin/sections/section", :collection => @page.sections.asc(:position), :locals => { :editable => true }

#dialog-modal

= render :partial => "block_catalog"

= render :partial => "section_catalog"


:css
  .blocks .block:first-child .move_up {
    display: none;
  }
  .blocks .block:last-child .move_down {
    display: none;
  }
  .blocks .block div.actions > div {
    display: none;
  }

- content_for :javascript do
  :javascript
    $(function() {
      $("#toggle_editor").click(function(){
        if ($(this).hasClass('icon-eye-close')) {
          $(this).removeClass('icon-eye-close');
          $(this).addClass('icon-eye-open');
          $('.block').addClass('editable');
          $(this).text('Hide Controls');
        } else {
          $('.block').removeClass('editable');
          $(this).text('Show Controls');
        }
        return false;      
      });    
    });
    
    $(function() {
      $(document).on('click', '.block a.edit', function(){
        toggleEditor($(this));
        return false;
      });
      $(document).on('click', '.block a.move_up', function(){
        var $block = $(this).closest('.block');
        $block.insertBefore($block.prev());
        updateBlockPositions($(this));
        return false;
      });
      $(document).on('click', '.block a.move_down', function(){
        var $block = $(this).closest('.block');
        $block.insertAfter($block.next());
        updateBlockPositions($(this));
        return false;
      });
      $(document).on('click', '.section a.add_block', function(){
        $('#column').val( $(this).attr('data-column') );
        $('#section_id').val( $(this).attr('data-section_id') );
      });
      $(document).on('click', '#block-catalog button.add_block', function(){
        $('#block_type').val( $(this).attr('data-block_type') );
      });      
    });
    
    function toggleVisibleIcon(control) {
      if (control.hasClass('icon-eye-close')) {
        control.removeClass('icon-eye-close').addClass('icon-eye-open');
      } else {
        control.removeClass('icon-eye-open').addClass('icon-eye-close');      
      }  
    }
    
    function toggleEditor($button){
      var $block = $button.closest('.block');
      $block.find('.content').slideToggle();
      $block.find('div.edit').slideToggle();      
    }
    
    function updateBlockPositions(button) {
      var items = '';
      $.each(button.closest(".blocks").find(".block"), function(){
        var id = $(this).attr("id");
        items += id.replace("_","[]=") + "&";
      })
      $.ajax({
        type: 'post',
        data: items ,
        dataType: 'json',
        url: '#{position_page_blocks_path(@page)}'
      });
    }
