- title @page.title
- content_for :title_small do
  [Editing]
- content_for :head do
  = javascript_include_tag "pages"
  
= render :partial => "actions"            

#sections
  = render :partial => "sections/section", :collection => @page.sections.asc(:position), :locals => { :editable => true }
.row-fluid.add-section
  %a.btn.btn-default.add-section{ :role => "button", :"data-toggle" => "modal", :"href" => "#section-catalog"}= icon('plus')+" Add Section Here"   

= render :partial => "block_catalog"

= render :partial => "section_catalog"

#dialog-modal.modal.fade{ :tabindex => "-1", :role => "dialog", :"aria-labelledby" => "modalLabel", :"aria-hidden" => true }
 
:javascript
  var position_page_blocks_path = "#{position_page_blocks_path(@page)}";
  var position_page_sections_path = "#{position_page_sections_path(@page)}";


