- title 'Pages'

- content_for :actions do
  = link_to icon('plus')+" New Page", new_page_path, class: [:ui, :primary, :button]

.ui.container

  %table.ui.celled.striped.table
    %thead
      %tr
        %th Title
        %th{ style: 'text-align: center;' } Position
        %th{ style: 'text-align: center;' } Actions
    %tbody
      - @pages.each_with_index do |page, i|
        - positioned_first = page.position.to_i == 0
        - positioned_last = page.parent_id != @pages[i+1]&.parent_id
        %tr[page]
          %td
            - page.ancestry_depth.times do
              %div{ style: 'width: 20px; display: inline-block;' }
            = link_to page.title, get_page_url(page)
            %div{ style: 'float: right;' }
              - if page.draft
                %em (draft)
              - unless page.show_in_menu
                .ui.tiny.label
                  = semantic_icon(:eye, :slash)
                  Hidden
              - unless page.link_url.blank?
                .ui.tiny.label
                  = semantic_icon(:share)
                  Link
              - if page.skip_to_first_child
                .ui.tiny.label
                  = semantic_icon(:arrow, :down)
                  First Child            
          %td.collapsing
            = link_to semantic_icon(:arrow, :up), [:move_up, page], class: [:mini, :ui, :icon, :button, positioned_first ? :default : :primary],
                                                        disabled: positioned_first,
                                                        method: :post,
                                                        title: 'Move Up'
            = link_to semantic_icon(:arrow, :down), [:move_up, page], class: [:mini, :ui, :icon, :button, positioned_last ? :default : :primary],
                                                          disabled: positioned_last,
                                                          method: :post,
                                                          title: 'Move Down'
          %td.collapsing
            = link_to semantic_icon(:pencil) + ' Edit', [:edit, page], class: [:mini, :ui, :button, :primary]
            = link_to semantic_icon(:trash) + ' Delete', page, confirm: 'Are you sure?',
              method: :delete,
              remote: true,
              class: [:mini, :ui, :button, :primary]
