- title @page.title
- page_actions do
  - if current_user_is_admin?
    .ui.dropdown.icon.primary.button
      = semantic_icon(:cog)
      .left.menu
        .header THIS PAGE
        = link_to semantic_icon(:pencil) + ' Edit', edit_page_path(@page), class: :item
        = link_to semantic_icon(:trash) + ' Delete', @page, confirm: 'Are you sure?', method: :delete, remote: true, class: :item
        .header OTHER PAGES
        = link_to semantic_icon(:th, :list) + ' List', pages_path, class: :item
        = link_to semantic_icon(:plus) + ' New', new_page_path, class: :item

#page-sections= render partial: 'sections/section', collection: @page.sections.order(:position)

