%thead
  %tr.title
    %th.period{ :colspan => 3} #{title}
  %tr.columns
    %th.time Time
    %th.team Team
    %th.goal Scoring Detail
%tbody
  - goals = stats.events.goals.for_period(period).sorted_by_time
  - if goals.count == 0
    %tr
      %td{ :colspan => '3' } No scoring this period
  - else
    - reset_cycle
    - goals.each do |goal|
      %tr{ :class => "#{cycle('odd', 'even')}" }
        %td.time #{goal.time}
        %td.team 
          - if goal.side == 'away'
            -#image_tag @away_team.logo.micro.url.to_s if @away_team.logo?
            = @stats.away_team_name
          - else
            -#image_tag @home_team.logo.micro.url.to_s if @home_team.logo?
            = @stats.home_team_name
        %td.goal 
          = "##{goal.plr} #{show_player_name(stats, goal.side, goal.plr)}"
          .assists
            - unless goal.a1.blank?
              Assists: 
              = "##{goal.a1} #{show_player_name(stats, goal.side, goal.a1)}"
              - unless goal.a2.blank?
                = ", ##{goal.a2} #{show_player_name(stats, goal.side, goal.a2)}"
            - else
              Unassisted
%thead
  %tr.columns
    %th.time Time
    %th.team Team
    %th.penalty Penalty Detail
%tbody
  - penalties = stats.events.penalties.for_period(period).sorted_by_time.each
  - if penalties.count == 0
    %tr
      %td{ :colspan => '3' } No penalties this period
  - else
    - penalties.each do |penalty|
      - reset_cycle
      %tr{ :class => "#{cycle('odd', 'even')}" }
        %td.time #{penalty.time}
        %td.team
          - if penalty.side == 'away'
            -#image_tag @away_team.logo.micro.url.to_s if @away_team.logo?
            = @stats.away_team_name
          - else
            -#image_tag @home_team.logo.micro.url.to_s if @home_team.logo?
            = @stats.home_team_name
        %td.penalty ##{penalty.plr} #{show_player_name(stats, penalty.side, penalty.plr)}: #{penalty.dur} Minutes for #{penalty.inf}


