%thead
  %tr.title
    %th.period{ :colspan => 3} #{title}
  %tr.columns
    %th.time Time
    %th.team Team
    %th.goal Scoring Detail
%tbody
  - goals = stats.goals.for_period(period).sorted_by_time
  - if goals.count == 0
    %tr
      %td{ :colspan => '3' } No scoring this period
  - else
    - reset_cycle
    - goals.each do |goal|
      %tr{ :class => "#{cycle('odd', 'even')}" }
        %td.time #{goal.time}
        %td.team
          = goal.team.name
        %td.goal 
          = "##{goal.scored_by_number} #{goal.scored_by.player.full_name if goal.scored_by && goal.scored_by.player}"
          .assists
            - if goal.assisted_by
              Assists: 
              = "##{goal.assisted_by_number} #{goal.assisted_by.player.full_name if goal.assisted_by && goal.assisted_by.player}"
              - if goal.also_assisted_by
                = "##{goal.also_assisted_by_number} #{goal.also_assisted_by.player.full_name if goal.also_assisted_by && goal.also_assisted_by.player}"
            - else
              Unassisted
%thead
  %tr.columns
    %th.time Time
    %th.team Team
    %th.penalty Penalty Detail
%tbody
  - penalties = stats.penalties.for_period(period).sorted_by_time.each
  - if penalties.count == 0
    %tr
      %td{ :colspan => '3' } No penalties this period
  - else
    - penalties.each do |penalty|
      - reset_cycle
      %tr{ :class => "#{cycle('odd', 'even')}" }
        %td.time #{penalty.time}
        %td.team
          = penalty.team.name
        %td.penalty
          = "##{penalty.committed_by_number}"
          = " #{penalty.committed_by.player.full_name}:" if penalty.committed_by && penalty.committed_by.player
          = " #{penalty.duration} Minutes for #{penalty.infraction}"


