%thead
  %tr.team
    %th{ :colspan => 7 } 
      = side == 'away' ? @stats.away_team.name : @stats.home_team.name
  %tr.columns
    %th.player Player
    %th.minutes MIN
    %th.shots SA
    %th.goals GA
    %th.saves Saves
    %th.save_pct SV%
    %th.pim PIM
%tbody
  - goalies = @stats.goaltenders.for_side(side).entries
  - if goalies.count > 0
    - reset_cycle
    - goalies.each do |goalie|
      %tr
        %td.player 
          = goalie.full_name
          = "##{goalie.jersey_number}" unless goalie.jersey_number.blank?
        %td.minutes #{goalie.minutes_played}
        %td.shots #{goalie.shots_against}
        %td.goals #{goalie.goals_against}
        %td.saves #{goalie.saves}
        %td.save_pct #{goalie.save_percentage.round(3)}
        %td.pim 0
  - else
    %tr
      %td{ :colpsan => 14 } xNo goaltender data has been maintained
