%table.table.table-bordered
  %tbody
    %tr
      %th.team 
      %th.period 1
      %th.period 2
      %th.period 3
      - if @stats.overtime?
        %th.period OT
      %th.total T
    %tr
      %td.team= @stats.away_team.name
      %td.period= @stats.goals.away.period1.count
      %td.period= @stats.goals.away.period2.count
      %td.period= @stats.goals.away.period3.count
      - if @stats.overtime?
        %td.period= @stats.goals.away.overtime.count
      %td.total= @stats.goals.away.count
    %tr
      %td.team= @stats.home_team.name
      %td.period= @stats.goals.home.period1.count
      %td.period= @stats.goals.home.period2.count
      %td.period= @stats.goals.home.period3.count
      - if @stats.overtime?
        %td.period= @stats.goals.home.overtime.count
      %td.total= @stats.goals.home.count
