%thead
  %tr.title
    %th{ :colspan => 6 } 
      = side == 'away' ? @stats.away_team.name : @stats.home_team.name
  %tr.columns
    %th.player Player
    %th.goal G
    %th.assists A
    %th.points PTS
    %th.pen PEN
    %th.pim PIM
%tbody
  - skaters = @stats.skaters.for_side(side).entries
  - if skaters.count > 0
    - reset_cycle
    - skaters.each do |skater|
      %tr{ :class => "#{cycle('odd', 'even')}" }
        %td.player 
          = skater.full_name
          = "##{skater.jersey_number}" unless skater.jersey_number.blank?
          = " *" unless skater.player_id
        %td.goal #{skater.goals}
        %td.assists #{skater.assists}
        %td.points #{skater.points}
        %td.pen #{skater.penalties}
        %td.pim #{skater.penalty_minutes}
  - else
    %tr
      %td{ :colpsan => 6 } No player data has been maintained

    
