%table.table.table-striped.table-bordered
  %thead
    %tr.columns
      %th TEAM
      %th 1
      %th 2
      %th 3
      - if @stats.overtime?
        %th OT
      %th TOTAL
  %tbody
    %tr.odd
      %td #{@stats.away_team_name}
      %td #{@stats.away_shots_1}
      %td #{@stats.away_shots_2}
      %td #{@stats.away_shots_3}
      - if @stats.overtime?
        %td #{@stats.away_shots_ot}
      %td #{@stats.away_shots_total}
    %tr.even
      %td #{@stats.home_team_name}
      %td #{@stats.home_shots_1}
      %td #{@stats.home_shots_2}
      %td #{@stats.home_shots_3}
      - if @stats.overtime?
        %td #{@stats.home_shots_ot}
      %td #{@stats.home_shots_total}
