- bar_width = 200
.stat
  .goals
    - away_goals = @stats.away_goals_total
    - home_goals = @stats.home_goals_total
    - total_goals = away_goals + home_goals
    - away_width = total_goals > 0 ? away_goals * bar_width / total_goals : 0
    - home_width = total_goals > 0 ? home_goals * bar_width / total_goals : 0
    %table.table.table-bordered
      %thead
        %tr
          %th Goals
      %tbody
        %tr
          %td
            %span.bar{ :style => "width: #{away_width}px;"}
            = away_goals
        %tr
          %td
            %span.bar{ :style => "width: #{home_width}px"}
            = home_goals
.stat
  .shots
    - away_shots = @stats.away_shots_total
    - home_shots = @stats.home_shots_total
    - total_shots = away_shots + home_shots
    - away_width = total_shots > 0 ? away_shots * bar_width / total_shots : 0
    - home_width = total_shots > 0 ? home_shots * bar_width / total_shots : 0
    %table.table.table-bordered
      %thead
        %tr
          %th Shots
      %tbody
        %tr
          %td
            %span.bar{ :style => "width: #{away_width}px;"}
            = away_shots
        %tr
          %td
            %span.bar{ :style => "width: #{home_width}px"}
            = home_shots
.stat
  .pim
    - away_pim = @stats.away_pim_total
    - home_pim = @stats.home_pim_total
    - total_pim = away_pim + home_pim
    - away_width = total_pim > 0 ? away_pim * bar_width / total_pim : 0
    - home_width = total_pim > 0 ? home_pim * bar_width / total_pim : 0
    %table.table.table-bordered
      %thead
        %tr
          %th PIM
      %tbody
        %tr
          %td
            %span.bar{ :style => "width: #{away_width}px;"}
            = away_pim
        %tr
          %td
            %span.bar{ :style => "width: #{home_width}px;"}
            = home_pim


