- title 'Edit Game Import'
= simple_form_for [:admin, @game_import], :html => {:multipart => true} do |f|
  %fieldset
    %legend Teams
    = f.simple_fields_for :teams do |t|
      = t.input :team_id, :as => :select, :collection => @team_options, :label => t.object.name
  %fieldset
    %legend Venues
    = f.simple_fields_for :venues do |t|
      = t.input :venue_id, :as => :select, :collection => @venue_options, :label => t.object.name
  .form-actions
    = f.button :submit, :class => 'btn btn-primary'

.data
  %table.table.table-striped.table-bordered
    %tbody
      - @game_import.contents.each do |row|
        %tr
          - row.each do |col|
            %td #{col}



    
