%h2= "#{@statsheet.game.summary} (#{@statsheet.game.starts_on.strftime('%m/%d/%y')})"
.well
  = link_to 'Post Statistics', post_admin_hockey_statsheet_path(@statsheet), :confirm => "This post the statistcs from this game to player's record.  Are you sure?", :method => :post, :class => 'btn btn-small' unless @statsheet.posted?
  = link_to 'Unpost Statistics', unpost_admin_hockey_statsheet_path(@statsheet), :confirm => "This post the statistcs from this game to each player's record.  Are you sure?", :method => :post, :class => 'btn btn-small' if @statsheet.posted?
  = link_to "Done", return_url, :class => "btn btn-small"
.tabbable
  %ul.nav.nav-tabs
    %li.active= link_to 'Summary', '#1', "data-toggle" => 'tab'
    %li= link_to 'Players', '#2', "data-toggle" => 'tab'
    %li= link_to 'Goals', '#3', "data-toggle" => 'tab'
    %li= link_to 'Penalties', '#4', "data-toggle" => 'tab'
    %li= link_to 'Goaltending', '#5', "data-toggle" => 'tab'
.tab-content
  #1.tab-pane.active
    = render 'admin/hockey_statsheets/periods_sum'
    = render 'admin/hockey_statsheets/goals_sum'
    = render 'admin/hockey_statsheets/shots_sum'  
  #2.tab-pane
    = render 'admin/hockey_statsheets/players'  
  #3.tab-pane
    = render 'admin/hockey_statsheets/goals'  
  #4.tab-pane
    = render 'admin/hockey_statsheets/penalties'  
  #5.tab-pane
    = render 'admin/hockey_statsheets/goaltenders'  

#dialog-modal

- content_for :javascript do
  :javascript
    $(document).ready(function(){
     $(".played").click(function(){
       var btn = $(this);
       btn.button('loading');
       setTimeout(function() {
         btn.button('reset');
         btn.find("i").toggleClass('icon-ok');
         btn.toggleClass('btn-success');
       }, 2000);
     });
    });

