%table.table.table-bordered
  %thead
    %tr
      %th{:scope => 'col'} TEAM
      %th{:scope => 'col'} 1
      %th{:scope => 'col'} 2
      %th{:scope => 'col'} 3
      %th{:scope => 'col'} OT
      %th{:scope => 'col'} ALL
  %tbody
    %tr
      %td= @statsheet.away_team_name
      %td= @statsheet.away_goals_1
      %td= @statsheet.away_goals_2
      %td= @statsheet.away_goals_3
      %td= @statsheet.away_goals_ot
      %td= @statsheet.away_goals_total
    %tr
      %td= @statsheet.home_team_name
      %td= @statsheet.home_goals_1
      %td= @statsheet.home_goals_2
      %td= @statsheet.home_goals_3
      %td= @statsheet.home_goals_ot
      %td= @statsheet.home_goals_total
