%table.ui.celled.table
  %thead
    %tr
      %th=# link_to 'Edit Goals', edit_admin_hockey_statsheet_path(@statsheet, :form => 'goals_sum'), :remote => true, :class => 'btn btn-xs btn-primary'
      %th{:scope => 'col'} 1
      %th{:scope => 'col'} 2
      %th{:scope => 'col'} 3
      %th{:scope => 'col'} OT
      %th{:scope => 'col'} ALL
  %tbody
    %tr
      %td= @statsheet.away_team.name
      %td= away["1"].count
      %td= away["2"].count
      %td= away["3"].count
      %td= away["ot"].count
      %td= away["all"].count
    %tr
      %td= @statsheet.home_team.name    
      %td= home["1"].count
      %td= home["2"].count
      %td= home["3"].count
      %td= home["ot"].count
      %td= home["all"].count