= form_for( @statsheet, :url => admin_hockey_statsheet_path(@statsheet), :remote => true ) do |f|
  = hidden_field_tag(:form, 'goals_sum')
  %table.table.table-bordered
    %tr
      %th
      %th 1
      %th 2
      %th 3
      %th OT
    %tr
      %td= @statsheet.away_team_name
      %td= f.text_field :away_goals_1, :maxlength => 2, :pattern => "[0-9]*", :class => "span1"
      %td= f.text_field :away_goals_2, :maxlength => 2, :pattern => "[0-9]*", :class => "span1"
      %td= f.text_field :away_goals_3, :maxlength => 2, :pattern => "[0-9]*", :class => "span1"
      %td= f.text_field :away_goals_ot, :maxlength => 2, :pattern => "[0-9]*", :class => "span1"
    %tr
      %td= @statsheet.home_team_name
      %td= f.text_field :home_goals_1, :maxlength => 2, :pattern => "[0-9]*", :class => "span1"
      %td= f.text_field :home_goals_2, :maxlength => 2, :pattern => "[0-9]*", :class => "span1"
      %td= f.text_field :home_goals_3, :maxlength => 2, :pattern => "[0-9]*", :class => "span1"
      %td= f.text_field :home_goals_ot, :maxlength => 2, :pattern => "[0-9]*", :class => "span1"



