%table.ui.celled.table
  %thead
    %tr
      %th= link_to 'Edit Periods', edit_admin_hockey_statsheet_path(@statsheet, :form => 'periods_sum'), remote: true, class: [:ui, :mini, :primary, :button]
      %th{:scope => 'col'} 1
      %th{:scope => 'col'} 2
      %th{:scope => 'col'} 3
      %th{:scope => 'col'} OT
      %th{:scope => 'col'} ALL
  %tbody
    %tr
      %td Duration
      %td #{@statsheet.min_1}
      %td #{@statsheet.min_2}
      %td #{@statsheet.min_3}
      %td #{@statsheet.min_ot}
      %td #{@statsheet.min_total}

