.well
  = link_to 'Get Missing Players', load_admin_hockey_statsheet_players_path(@statsheet), :remote => true, :confirm => "This will add from each team's league roster all players who are currently not on the statsheet roster.  Are you sure?", :method => :post, :class => 'btn btn-small'    
  = link_to 'Reload All Players', reload_admin_hockey_statsheet_players_path(@statsheet), :remote => true, :confirm => "This will clear the rosters on this statsheet and replace with each team's league roster. Are you sure?", :method => :post, :class => 'btn btn-small'
.row
  #players-away.span6
    %h3 #{@statsheet.away_team_name}
    = render :partial => 'admin/hockey_players/table', :locals => {:players => @statsheet.players.away.asc(:last_name)}
  #players-home.span6
    %h3 #{@statsheet.home_team_name}
    = render :partial => 'admin/hockey_players/table', :locals => {:players => @statsheet.players.home.asc(:last_name)}

