:css
  @page {
    size: 8.5in 11in;
    margin: 0in;
  }
  html, 
  body {
    padding-top: 0;
    height: auto;
  }
  table {
    width: 100%;
    font-size: 12px;
  }
  td, 
  th {
    border: 1px solid black;
    padding: 2px 4px;
    line-height: 12px;
  }
  th {
    text-align: center;
  }
  tr.title > th {
    background-color: #000000 !important;
    color: #FFFFFF !important;
    -webkit-print-color-adjust: exact;
  }
  table.big td, 
  tr.big td {
    line-height: 18px;
  }
  tr.huge th,
  tr.huge td {
    height: 31px;
  }
  .note {
    font-size: 60%;
    font-weight: normal;
    font-style: italic;
    text-transform: uppercase;
  }  
  .overview {
    padding-left: 3px;
    padding-right: 3px;
    margin-bottom: 4px;
  }
  .overview th {
    text-align: left;
  }
  .goals, 
  .penalties {
    float: left;
  }
  .goals {
    width: 45%;
    padding-right: 3px;
  }
  .penalties {
    width: 55%;
  }
  .header,
  .top,
  .middle {
    margin-bottom: 5px;
  }
  .home-team, 
  .away-team {
    width: 25%;
    float: left;
  }
  .header .home,
  .header .away {
    width: 50%;
    float: left;
  }
  .header .home {
    text-align: right;
  }
  .game-info {
    width: 50%;
    float: left;
  }
  .scoring-by-period,
  .shots-by-period {
    float: left;
    width: 50%;
    padding-left: 3px;
    padding-right: 3px;
  }
  .home-saves,
  .away-saves,
  .home-minutes,
  .away-minutes {
    float: left;
    width: 25%;
  }
  .clear {
    clear: both;
  }
  .home-saves,
  .home-minutes {
    padding-right: 3px;
  }
  .away-saves,
  .away-minutes {
    padding-left: 3px;
  }
  td.name {
    position: relative
  }
  td.name:before {
    content: '&nbsp;';
    visibility: hidden;
  }
  td.name span {
    position: absolute;
    left: 4px;
    right: 4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
  }

  .notes-on-back {
    position: absolute;
    bottom: 2px;
  }

  .notes-on-back .checkbox {
    width:10px;
    height:10px;
    border: 1px solid #000;
    display: inline-block;
    margin: 0;
    margin-right: 5px;
  }
  .notes-on-back .text {
    display: inline-block;
    font-weight: normal;
    font-style: italic;
  }

.header
  .away
    %h3= @statsheet.game.away_team_name
  .home
    %h3= @statsheet.game.home_team_name
  .clear
.top
  .away-team
    = render partial: 'admin/hockey_statsheets/print/roster_table', locals: { header: "AWAY TEAM", skaters: @statsheet.skaters.away.order(:last_name, :first_name) }
  .game-info
    .overview
      %table
        %tr.title
          %th(colspan="2" style="text-align: center;") GAME OVERVIEW
        %tr
          %th Date / Time
          %td= @statsheet.game.starts_on.strftime('%^a %-m/%-e/%y %l:%M %p')
        %tr
          %th League
          %td= @statsheet.game.program.name
        %tr
          %th Division
          %td
            = @statsheet.game.division.name
            != ' - '
            = @statsheet.game.season.name
        %tr
          %th Location
          %td
            = @statsheet.game.location.name
            - if @statsheet.game.playing_surface
              != ' - '
              = @statsheet.game.playing_surface.name
        %tr.huge
          %th{ style: 'width: 30%' }
            %div Referee
            %div.note (Please Print)
          %td
        %tr.huge
          %th 
            %div Referee
            %div.note (Please Print)
          %td
        %tr.huge
          %th 
            %div Scorekeeper
            %div.note (Please Print)
          %td
        %tr
          %th{ colspan: 2, style: 'height: 105px; vertical-align: top; position: relative;' }
            Notes
            .notes-on-back
              .checkbox 
              .text Additional notes on back
    .by-period
      .scoring-by-period
        = render partial: 'admin/hockey_statsheets/print/scoring_table'
      .shots-by-period
        = render partial: 'admin/hockey_statsheets/print/shots_table'
      .clear
  .home-team
    = render partial: 'admin/hockey_statsheets/print/roster_table', locals: { header: "HOME TEAM", skaters: @statsheet.skaters.home.order(:last_name, :first_name) }
  .clear
.middle
  .goals
    = render partial: 'admin/hockey_statsheets/print/goals_table'
  .penalties
    = render partial: 'admin/hockey_statsheets/print/penalties_table'
  .clear
.bottom{ style: 'display: none;'}
  .home-saves
    = render partial: 'admin/hockey_statsheets/print/goalie_table', locals: { header: 'HOME GOALIE SAVES' }
  .home-minutes
    = render partial: 'admin/hockey_statsheets/print/goalie_table', locals: { header: 'HOME GOALIE MINUTES' }
  .away-minutes
    = render partial: 'admin/hockey_statsheets/print/goalie_table', locals: { header: 'AWAY GOALIE MINUTES' }
  .away-saves
    = render partial: 'admin/hockey_statsheets/print/goalie_table', locals: { header: 'AWAY GOALIE SAVES' }
:javascript
  $(function() {
    window.print();
  });