%table.ui.celled.table
  %thead
    %tr
      %th= link_to 'Edit Shots', edit_admin_hockey_statsheet_path(@statsheet, :form => 'shots_sum'), remote: true, class: [:ui, :mini, :primary, :button]
      %th{:scope => 'col'} 1
      %th{:scope => 'col'} 2
      %th{:scope => 'col'} 3
      %th{:scope => 'col'} OT
      %th{:scope => 'col'} ALL
  %tbody
    %tr
      %td= @statsheet.away_team.name
      %td= @statsheet.away_shots_1
      %td= @statsheet.away_shots_2
      %td= @statsheet.away_shots_3
      %td= @statsheet.away_shots_ot
      %td= @statsheet.away_shots_total
    %tr
      %td= @statsheet.home_team.name
      %td= @statsheet.home_shots_1
      %td= @statsheet.home_shots_2
      %td= @statsheet.home_shots_3
      %td= @statsheet.home_shots_ot
      %td= @statsheet.home_shots_total
