= simple_form_for @block, :url => page_blocks_carousel_path(@page, @block), :remote => true do |f|
  = f.input :post_count, :input_html => { :class => 'input-min' }
  = f.input :shuffle, :as => :boolean, :wrapper => :vertical_boolean
  .control-group
    %label.control-label Tags
    .controls
      = f.collection_check_boxes(:tags, Post.tag_counts.collect{|a| [a[:name], "#{a[:name]} (#{a[:count].to_s})"]}, :first, :last, { :item_wrapper_class => 'checkbox-inline'}) 