.ui.small.modal.edit_block
  .header Edit Markup
  .content
    = simple_form_for @block, url: page_blocks_carousel_path(@page, @block), remote: true do |f|
      = f.input :post_count
      = f.input :shuffle, as: :boolean
      = f.input :interval
      = f.input :tags, as: :tags, source: :post
  .actions
    %button.ui.primary.button{ type: :submit } Save
    %button.ui.cancel.button Cancel

