- title 'Posts'
- wrapper class: [:ui, :container]
- page_actions do
  = link_to 'New Post', new_admin_post_path(), class: [:ui, :primary, :button]

.ui.segment
  
  = paginate @posts
  %span{ style: 'margin-left: 10px' }!= page_entries_info @posts

  %table.ui.celled.striped.table
    - @posts.each do |post|
      %tr
        %td{width: '100'}
          = image_tag post.image.thumb.url if post.image_url.present?
        %td
          %h4= post.title
          - post.tags.each do |tag|
            .ui.label.mini= tag
        %td.collapsing
          = link_to 'Edit', edit_admin_post_path(post), class: [:ui, :mini, :primary, :button]
          = link_to 'Delete', [:admin, post], confirm: 'Are you sure?', method: :delete, class: [:ui, :mini, :primary, :button]
  
  = paginate @posts
  %span{ style: 'margin-left: 10px' }!= page_entries_info @posts

