{{game.summary}}
<div class="row">
  <div class="col-sm-4">
  </div>
  <div class="col-sm-4">
    <h1>{{clock.minutes}}:{{clock.seconds}}</h1>
    <button class="btn btn-default btn-block" {{action "toggleClock"}}>{{label}}</button>
  </div>
  <div class="col-sm-4">
  </div>
</div>
