

= simple_form_for [:admin, :league, @game] do |f|
  .panel.panel-default
    .panel-heading Logistics
    .panel-body
      - if %w{new create edit update}.include? params[:action]
        .row
          .col-sm-6
            = f.input :program_id, :as => :select, :collection => @options[:programs]
        .row
          .col-sm-6
            = f.input :season_id, :as => :select, :collection => @season_options
        .row
          .col-sm-6
            = f.input :division_id, :as => :select, :collection => @division_options
      .row
        .col-sm-4
          = f.input :starts_on, :as => :string, :input_html => { :value => @game.starts_on ? I18n.l(@game.starts_on) : "" }
        .col-sm-2
          = f.input :duration
      .row
        .col-sm-4
          = f.input :location_id, :as => :select, :collection => @options[:locations]
        .col-sm-4
          = f.input :playing_surface_id, :as => :select, :collection => []
  .row
    .col-sm-6
      .panel.panel-default
        .panel-heading Away Team
        .panel-body
          = f.input :away_team_id, :as => :select, :collection => []
          = f.input :away_team_custom_name, :as => :boolean, :wrapper => :vertical_boolean
          = f.input :away_team_name
          = f.input :away_team_locker_room_id, :as => :select, :collection => []
    .col-sm-6
      .panel.panel-default
        .panel-heading Home Team
        .panel-body
          = f.input :home_team_id, :as => :select, :collection => []
          = f.input :home_team_custom_name, :as => :boolean, :wrapper => :vertical_boolean
          = f.input :home_team_name
          = f.input :home_team_locker_room_id, :as => :select, :collection => []

  .panel.panel-default
    .panel-heading Display
    .panel-body
      .row
        .col-sm-6
          = f.input :text_before
        .col-sm-6
          = f.input :text_after

  - if @game.persisted?
    .panel.panel-default
      .panel-body
        %table.table
          %thead
            %tr
              %th Time
              %th Action
              %th User
          %tbody
            - @game.audits.each do |audit|
              %tr
                %td= "#{time_ago_in_words(audit.created_at)} ago"
                %td= audit.action
                %td= audit&.user&.full_name
                %td
                  - if audit.action == 'update'
                    %table.table
                      %thead
                        %tr
                          %th Attribute
                          %th From -> To
                      %tbody
                        - audit.audited_changes.each do |attr, change|
                          %tr
                            %td= attr.humanize
                            %td= change[0]
                            %td= change[1]

  = f.button :wrapped, :cancel => return_url

- content_for :javascript do
  :javascript

    $(function() {
      var seasons = #{raw @options[:seasons].to_json};
      var divisions = #{raw @options[:divisions].to_json};
      var playing_surfaces = #{raw @options[:playing_surfaces].to_json};
      var locker_rooms = #{raw @options[:locker_rooms].to_json};
      var teams_path = '#{admin_teams_path}?season_id=::game_season_id::&division_id=::game_division_id::';
      $(function() {
        bindSelect('#game_division_id', '#game_program_id', divisions, 'id', 'name', '#{@game.division_id}');
        bindSelect('#game_season_id', '#game_program_id', seasons, 'id', 'name', '#{@game.season_id}');
        bindSelect('#game_home_team_id, #game_away_team_id', '#game_season_id, #game_division_id', teams_path, 'id', 'name', ['#{@game.away_team_id}', '#{@game.home_team_id}']);
        bindSelect('#game_playing_surface_id', '#game_location_id', playing_surfaces, 'id', 'name', '#{@game.playing_surface_id}');
        bindSelect('#game_home_team_locker_room_id, #game_away_team_locker_room_id', '#game_location_id', locker_rooms, 'id', 'name', ['#{@game.home_team_locker_room_id}', '#{@game.away_team_locker_room_id}']);
      });
    });
    $(function(){
      if( !$('#game_away_team_custom_name').attr('checked') ) { $('#game_away_team_name').closest('.form-group').hide() }
      if( !$('#game_home_team_custom_name').attr('checked') ) { $('#game_home_team_name').closest('.form-group').hide() }
      $('#game_away_team_custom_name').change(function(){
        $('#game_away_team_name').closest('.form-group').slideToggle('slow');
      });
      $('#game_home_team_custom_name').change(function(){
        $('#game_home_team_name').closest('.form-group').slideToggle('slow');
      });
      $('input#game_starts_on').datetimepicker({
        format: 'm/dd/yyyy H:ii P',
        showMeridian: true,
        startDate: new Date()
      });
    });
