= simple_form_for( @player, :url => url, :remote => true ) do |f|
  = f.input :first_name
  = f.input :last_name
  = f.input :jersey_number
  = f.input :games_played, :as => :boolean, :label => 'Played?'

