= simple_form_for( @player, :url => admin_hockey_statsheet_players_path(@statsheet.id), :remote => true ) do |f|
  = f.input :team_id, :collection => @team_options
  = f.input :first_name
  = f.input :last_name
  = f.input :jersey_number
  = f.input :games_played, :as => :boolean, :wrapper => :vertical_boolean, :label => "Played?"
