= simple_form_for( @player, :url => admin_hockey_statsheet_players_path(@statsheet.id), :remote => true ) do |f|
  = f.input :side, :collection => @side_options
  = f.input :first_name
  = f.input :last_name
  = f.input :num
  = f.input :played, :as => :boolean
