%tr{ :id => "player_#{player.id}" }
  %td
    - if player.played
      %button.played.btn.btn-mini.btn-success{ :"data-loading-text" => "..."}
        %i.icon-none.icon-ok
    - else
      %button.played.btn.btn-mini{ :"data-loading-text" => "..."}
        %i.icon-none
  %td= player.num
  %td= "#{player.last_name}, #{player.first_name}"
  %td
    = link_to 'Edit', edit_admin_hockey_statsheet_player_path(@statsheet, player), :remote => true, :title => 'Edit this player', :class => 'btn btn-mini'
    = link_to 'Delete', admin_hockey_statsheet_player_path(@statsheet, player), :confirm => 'Are you sure?', :method => :delete, :remote => true, :title => 'Delete this player', :class => 'btn btn-mini'
