<div class="btn-group">
  <%= link_to icon('chevron-left'), url_for(params.merge(date: prev_date, view: params[:view])), :class => "btn btn-default" %>
  <%= link_to icon('chevron-right'), url_for(params.merge(date: next_date, view: params[:view])), :class => "btn btn-default" %>
</div>
<%= link_to "Today", url_for(params.merge(date: nil, view: params[:view])), :class => "btn btn-default #{'active' unless params[:date]}" %>
<div class="btn-group pull-right" role="group">
  <%= link_to "Day", url_for(:date => params[:date]), :class => "btn btn-default #{'active' unless params[:view]}" %>
  <%= link_to "Week", url_for(:view => 'week', :date => params[:date]), :class => "btn btn-default #{'active' if params[:view] == 'week'}" %>
  <%= link_to "Month", url_for(:view => 'month', :date => params[:date]), :class => "btn btn-default #{'active' if params[:view] == 'month'}" %>
  <%= link_to "4 Days", url_for(:view => 'fourday', :date => params[:date]), :class => "btn btn-default #{'active' if params[:view] == 'fourday'}" %>
</div>
