.ui.container
  .ui.grid
    .three.column.stackable.row
      .column
        %address(style="color: #FFF;")
          != simple_format(Tenant.current.address)
      .column
      .column
        - unless Tenant.current.twitter_id.blank?
          .social-link
            = link_to(brandify('twitter', 'Follow us on Twitter'), "http://twitter.com/" + Tenant.current.twitter_id, { :target => "_blank", :title => "Follow us on Twitter" })
        - unless Tenant.current.facebook_id.blank?
          .social-link
            = link_to(brandify('facebook', 'Like us on Facebook'), "https://www.facebook.com/" + Tenant.current.facebook_id, { :target => "_blank", :title => "Like us on Facebook" })
        - unless Tenant.current.google_plus_id.blank?
          .social-link
            = link_to(brandify('google-plus', 'Follow us on Google+'), "https://plus.google.com/+" + Tenant.current.google_plus_id, { :target => "_blank", :title => "Follow us on Google+" })
        - unless Tenant.current.instagram_id.blank?
          .social-link
            = link_to(brandify('instagram', 'Check us out on Instagram'), "http://instagram.com/" + Tenant.current.instagram_id, { :target => "_blank", :title => "Check us out on Instagram" })
        - unless Tenant.current.foursquare_id.blank?
          .social-link
            = link_to(brandify('foursquare', 'Visit us on Foursquare'), "https://foursquare.com/v/" + Tenant.current.foursquare_id, { :target => "_blank",  :title => "Visit us on Foursquare" })
