.game-box
  .game-header
    %table.game-header-table
      %tbody
        %tr
          %td.winner #{'>' if game.result && game.result.left_team_is_winner?}
          %td.team-name #{game.left_team.name}
          %td.team-score #{game.result.left_team_score if game.result}
        %tr
          %td{ :colspan => "4", :class => "team-record" }
        %tr
          %td.winner #{'>' if game.result && game.result.right_team_is_winner?}
          %td.team-name #{game.right_team.name}
          %td.team-score #{game.result.right_team_score if game.result}
        %tr
          %td{ :colspan => "4", :class => "team-record" }
    %ul.game-info
      %li.status #{game.has_result? ? "FINAL" : game.starts_on.strftime("%l:%M %p")}
    .clear
  .game-actions
    = link_to "Post Score", new_league_game_result_path(game) if game.can_add_result?
    = link_to "Drop Score", league_game_result_path(game), :confirm => 'Are you sure?', :method => :delete if game.has_result?

