- title "Sign in"
- resource.email = params[:email] if params[:email]

.ui.two.column.centered.computer.tablet.only.login.grid
  .column
    .ui.segment.very.padded
      = simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
        = f.input :email
        = f.input :password
        - if  devise_mapping.rememberable?
          = f.input :remember_me, :as => :boolean
        = f.submit "Sign in", :class => [:ui, :primary, :fluid, :button]
        .ui.divider
        .links
          = render :partial => "devise/shared/links"

.ui.mobile.only.login.grid
  .column    
    = simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
      = f.input :email
      = f.input :password
      - if  devise_mapping.rememberable?
        = f.input :remember_me, :as => :boolean
      = f.submit "Sign in", :class => [:ui, :primary, :fluid, :button]
      .ui.divider
      .links
        = render :partial => "devise/shared/links"        

:css
  .computer.only.login.grid {
    margin-top: 100px;
    margin-bottom: 100px;
  }
  .login.grid .links a {
    margin-top: 5px;
  }

- content_for :javascript do
  :javascript
    $(function() {
      $email = $('#user_email');
      $password = $('#user_password');
      if($email.val() === '') {
        $email.focus();
      } else {
        $password.focus();
      }
    })

  