= simple_form_for [:admin, :league, @league, @season] do |f|
  = f.input :name
  = f.input :starts_on
  = f.association :divisions, :wrapper => :vertical_radio_and_checkboxes, :collection => League::Division.all.order(:name), :as => :check_boxes
  = f.button :wrapped, :cancel => return_url
