= simple_form_for [:admin, :league, @league, @season] do |f|
  = f.input :name
  = f.input :starts_on, html5: true
  = f.association :divisions, as: :semantic_check_boxes, collection: League::Division.all.order(:name)
  = f.button :wrapped, cancel: return_url

:css

  .season_name {
    max-width: 400px;
  }

  .season_starts_on {
    max-width: 200px;
  }