- title "Seasons"
%table.table.table-striped.table-bordered
  %thead
    %tr
      %th Name
      %th Starts on
      %th Actions
  %tbody
    - @seasons.each do |season|
      %tr
        %td= link_to season.name, [:admin, :league, season]
        %td= season.starts_on
        %td
          = link_to 'Edit', edit_admin_league_season_path(season), :class => 'btn btn-xs btn-primary'
          = link_to 'Delete', [:admin, :league, season], :confirm => 'Are you sure?', :method => :delete, :class => "btn btn-xs btn-primary"
= link_to 'New Season', new_admin_league_program_season_path(@league), :class => 'btn btn-primary'
