.div
  %h1.pull-left= @season.name
  .form-inline.pull-right
    = select("season", :id, @season_options, { :selected => request.path }, { :class => "redirect_to" })
    = link_to 'Edit', edit_admin_league_season_path(@season), :class => "btn btn-default"
    = link_to 'New Season', new_admin_league_program_season_path(@season.program), :class => "btn btn-default"
    = link_to 'New Division', new_admin_league_program_division_path(@season.program), :class => "btn btn-default"
  .clear
- @season.divisions.includes(:teams).order(:name).each do |division|
  .panel.panel-default
    .panel-heading
      = division.name
      .pull-right
        = link_to 'Settings', edit_admin_league_division_path(division), :class => "btn btn-xs btn-default"
        - #link_to 'New Team', new_admin_season_team_path(:season_id => @season.id, :division_id => division.id), :class => 'btn btn-mini'
    %ul.list-group
      - division.teams.each do |team|
        %li.list-group-item= team.name

