.alert.alert-info This page is currently a work in progress
.clearfix
  %h1.pull-left{ :style => 'margin-top: 0;'}= @season.name
  .form-inline.pull-right
    = select("season", :id, @season_options, { :selected => request.path }, { :class => "redirect_to form-control" })
    = link_to 'Edit', edit_admin_league_season_path(@season), :class => "btn btn-default"
    = link_to 'New Season', new_admin_league_program_season_path(@season.program), :class => "btn btn-default"
    = link_to 'New Division', new_admin_league_program_division_path(@season.program), :class => "btn btn-default"

.row
- @teams.group_by{|t| t.division}.each do |division, teams|
  .col-sm-4
    .panel.panel-default
      .panel-heading
        = division.name
        .pull-right
          = link_to icon(:cog) + ' Settings', edit_admin_league_division_path(division), :class => "btn btn-xs btn-default"
          = link_to icon(:plus) + ' New Team', new_admin_league_division_team_path(division, :season_id => @season.id), :class => 'btn btn-xs btn-default'
      .list-group
        - teams.each do |team|
          .list-group-item
            = image_tag(team.logo.micro.url, size: "25") if team.logo?
            = team.name
            .actions.pull-right
              = link_to icon(:cog) + ' Settings', edit_admin_league_team_path(team), :class => "btn btn-sm btn-default"


