.alert.alert-info This page is currently a work in progress
.clearfix
  %h1.pull-left{ :style => 'margin-top: 0;'}= @season.name
  .form-inline.pull-right
    = select("season", :id, @season_options, { :selected => request.path }, { :class => "redirect_to form-control" })
    = link_to 'Edit', edit_admin_league_season_path(@season), :class => "btn btn-default"
    = link_to 'New Season', new_admin_league_program_season_path(@season.program), :class => "btn btn-default"
    = link_to 'New Division', new_admin_league_program_division_path(@season.program), :class => "btn btn-default"

- @teams.group_by{|t| t.division}.each do |division, teams|
  .panel.panel-default
    .panel-heading
      = division.name
      .pull-right
        = link_to icon(:cog) + ' Settings', edit_admin_league_division_path(division), :class => "btn btn-xs btn-default"
        = link_to icon(:plus) + ' New Team', new_admin_league_division_team_path(division, :season_id => @season.id), :class => 'btn btn-xs btn-default'
    .panel-body{ :style => 'padding: 0' }
      - teams.each do |team|
        .col-sm-4{ :style => 'padding: 5px;' }
          .team{ :style => 'border: 1px solid #eee; padding: 5px' }
            .team-name
              = link_to team.name, [:admin, team.class.name.deconstantize.underscore.presence, team]
            .actions
              = link_to icon(:cog) + ' Settings', edit_admin_league_team_path(team), :class => "btn btn-xs btn-default"


