= simple_form_for [@template, @element] do |f|
  = f.input :type, :as => :hidden
  = f.input :name
  = f.input :position
  = f.input :required
  = f.input :terms, as: :text, input_html: { rows: 6 }                 
  = f.button :wrapped, :cancel => return_url
