<h1>Listing players</h1>

<table border="1" cellpadding="5" style="border-collapse: collapse;">
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Jersey number</th>
    <th>Actions</th>
  </tr>

<% @players.each do |player| %>
  <tr>
    <td><%= player.first_name %></td>
    <td><%= player.last_name %></td>
    <td><%= player.jersey_number %></td>
    <td>
      <%= link_to 'Show', player %>
      <%= link_to 'Edit', edit_player_path(player) %>
      <%= link_to 'Destroy', player, :confirm => 'Are you sure?', :method => :delete %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Player', new_team_player_path(@team) %>
