= simple_form_for [:admin, :registrar, @product] do |f|

  %h4.ui.top.attached.header Product Info
  .ui.bottom.attached.segment
    = f.input :title
    = f.input :summary, input_html: { rows: 2 }
    = f.input :description, as: :markdown#, input_html: { rows: 3 }
    = f.input :active

  %h4.ui.top.attached.header.product.variants Variants
  = f.simple_fields_for :variants, include_id: false do |variant|
    = render 'variant_fields', f: variant
  .ui.bottom.attached.segment
    = link_to_add_association 'Add Variant', f, :variants, class: [:ui, :small, :button]
  
  .ui.segment
    = f.button :wrapped, :cancel => return_url

:javascript
  $(function() {
    $('.edit_product').on('cocoon:after-insert', function(e, insertedItem) {
      $(insertedItem).find('select.ui.dropdown').dropdown({ clearable: true });
    })
  })

- content_for :javascript do
  = javascript_pack_tag :application
