- title @product.title
- page_actions do
  = link_to 'Edit', edit_admin_registrar_product_path(@product), class: [:ui, :primary, :button] if current_user_is_admin?
- wrapper class: [:ui, :container]
- area_menu do
  = area_menu_item 'Overview', [:admin, :registrar, @product]
  = area_menu_item 'Registrations', [:admin, :registrar, @product, :registrations]

%h4.ui.top.attached.header Latest Registrations
%table.ui.celled.bottom.attached.table
  %thead
    %th Id
    %th Name
    %th Email
    %th Variant
    %th Price    
    %th Date / Time
    %th.center.aligned Status
  %tbody
    - @product.registrations.each do |registration|
      %tr
        %td= link_to registration.id, [:admin, :registrar, registration]
        %td= registration.full_name
        %td= registration.email
        %td= registration.variant.title
        %td= number_to_currency(registration.price, :unit => "$").presence || 'Free'
        %td= registration.created_at.strftime("%a %-m/%-d/%y at %l:%M %P")
        %td.center.aligned= registration.status

-# %table.ui.table
-#   %thead
-#     %th OPTION
-#     %th.center.aligned PRICE
-#     %th
-#   %tbody
-#     - @product.variants.each do |variant|
-#       %tr
-#         %td
-#           .title{style: 'font-weight: bold'}= variant.title
-#           .description= variant.description
-#         %td.center.aligned= variant.price ? number_to_currency(variant.price) : 'FREE'
-#         - if @product.active
-#           %td.collapsing= link_to 'Register', new_variant_registration_path(variant), class: [:ui, :mini, :primary, :button]

-# %hr
-# = link_to 'Back', items_path
