:scss

  .outer {
    width: 100%;
    height: 100%;
    font-family: 'Rubik';
  }

  .header,
  .footer {
    height: 60px;
    background-color: #000;
  }

  .main {
    height: 600px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    overflow: hidden;
  }


  .event {

    margin-bottom: 5px;

    .time,
    .summary,
    .team,
    .locker_room {
      background-color: maroon;
      background-color: #800000;
      //background-color: #8C1D40;
      //background-color: #990033;
      color: white;
      opacity: 1;
      font-weight: bold;
      height: 60px;
      line-height: 60px;
      font-size: 36px;
    }

    &.even {
      .time,
      .summary,
      .team,
      .locker_room {
        background-color: #FFC627;
        color: black;
      }
    }

    .time {
      text-align: left;
      padding-left: 10px !important;
      padding-right: 10px !important;
      width: 380px;
      margin-right: 5px;
      &.teams {
        height: 125px;
      }
    }

    .summary {
      padding-left: 10px !important;
      margin-right: 5px;
      width: 725px;
    }

    .team {
      padding: 0;
      padding-left: 10px !important;
      margin-right: 5px;
      height: 60px;
      width: 790px;
    }

    .locker_room {
      text-align: center;
      vertical-align: middle;
      font-size: 36px;
      font-weight: 900;
      width: 60px;
      height: 60px;
      padding: 0;
    }


    .time,
    .subject {
      float: left;
    }

    .teams {
      float: left;
    }

    .home_team,
    .away_team {
      .team,
      .locker_room {
        float: left;
      }
    }

    .away_team {
      margin-bottom: 5px;
    }

    .subject {
      padding: 0;

      .summary,
      .locker_room {
        float: left;
        &.away {
          margin-right: 5px;
        }
      }
    }

  }

  .title {
    text-align: center;
    font-size: 36px;
    height: 60px;
    line-height: 60px;
    color: white;
    background-color: #5C6670;
    background-color: black;
    font-weight: bold;
  }

  .datetime {
    font-size: 28px;
    line-height: 60px;
    color: white;
    margin-right: 20px;
  }

  .logo {
    height: 28px;
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 20px;
  }


.outer
  .header
    .title Locker Room Assignments

  .main
    - rows = 0
    - @events.each do |event|
      - rows += 1
      - rows += 1 if event.try(:show_teams?)
      - next if rows > 9
      - odd_or_even = cycle('odd', 'even')
      .event.clearfix{ class: odd_or_even }
        - if (event.try(:show_teams?))
          - pp event
          .time.teams
            = event.starts_on.strftime('%-I:%M %P')
            != ' - '
            = event.ends_on.strftime('%-I:%M %P')
          .teams.clearfix
            .away_team.clearfix
              -#.team= event.away_team_custom_name.presence || event.away_team&.name
              .team= event.away_team_custom_name.presence || event.away_team_name.presence || event.try(:away_team).try(:name)
              .locker_room.away= event.away_team_locker_room&.name
            .home_team.clearfix
              .team= event.home_team_custom_name.presence || event.home_team_name.presence || event.try(:home_team).try(:name)
              .locker_room.home= event.home_team_locker_room&.name
        - else
          .time
            = event.starts_on.strftime('%-I:%M %P')
            != ' - '
            = event.ends_on.strftime('%-I:%M %P')
          .subject.clearfix
            .summary= event.summary
            .locker_room.away= event.away_team_locker_room&.name
            .locker_room.home= event.home_team_locker_room&.name

  .footer.clearfilx
    .pull-left
      = image_tag('themes/oia/oia_white.svg', class: 'logo')
    .datetime.pull-right
      %span#date
        = "#{@time.strftime('%A, %b')} #{@time.strftime('%e').to_i.ordinalize}"
      != ' - '
      %span#time= @time.strftime('%l:%M %P')

:javascript
  $(function() {
    function pad(num) {
      return (num < 10 ? '0' : '') + num;
    }
    function getHour(date) {
      var hours = date.getHours();
      if (hours == 0) return 12;
      if (hours <= 12) return hours;
      return hours % 12;
    }
    function getMeridiem(date) {
      return date.getHours() < 12 ? 'am' : 'pm';
    }
    function formatTime(date) {
      var hour = getHour(date);
      var meridiem = getMeridiem(date);
      return hour + ':' + pad(date.getMinutes()) + ' ' + meridiem;
    }
    function setTime() {
      // console.log('gettin time')
      var date = new Date();
      $('#time').text(formatTime(new Date()));
    }
    function refresh() {
      console.log('refreshing');
      $.ajax(window.location).then(function(data, status) {
        var $page = $(data);
        $('.outer').replaceWith($page.filter('.outer'));
      })
    }
    window.setInterval(setTime, 1000)
    window.setInterval(refresh, 5 * 60 * 1000)
  })
