= simple_form_for [:admin, @product] do |f|

  = f.input :registrable_type, as: :hidden
  = f.input :registrable_id, as: :hidden

  - if @product.registrable.present?
    %h4.ui.top.attached.header Associated With
    %table.ui.bottom.attached.celled.table.edit_productegment 
      %tbody
        %tr
          - if @product.registrable_type == 'Event'
            %td.center.aligned= link_to "Event ##{@product.registrable_id}", admin_general_event_path(@product.registrable)
            %td.center.aligned= @product.registrable.summary
            %td.center.aligned= @product.registrable.starts_on

  %h4.ui.top.attached.header Product Info
  .ui.bottom.attached.segment
    = f.input :title
    = f.input :summary, input_html: { rows: 2 }
    = image_tag(@product.image, class: [:ui, :medium, :image]) if @product.image.attached?
    = f.input :image
    -# = f.input :description, as: :markdown#, input_html: { rows: 3 }
    = f.input :description, input_html: { rows: 5 }
    = f.input :active
    = f.input :private
    = f.input :roster

  %h4.ui.top.attached.header.product.variants Variants
  = f.simple_fields_for :variants, @product.variants.order(display_order: :asc), include_id: false do |variant|
    = render 'variant_fields', f: variant
  .ui.bottom.attached.segment
    = link_to_add_association 'Add Variant', f, :variants, class: [:ui, :small, :button]
  
  .ui.segment
    = f.button :wrapped, :cancel => return_url

:javascript
  $(function() {
    $('.new_product, .edit_product').on('cocoon:after-insert', function(e, insertedItem) {
      $(insertedItem).find('select.ui.dropdown').dropdown({ clearable: true });
    })
  })

- content_for :javascript do
  = vite_javascript_tag :application
