- unless local_assigns[:title].blank?
  %h3.ui.top.attached.segment= title
%table.ui.celled.table{ class: local_assigns[:title].present? && [ :bottom, :attached ] }
  %thead
    %tr
      %th Product
      %th Association
      %th.center.aligned Active
      %th.center.aligned Pending
      %th.center.aligned Completed
      %th.center.aligned Cancelled
      %th.center.aligned Abandoned
      %th.center.aligned Revenue
  %tbody
  - products.each do |product|
    %tr
      %td
        = link_to product.title, [:admin, product]
        .pull-right
          = semantic_icon :lock, class: [:small, :circular] if product.private?
      %td
        - if product.registrable_type == 'Event' && product.registrable.present?
          .title= link_to product.registrable.summary, [:admin, :general, product.registrable]
          .starts_on= product.registrable.starts_on.strftime('%A, %B %e %Y %l:%M %P')
      %td.center.aligned
        .ui.disabled.fitted.checkbox
          = check_box_tag nil, nil, product.active?, disabled: true
          %label
      %td.center.aligned= link_to statistics[:pending][product.id] || 0, [:admin, product, :registrations]
      %td.center.aligned= link_to statistics[:completed][product.id] || 0, [:admin, product, :registrations]
      %td.center.aligned= link_to statistics[:cancelled][product.id] || 0, [:admin, product, :registrations]
      %td.center.aligned= link_to statistics[:abandoned][product.id] || 0, [:admin, product, :registrations]
      %td.right.aligned= number_to_currency(statistics[:revenue][product.id] || 0)