- title 'Products'
- page_actions do
  = link_to 'New Product', new_admin_product_path, class: [:ui, :primary, :button]
- wrapper class: [:ui, :container]

%table.ui.celled.table
  %tr
    %td{ style: 'width: 40%;'} Product
    %td{ style: 'width: 15%;'} Pending
    %td{ style: 'width: 15%;'} Completed
    %td{ style: 'width: 15%;'} Total
    %td{ style: 'width: 15%;'} Revenue
  - @products.each do |product|
    %tr
      %td= link_to product.title, [:admin, product]
      %td= product.registrations.pending.count
      %td= product.registrations.completed.count
      %td= product.registrations.count
      %td= number_to_currency product.registrations.completed.sum(:price)