- title 'Products'
- page_actions do
  = link_to 'New Product', new_admin_product_path, class: [:ui, :primary, :button]
- wrapper class: [:ui, :container]

%table.ui.celled.table
  %thead
    %tr
      %th Product
      %th Association
      %th Active
      %th Pending
      %th Completed
      %th Total
      %th Revenue
  %tbody
  - @products.each do |product|
    %tr
      %td= link_to product.title, [:admin, product]
      %td
        - if product.registrable_type == 'Event'
          .title= link_to product.registrable.summary, [:admin, :general, product.registrable]
          .starts_on= product.registrable.starts_on.strftime('%A, %B %e %Y %l:%M %P')
      %td= product.active?
      %td= product.registrations.pending.count
      %td= product.registrations.completed.count
      %td= product.registrations.count
      %td= number_to_currency product.registrations.completed.sum(:price)