- title @product.title
- page_actions do
  - if current_user_is_admin?
    = link_to 'Edit', edit_admin_product_path(@product), class: [:ui, :primary, :button]
    = link_to 'Clone', new_admin_product_path(clone: @product.id), class: [:ui, :primary, :button]
- wrapper class: [:ui, :container]
- area_menu do
  = area_menu_item 'Overview', [:admin, @product]
  = area_menu_item 'Registrations', [:admin, @product, :registrations] 
  = area_menu_item 'Attendance', [:admin, @product, :attendance, :index]

.ui.padded.segment
  .ui.divided.two.column.stacked.grid
    .center.aligned.column
      .ui.statistic
        .value= @registration_count
        .label Registrations
    .center.aligned.column
      .ui.statistic
        .value= number_to_currency(@registration_revenue, :unit => "$").presence || '$0'
        .label Revenue

- if @product.private?
  .ui.icon.message
    = semantic_icon :lock
    .content
      .header This Product is Marked as Private
      %p 
        It will not appear in any public-facing product lists but can still be purchased from its 
        != ' '
        = link_to 'product page', product_path(@product.private_token), target: :blank

%h4.ui.top.attached.header Associated With
%table.ui.celled.bottom.attached.table
  %tbody
    %tr
      - if @product.registrable && @product.registrable_type == 'Event'
        %td.center.aligned= link_to "Event ##{@product.registrable_id}", admin_general_event_path(@product.registrable)
        %td.center.aligned= @product.registrable.summary
        %td.center.aligned= @product.registrable.starts_on        

%h4.ui.top.attached.header Variants        
%table.ui.celled.bottom.attached.table
  %thead
    %th Name
    %th Price
    %th Registrations
  %tbody
    - @product.variants.order(display_order: :asc).each do |variant|
      %tr
        %td= variant.title
        %td= number_to_currency(variant.price, :unit => "$").presence || 'Free'
        %td= variant.quantity_allowed.present? ? "#{variant.registrations.allocated.size || 0} / #{variant.quantity_allowed}" : variant.registrations.allocated.size

%h4.ui.top.attached.header Latest Registrations
%table.ui.celled.bottom.attached.table
  %thead
    %th Id
    %th Name
    %th Email
    %th Variant
    %th Price    
    %th Date / Time
    %th.center.aligned Status
  %tbody
    - @product.registrations.order(id: :desc).limit(20).each do |registration|
      %tr
        %td= link_to registration.id, [:admin, registration]
        %td= registration.full_name
        %td= mail_to registration.email, registration.email, subject: registration.product.full_title
        %td= registration.variant.title
        %td= number_to_currency(registration.price, :unit => "$").presence || 'Free'
        %td= registration.created_at.strftime("%a %-m/%-d/%y at %l:%M %P")
        %td.center.aligned= render partial: 'admin/registrations/status', locals: { registration: registration }

-# %table.ui.table
-#   %thead
-#     %th OPTION
-#     %th.center.aligned PRICE
-#     %th
-#   %tbody
-#     - @product.variants.each do |variant|
-#       %tr
-#         %td
-#           .title{style: 'font-weight: bold'}= variant.title
-#           .description= variant.description
-#         %td.center.aligned= variant.price ? number_to_currency(variant.price) : 'FREE'
-#         - if @product.active
-#           %td.collapsing= link_to 'Register', new_variant_registration_path(variant), class: [:ui, :mini, :primary, :button]

-# %hr
-# = link_to 'Back', items_path
