= simple_form_for [:admin, @division] do |f|
  = f.input :name
  = f.input :show_standings?, :as => :boolean, :wrapper => :vertical_boolean
  = f.input :show_players?, :as => :boolean, :wrapper => :vertical_boolean
  = f.input :show_statistics?, :as => :boolean, :wrapper => :vertical_boolean
  = f.input :standings_schema_id, :as => :select, :collection => Division.standings_schema_options, :label => 'Standings'
  = f.association :seasons, :as => :check_boxes, :wrapper => :vertical_radio_and_checkboxes, :collection => Season.all.order(:starts_on => :desc)
  = f.button :wrapped, :cancel => return_url


