- edit_mode = %w{edit update}.include?(params[:action]) ? true : false
= simple_form_for( @penalty, :url => url, :remote => true ) do |f|
  = f.input :time, :label => 'Time' do
    .form-inline  
      = f.input :period, :collection => Hockey::Penalty.periods, :disabled => edit_mode, :label => false
      = f.input :minute, :maxlength => 2, :pattern => "[0-9]*", :disabled => edit_mode, :label => false
      = f.input :second, :maxlength => 2, :pattern => "[0-9]*", :disabled => edit_mode, :label => false
  = f.input :team_id, :collection => @statsheet.teams, :disabled => edit_mode, :label => 'Team', :disabled => edit_mode
  = f.input :committed_by_id do
    = f.select :committed_by_id, @players.map { |p| [ "#{p.jersey_number} - #{p.last_name}, #{p.first_name}", p.id, { :'data-team-id' => p.team_id }] }, { :include_blank => true }, { :class => 'form-control' }
  = f.input :infraction
  = f.input :duration, :maxlength => 2, :pattern => "[0-9]*", :disabled => edit_mode
  = f.input :severity, :collection => Hockey::Penalty.severities, :disabled => edit_mode
  = f.input :start, :label => 'Start Time' do
    .form-inline
      = f.input :start_period, :collection => Hockey::Penalty.periods, :label => false
      = f.input :start_minute, :maxlength => 2, :pattern => "[0-9]*", :label => false
      = f.input :start_second, :maxlength => 2, :pattern => "[0-9]*", :label => false
  = f.input :end, :label => 'End Time' do
    .form-inline      
      = f.input :end_period, :collection => Hockey::Penalty.periods, :label => false
      = f.input :end_minute, :maxlength => 2, :pattern => "[0-9]*", :label => false
      = f.input :end_second, :maxlength => 2, :pattern => "[0-9]*", :label => false
:javascript
  function filter_players(changed) {
    var teamId = $('select#hockey_penalty_team_id').val();
    $('#hockey_penalty_committed_by_id option').hide();        
    if (changed) {
      $('#hockey_penalty_committed_by_id').val('');
    }
    if (teamId != '') {
      $('#hockey_penalty_committed_by_id option[data-team-id=' + teamId + ']').show();
    }
  }
  $(document).ready(function(){
    filter_players();
    $("select#hockey_penalty_team_id").change(function(){
        filter_players(true);
    });
  });
  $(function() {
    var penalties = #{Hockey::Penalty.infractions.to_json};
    $('#hockey_penalty_infraction').autocomplete({
      source: penalties
    });
  });

