%table.table.table-striped.table-bordered
  %thead
    %tr 
      %th
      %th PER
      %th TIME
      %th TEAM
      %th NUM
      %th MIN
      %th INFRACTION
      %th START
      %th END
      %th
  %tbody
    - penalties = penalties.sorted_by_time.entries
    - if penalties.count > 0
      - penalties.each_with_index do |p, i|
        %tr
          %td= (i+1).to_s
          %td= p.per
          %td= p.time
          %td= p.side == 'away' ? @statsheet.away_team_name : @statsheet.home_team_name
          %td= p.plr
          %td= p.dur
          %td= "#{p.inf} (#{p.severity})"
          %td= p.start_time
          %td= p.end_time
          %td 
            = link_to 'Edit', edit_admin_hockey_statsheet_penalty_path(@statsheet, p), :remote => true, :title => 'Edit this penalty', :class => 'btn btn-mini'
            = link_to 'Delete', admin_hockey_statsheet_penalty_path(@statsheet, p), :remote => true, :confirm => 'Are you sure?', :method => :delete, :class => 'btn btn-mini'
    - else
      %tr
        %td{ :colspan => 10 } No penalties have been entered

