= form_for @registrar_registration_type do |f|
  - if @registrar_registration_type.errors.any?
    #error_explanation
      %h2= "#{pluralize(@registrar_registration_type.errors.count, "error")} prohibited this registrar_registration_type from being saved:"
      %ul
        - @registrar_registration_type.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :session
    = f.text_field :session
  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :description
    = f.text_area :description
  .field
    = f.label :price
    = f.text_field :price
  .field
    = f.label :quantity_allowed
    = f.number_field :quantity_allowed
  .field
    = f.label :quantity_available
    = f.number_field :quantity_available
  .actions
    = f.submit 'Save'
