%h1 Listing registrar_registration_types

%table
  %thead
    %tr
      %th Session
      %th Title
      %th Description
      %th Price
      %th Quantity allowed
      %th Quantity available
      %th
      %th
      %th

  %tbody
    - @registrar_registration_types.each do |registrar_registration_type|
      %tr
        %td= registrar_registration_type.session
        %td= registrar_registration_type.title
        %td= registrar_registration_type.description
        %td= registrar_registration_type.price
        %td= registrar_registration_type.quantity_allowed
        %td= registrar_registration_type.quantity_available
        %td= link_to 'Show', registrar_registration_type
        %td= link_to 'Edit', edit_registrar_registration_type_path(registrar_registration_type)
        %td= link_to 'Destroy', registrar_registration_type, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Registration type', new_registrar_registration_type_path
