
%table.ui.definition.table
  %tbody
    %tr
      %td Name
      %td= @event.name
    %tr
      %td Exception
      %td= @event.properties['exception']
    %tr
      %td Visit
      %td= link_to @event.visit.id, [:host, @event.visit]
    %tr
      %td Message
      %td= @event.properties['message']          
    - @event.properties.except('backtrace', 'exception', 'message').each do |key, value|
      %tr
        %td= key.titleize
        %td= key == 'path' ? link_to(value, value) : value

%table.ui.celled.table
  %thead
    %tr
      %th Backtrace
  %tbody
    - @event.properties['backtrace'].each do |msg|
      %tr{ class: msg.include?('/app/') ? 'error' : '' }
        %td= msg       
