= simple_form_for [:admin, @template, @element] do |f|
  = f.input :type, :as => :hidden
  = f.input :name
  = f.input :position
  = f.input :required
  = f.input :allow_multiple, as: :boolean
  = f.input :options, as: :text, input_html: { rows: 6 }
  = f.input :hint
  = f.button :wrapped, :cancel => return_url
