- title 'Users'
- wrapper class: [:ui, :container]

%h4.ui.top.attached.header Find User
.ui.attached.segment
  = form_with url: [:admin, :users], method: :get, skip_enforcing_utf8: true, class: [:ui, :form] do |f|
    .field.string
      = f.text_field :q, value: params[:q], class: [:string], placeholder: 'Last Name or Email Address'

- if @search&.any?
  %h4.ui.top.attached.header Search Results
  %table.ui.celled.bottom.attached.table
    %thead
      %tr
        %th First
        %th Last
        %th Email
        %th Actions
    %tbody
      - @search.each do |user|
        %tr
          %td= user.first_name
          %td= user.last_name
          %td= user.email
          %td= link_to 'Show', [:admin, user], class: [:ui, :small, :primary, :button]

- if @search&.none?
  .ui.placeholder.segment
    .ui.icon.header
      = semantic_icon :search
      = "There are no users matching '#{params[:q]}'"
