%table.ui.celled.striped.table
  %thead
    %tr
      %th 
      %th PER
      %th TIME
      %th TEAM
      %th G
      %th A
      %th A
      %th STR
      %th 
  %tbody
    - goals = goals.sorted_by_time.entries
    - if goals.count > 0
      - goals.each_with_index do |g, i|
        %tr
          %td= (i+1).to_s
          %td= g.period
          %td= g.time
          %td= g.team.short_name
          %td= format_player_name(g.scored_by)
          %td= format_player_name(g.assisted_by)
          %td= format_player_name(g.also_assisted_by)
          %td= g.strength
          %td.collapsing
            = link_to 'Delete', admin_hockey_statsheet_goal_path(@statsheet, g), remote: true, confirm: 'Are you sure?', method: :delete, title: 'Delete this goal', class: [:ui, :primary, :mini, :button]
    - else
      %tr
        %td{ :colspan => 9 } No goals have been entered

