<div style="float: left; border: 1px solid gray; padding: 10px; margin: 5px; width: 200px; height: 40px;">
  <strong><%= division.name %></strong><br/>
  <%= link_to 'Show', league_division_path(division) %> | 
  <%= link_to 'Edit', edit_league_division_path(division) %> | 
  <%= link_to 'Delete', [:league, division], :confirm => 'Are you sure?', :method => :delete %><br/>
  <%= link_to_current_season division %>
</div>
