= simple_form_for [:admin, :league, @event] do |f|
  .panel.panel-default
    .panel-heading Logistics
    .panel-body
      - if %w{new create edit update}.include? params[:action]
        .row
          .col-sm-6
            = f.input :program_id, :as => :select, :collection => @options[:programs]
        .row
          .col-sm-6
            = f.input :season_id, :as => :select, :collection => []
          .col-sm-6
            = f.input :division_id, :as => :select, :collection => []
      .row
        .col-sm-4
          = f.input :starts_on, :as => :string, :input_html => { :value => @event.starts_on ? I18n.l(@event.starts_on) : "" }
        .col-sm-2
          = f.input :duration
      = f.input :all_day, :as => :boolean, :wrapper => :vertical_boolean
      .row
        .col-sm-4
          = f.input :location_id, :as => :select, :collection => @options[:locations]

  .panel.panel-default
    .panel-heading Display
    .panel-body
      = f.input :summary
      =f.input :description, :as => :text

  = f.button :wrapped, :cancel => return_url

- content_for :javascript do
  :javascript
    (function() {
      var seasons = #{@options[:seasons].to_json};
      var divisions = #{@options[:divisions].to_json};
      $(function() {
        bindSelect('#event_division_id', '#event_program_id', divisions, 'id', 'name', '#{@event.division_id}');
        bindSelect('#event_season_id', '#event_program_id', seasons, 'id', 'name', '#{@event.season_id}')
      });
    })();

