.flex.flex-wrap.gap-4
  %address(class="text-white not-italic lg:w-1/4")
    != address
  .social
    = render social_link.new(url: twitter_url, icon: 'twitter', tagline: 'Follow us on Twitter')
    = render social_link.new(url: facebook_url, icon: 'facebook', tagline: 'Like us on Facebook')
    = render social_link.new(url: google_plus_url, icon: 'google-plus', tagline: 'Follow us on Google+')
    = render social_link.new(url: instagram_url, icon: 'instagram', tagline: 'Check us out on Instagram')
    = render social_link.new(url: foursquare_url, icon: 'foursquare', tagline: 'Visit us on Foursquare')

:css

  .social-link a {
    color: #FFF;
  }

  .social-link i {
    width: 20px;
  }

