= simple_form_for [:admin, @season, @team] do |f|
  = f.input :league_id, :as => :select, :collection => @leagues if %w{new create}.include? params[:action]
  = f.input :name
  = f.input :short_name
  = f.input :division_id, :as => :select, :collection => @divisions  
  = f.input :club_id, :as => :select, :collection => @clubs
  = f.input :show_in_standings, :as => :boolean
  = f.input :seed, :input_html => { :class => 'span1' }
  .form-actions
    = f.button :submit, :class => 'btn btn-primary'
