- color = @color_map[event.color_key]
- offset = (event.starts_on.seconds_since_midnight) / 60
- style = "background: #fff; cursor: pointer; vertical-align: top; border: 1px solid #{color}; border-left: 10px solid #{color}; border-radius: 0;"
- style += " top: #{offset}px; position: absolute;" unless @view == 'month'
- style += " height: #{event.duration}px;" unless @view == 'month'
-#.dropdown{ :style => "position: absolute; top: #{offset}px; width: 100%;"}
.dropdown
  .event{ :type => :button, :data => { :toggle => :dropdown }, :style => style }
    .time= event.starts_on.strftime('%l:%M%P').gsub('m', '')
    .summary
      = icon(:lock, event.summary) if event.private?
      = event.summary unless event.private?
  %ul.dropdown-menu
    %li.dropdown-header Event
    %li= link_to 'Edit', edit_polymorphic_path([:admin, event.class.name.deconstantize.underscore.presence, event])
    %li= link_to 'Clone', new_polymorphic_path([:admin, event.class.name.deconstantize.underscore.presence, event.class], :clone => event.id)
    %li= link_to 'Delete', admin_event_path(event), :confirm => 'Are you sure?', :method => :delete
    - if event.class.to_s == 'League::Game'
      %li.divider{role: :separator}
      %li.dropdown-header Game
      %li= link_to 'Result', edit_admin_game_result_path(event.id)
      %li= link_to 'Statsheet', edit_admin_game_statsheet_path(event.id)
      %li= link_to 'Print Scoresheet', print_admin_game_statsheet_path(event.id), :target => :blank
