- title 'Products'
.ui.divided.items
  - @products.each do |product|
    .item
      .image
        = image_tag product.image.attached? ? product.image : '/image.png', class: [:ui, :small, :image]
      .content
        = link_to product.title, product, class: [:header]
        .description
          %p= product.summary
        .extra
          = link_to product, class: [:ui, :right, :floated, :primary, :button] do
            More Info
            = semantic_icon :right, :chevron
