- title @product.title
- page_actions do
  = link_to 'Edit', admin_product_path(@product), class: [:ui, :primary, :button] if current_user_is_admin?

.ui.stackable.grid
  .four.wide.column
    = image_tag @product.image.attached? ? @product.image : '/image.png', class: [:ui, :image]

  .twelve.wide.column    

    - if @product.registrable_type == 'Event'
      %h4= @product.registrable.starts_on.strftime("%a %-m/%-d/%y at %l:%M %P")
      .ui.divider

    != MarkdownService.html @product.description

    %h3.ui.dividing.header Options
    %table.ui.table
      %tbody
        - @product.variants.order(display_order: :asc).each do |variant|
          %tr
            %td
              .title{style: 'font-weight: bold'}= variant.title
            %td
              .description= variant.description
              - if variant.show_quantity_available? && variant.active?
                .availability
                  %em= "#{variant.quantity_available} of #{variant.quantity_allowed} registration#{variant.quantity_allowed != 1 ? 's' : ''} are available"
            %td= variant.price ? number_to_currency(variant.price) : 'FREE'
            
            %td.collapsing
              = link_to 'Register', new_variant_registration_path(variant), class: [:ui, :mini, :primary, :button] if variant.available?
              %em= 'Unavailable' unless variant.available?


    - if @product.roster?
      %h3 Roster
      - @product.variants.order(display_order: :asc).each do |variant|
        %table.ui.table
          %thead
            %th= variant.title
          %tbody
            %tr
              %td         
                - variant.registrations.filter(&:completed?).each do |registration|
                  .registration= registration.masked_name
     

%hr
= link_to 'All Products', products_path
