-# = react_component('team_editor', { team: ActiveModelSerializers::SerializableResource.new(@team), options: @options },)

= simple_form_for [:admin, :league, @division, @team] do |f|

  .ui.stackable.grid


    .ui.ten.wide.column
      .ui.segment
        %h4.ui.header BASIC INFO
        = f.input :season_id, :as => :select, :collection => @options[:seasons]
        = f.input :division_id, :as => :select, :collection => @options[:divisions]
        = f.input :name
        = f.input :short_name
        = f.input :club_id, :as => :select, :collection => @options[:clubs]
        = f.input :pool
        = f.input :seed
        = f.input :show_in_standings, :as => :boolean

    .ui.six.wide.column
      .ui.segment
        %h4.ui.header BRANDING
        = render 'brand_editor'

    .ui.sixteen.wide.column
      .ui.segment
        = f.button :wrapped, :cancel => return_url

:css
  .team_pool,
  .team_seed {
    width: 100px;
  }
