.main
  .left
    %table{ style: 'margin-bottom: 0;'}
      %thead
        %tr
          %th{ colspan: 3 } Today's Schedule
        %tr
          %th.time{ style: 'width: 10%;'} Time
          %th.summary Event
          %th.room{ style: 'text-align: center; width: 10%;' } Room
      %tbody
        - @events.each_with_index do |event, index|
          - row_class = index <= -1 ? 'featured' : ''
          %tr{ class: row_class }
            %td.time{ rowspan: 2 }= event.starts_on.strftime('%l:%M%P').gsub('m', '')
            - if event.away_team_name.present?
              %td= event.away_team_name
            - else
              %td.summary{ rowspan: 2 }= event.summary
            %td.room= event.away_team_locker_room.try(:name) || '-'
          %tr{ class: row_class }
            - if event.away_team_name.present?
              %td.summary= event.home_team_name
            %td.room= event.home_team_locker_room.try(:name) || '-'
  .right{ style: 'padding: 40px;'}
    .carousel.slide{ :id => "carousel_cast" }
      .carousel-inner
        - @posts.each_with_index do |post, index|
          %div{ :class => "item#{' active' if index == 0}" }
            - if index == 0
              = image_tag post.image.url, :style => 'width: 100%;'
            - unless index == 0
              %img{ :"data-src" => post.image.url,
                    :alt => image_alt(post.image.url),
                    :style => 'width: 100%;' }
  .clearfix
.footer
  .left
    #venue
      Oceanside Ice Arena
  .right
    #current-time.pull-right
  :javascript

    (function() {
      // reload every 5 minutes
      setTimeout(function() {
        window.location.reload(true);
      }, (5 * 60 * 1000))

      function getDateTime() {
        var date = new Date();
        return date.toDateString() + ' ' + date.toLocaleTimeString([], { hour: '2-digit', minute: '2-digit'});
      }
      var $time = $('#current-time');
      $time.text(getDateTime());
      setInterval(function() {
        $time.text(getDateTime());
      }, 1000)
    })();

    $(function(){
      $("#carousel_cast img[data-src]").each(function(index){
        $(this).attr("src", $(this).attr("data-src"));
      });
    });



