- unless flash[:notice]
  #flash_notice.notice.hidden
- flash.each do |name, msg|
  - case name
    - when 'success'
      = content_tag :div, msg, {:id => "flash_success", :class => "alert alert-success"}
    - when 'notice'
      = content_tag :div, msg, {:id => "flash_notice", :class => "alert alert-info"}
    - when 'alert'
      = content_tag :div, msg, {:id => "flash_warning", :class => "alert alert-warning"}
    - when 'warning'
      = content_tag :div, msg, {:id => "flash_warning", :class => "alert alert-warning"}
    - when 'error'
      = content_tag :div, msg, {:id => "flash_error", :class => "alert alert-danger"}
- flash.discard
