.ui.fixed.large.inverted.menu{ style: 'border-radius: 0px;'}
  .ui.container
    %a.toc.item
      = semantic_icon(:sidebar)
    =# link_to image_tag("/assets/themes/#{Tenant.current.theme}/brand.jpg", class: 'item'), root_url
    - Page.in_menu.arrange(:order => :position).each do |root|
      - page = root[0]
      - url = get_page_url(page)
      - if root[1].length == 0
        %a.item{ class: "computer only #{request.url.include?(url) ? 'active ' : nil }", href: url }= page.title_in_menu.presence || page.title
      - unless root[1].length == 0
        .ui.dropdown.item
          %span.text= page.title_in_menu.presence || page.title
          %i.dropdown.icon
          .menu
            - root[1].each_with_index do |child, i|
              - child_url = get_page_url(child[0])
              - if child[1].length > 0
                - unless i == 0
                  .divider
                .header= child[0].title_in_menu.presence || child[0].title
                - child[1].each do |grandchild|
                  %a.item{ :href => get_page_url(grandchild[0]) }= grandchild[0].title_in_menu.presence || grandchild[0].title
              - else
                %a.item{ class: "#{request.url.include?(url) ? 'active ' : nil }", href: child_url }= child[0].title_in_menu.presence || child[0].title            
    - if user_signed_in?
      .ui.dropdown.item.right
        = semantic_icon(:user)
        .menu
          = render "devise/menu/user_items"
          = render "devise/menu/login_items"
    - else
      = link_to('Login', main_app.new_user_session_path, class: 'ui right link item')
        
