<div class="collapse navbar-collapse">
  <ul class="nav navbar-nav">
    <% depth = 0 %>
    <% tree = Page.in_menu.live.sorted_as_tree.entries %>
    
    <% tree.each_with_index do |page, i| %>
      <% url = get_page_url(page) %>
      <% next_page = tree[i+1] %>
      <% has_children = next_page && next_page.depth > page.depth %>
      
      <% if page.depth == 0 %>
        <li class="<%= request.url.include?(url) ? "active " : nil%><%= depth > 1 && has_children ? "dropdown": nil %>">
          <% if has_children %>
            <a class="dropdown-toggle" href="#" data-toggle="dropdown"><%= page.title_in_menu.presence || page.title %> <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
          <% else %>
            <a href=<%= url %>><%= page.title_in_menu.presence || page.title %></a>
          <% end %>
      <% end %>
      
      <% if page.depth == 1 && has_children %>
        <% unless page.at_top? %>
          <li class="divider" role="separator"></li>
        <% end %>
        <li class="dropdown-header"><%= page.title_in_menu.presence || page.title %></li>
      <% end %>
      
      <% if (page.depth == 1 && !has_children) || page.depth == 2 %>
        <li>
          <a href=<%= url %>><%= page.title_in_menu.presence || page.title %></a>
        </li>      
      <% end %>
      
      <% if page.depth != 0 && (!next_page || next_page.depth == 0) %>
        </ul>
        </li>
      <% end %>

      <% depth = page.depth %>
      
    <% end %>
    
  </ul>
  
  <ul class="nav navbar-nav navbar-right">
    <li class="dropdown">
      <a class="dropdown-toggle" href="#" data-toggle="dropdown">
        Account
        <span class="caret"/>
      </a>
      <ul class="dropdown-menu" role="menu">
        <%= render "devise/menu/login_items" %>
        <%= render "devise/menu/user_items" %>
      </ul>
    </li>
  </ul>
</div>
