.social.clearfix
  - unless Tenant.current.twitter_id.blank?
    = link_to(icon('twitter'), "http://twitter.com/" + Tenant.current.twitter_id, { :target => "_blank", :class => "twitter", :title => "Follow us on Twitter" })
  - unless Tenant.current.facebook_id.blank?
    = link_to(icon('facebook'), "https://www.facebook.com/" + Tenant.current.facebook_id, { :target => "_blank", :class => "facebook", :title => "Like us on Facebook" })
  - unless Tenant.current.google_plus_id.blank?
    = link_to(icon('google-plus'), "https://plus.google.com/+" + Tenant.current.google_plus_id, { :target => "_blank", :class => "google_plus", :title => "Follow us on Google+" })
  - unless Tenant.current.instagram_id.blank?
    = link_to(icon('instagram'), "http://instagram.com/" + Tenant.current.instagram_id, { :target => "_blank", :class => "instagram", :title => "Check us out on Instagram" })
  - unless Tenant.current.foursquare_id.blank?
    = link_to(icon('foursquare'), "https://foursquare.com/v/" + Tenant.current.foursquare_id, { :target => "_blank", :class => "foursquare", :title => "Visit us on Foursquare" })
