!!!
%html
  %head
    %title
      = content_for?(:title) ? yield(:title) : 'Untitled'
      != " :: #{tenant.name}" if tenant
    = stylesheet_link_tag "themes/admin"
    -#= favicon_link_tag "themes/#{theme}/icon.ico"
    = javascript_include_tag :application
    = csrf_meta_tag
    %meta{ content: 'width=device-width, initial-scale=1.0', name: :viewport}
    = yield(:head)
  %body
    #admin-wrapper
      #sidebar{ class: cookies['sidebar-active'] == 'true' ? 'active' : ''}
        .sidebar-header
          %h3 Control Panel
          %strong CP
        %ul.list-unstyled.components
          -#%li
          -#  %a.collapsed{ href: '#home-submenu', data: { toggle: :collapse }, aria: { expanded: :false } }
          -#    = icon(:home, 'Home')
          -#  %ul.collapse.list-unstyled#home-submenu
          -#    %li= link_to 'home 1', admin_root_path
          -#    %li= link_to 'home 2', admin_root_path
          -#    %li= link_to 'home 3', admin_root_path
          %li
            = link_to admin_root_path do
              = icon(:home, 'Home')
          %li
            = link_to admin_events_path do
              = icon(:'calendar-alt', 'Calendar')
          %li
            = link_to proto_admin_events_path do
              = icon(:'calendar-alt', 'New Calendar')
          %li
            = link_to admin_league_games_path do
              = icon(:'calendar-check', 'Games')
          %li
            = link_to admin_programs_path do
              = icon(:'cubes', 'Programs')
          %li
            = link_to pages_path do
              = icon(:'file-alt', 'Pages')
          %li
            = link_to admin_posts_path do
              = icon(:'sticky-note', 'Posts')
          %li
            = link_to admin_users_path do
              = icon(:user, 'Users')
          %li
            = link_to admin_locations_path do
              = icon(:'map-marker', 'Locations')
          %li
            = link_to admin_clubs_path do
              = icon(:users, 'Clubs')
          %li
            = link_to admin_chromecasts_path do
              = icon(:chrome, 'Chromecasts', {}, :fab)
          %li
            = link_to admin_uploads_path do
              = icon(:upload, 'Upload')

      #content
        %header
          #top-part{ style: 'height: 75px; '}
            %button.btn.btn-default#sidebar-toggle= icon('bars')
            %button.btn.btn-default.pull-right= link_to 'Go to Site', root_path
          = render 'layouts/area_navigation' if @area_menu_items
          = render 'layouts/breadcrumbs' if @breadcrumbs
          #banner
            #{yield :banner}
          - if content_for?(:title)
            .page-title.clearfix
              %h1.pull-left
                %span#page-title= yield(:title)
                = content_tag :small, yield(:title_small) if content_for?(:title_small)
              .actions.pull-right
                = yield(:actions)
        #main
          #page-header
            = render :partial => 'layouts/flash', :locals => { :flash => flash }
          = yield
    = yield :javascript
    :javascript

      var $dropdown = $('.dropdown-toggle');
      if ($dropdown.dropdown) { $dropdown.dropdown(); }

      // fix sub nav on scroll
      var $win = $(window)
        , $nav = $('.subnav')
        , navTop = $('.subnav').length && $('.subnav').offset().top - 40
        , isFixed = 0

      processScroll()

      $win.on('scroll', processScroll)

      function processScroll() {
        var i, scrollTop = $win.scrollTop()
        if (scrollTop >= navTop && !isFixed) {
          isFixed = 1
          $nav.addClass('subnav-fixed')
        } else if (scrollTop <= navTop && isFixed) {
          isFixed = 0
          $nav.removeClass('subnav-fixed')
        }
      }


