!!!
%html
  %head
    %title
      = content_for?(:title) ? yield(:title) : 'Untitled'
      != " :: #{tenant.name}" if tenant
    = stylesheet_link_tag "themes/admin"
    -#= favicon_link_tag "themes/#{theme}/icon.ico"
    = javascript_include_tag :application
    = javascript_pack_tag :application
    = csrf_meta_tag
    %meta{ content: 'width=device-width, initial-scale=1.0', name: :viewport}
    = yield(:head)
    :css
      #main {
        padding-top: 61px;
        min-height: 100%;
        background-color: #f1f4f5;
      }
      .admin-page-title {
        background: rgba(255,255,255,0.45);
        padding: 30px;
      }
      .admin-page-title h1 {
        margin-bottom: 0;
      }
      #main > .ui.fluid.container {
        width: auto !important;
        margin-left: 1em !important;
        margin-right: 1em !important;
      }        
  %body
    .ui.top.fixed.menu{ style: 'dislay: flex;' }
      .ui.dropdown.icon.item{ title: 'Admin Menu'}
        = semantic_icon(:sidebar) 
        .menu
          = admin_menu_item url: admin_root_path, icon: :home, label: 'Home'
          = admin_menu_item url: admin_events_path, icon: [:calendar, :alt], label: 'Calendar' if current_user_is_admin? 
          = admin_menu_item url: admin_league_games_path, icon: [:calendar, :check], label: 'Games' 
          = admin_menu_item url: admin_programs_path, icon: :trophy, label: 'Leagues' if current_user_is_admin? 
          = admin_menu_item url: pages_path, icon: [:file, :alt], label: 'Pages' if current_user_is_admin? 
          = admin_menu_item url: admin_posts_path, icon: [:sticky, :note], label: 'Posts' if current_user_is_admin? 
          = admin_menu_item url: admin_users_path, icon: :user, label: 'Users' if current_user_is_admin? 
          = admin_menu_item url: admin_locations_path, icon: [:map, :marker], label: 'Locations' if current_user_is_admin? 
          = admin_menu_item url: admin_clubs_path, icon: :users, label: 'Clubs' if current_user_is_admin? 
          = admin_menu_item url: admin_chromecasts_path, icon: :chrome, label: 'Chromecasts' 
          = admin_menu_item url: admin_screens_path, icon: :tv, label: 'Screens' 
          = admin_menu_item url: admin_uploads_path, icon: :upload, label: 'Upload' if current_user_is_admin? 
          = admin_menu_item url: admin_form_packets_path, icon: :newspaper, label: 'Forms' if current_user_is_admin? 
          = admin_menu_item url: admin_products_dashboard_path, icon: :signup, label: 'Registration' 
      .item.header{ style: 'flex-grow: 2;' }
        %span{ style: 'width: 100%; text-align: center;' } SPORTIFED
      .right.menu
        = link_to 'Go to Site', root_path, class: :item  
 
    #main
      #wrapper{ @wrapper || {} } 
        - if @breadcrumbs and @breadcrumbs.length > 0
          .ui.top.attached.segment{ style: 'padding-top: 5px; padding-bottom: 5px;'}
            .ui.small.breadcrumb
              - @breadcrumbs.each_with_index do |crumb, index|
                - unless index == 0
                  %span.divider= '/'
                - if crumb[:url] && crumb[:url] != request.path
                  %a.section{ :href => "#{crumb[:url]}" } #{crumb[:title]}
                - else
                  .section= crumb[:title]            
        - if content_for?(:title)
          .ui.attached.clearing.segment{ class: [ content_for?(:area_menu) ? nil : :bottom ]}
            %h1{ style: 'float: left; margin-bottom: 0;' }
              %span#page-title= yield(:title)
            .actions{ style: 'float: right;' }
              = yield(:actions)
        - if content_for?(:area_menu)
          .ui.bottom.attached.menu
            = yield(:area_menu)

        #page-header
          = render :partial => 'layouts/flash', :locals => { :flash => flash }
        = yield
    = yield :javascript
