!!!
%html
  %head
    %title
      = content_for?(:title) ? yield(:title) : 'Untitled'
      = " - " + tenant.name
    - theme = tenant.theme
    - if theme and !theme.empty?
      = stylesheet_link_tag "themes/#{theme}"
      = favicon_link_tag "themes/#{theme}/icon.ico"
    - else
      = stylesheet_link_tag "application"
    - if Tenant.current.google_fonts
      - Tenant.current.google_fonts.split(/\r?\n/).each do |font|
        = stylesheet_link_tag "https://fonts.googleapis.com/css?family=#{font.gsub(/ /, '+')}"
    = javascript_include_tag "application"
    = csrf_meta_tag
    %meta{ :content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    = yield(:head)
  %body
    .navbar.navbar-default.navbar-fixed-top{ :role => 'navigation'}
      .container
        .navbar-header
          %button.navbar-toggle{ :type => "button", :"data-toggle" => "collapse", :"data-target" => ".navbar-collapse" }
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          #site_logo
            = link_to "/", :class => "navbar-brand" do
              %div
            =# link_to image_tag("/assets/themes/#{Tenant.current.theme}/brand.jpg", :style => ""), root_url, :class => "brand"
          #site_name
            = link_to tenant.name, main_app.root_url, :class => "brand"
        = render "layouts/site_navigation"
    #wrapper.container
      %header
        = render "layouts/area_navigation" if @area_menu_items
        = render "layouts/breadcrumbs" if @breadcrumbs
        #banner
          #{yield :banner}
        - if content_for?(:title)
          .page-title.clearfix
            %h1.pull-left
              %span#page-title= yield(:title)
              = content_tag :small, yield(:title_small) if content_for?(:title_small)
            .actions.pull-right
              = yield(:actions)
      #main
        #page-header
          = render :partial => 'layouts/flash', :locals => { :flash => flash }
        = javascript_pack_tag 'application'
        = yield
    #footer.jagged-border
      = render 'layouts/footer'
      -# = render 'layouts/social'
    = render 'layouts/google_analytics' if Tenant.current.analytics_id.present?
    = yield :javascript
    :javascript

      var $dropdown = $('.dropdown-toggle');
      if ($dropdown.dropdown) { $dropdown.dropdown(); }

      // fix sub nav on scroll
      var $win = $(window)
        , $nav = $('.subnav')
        , navTop = $('.subnav').length && $('.subnav').offset().top - 40
        , isFixed = 0

      processScroll()

      $win.on('scroll', processScroll)

      function processScroll() {
        var i, scrollTop = $win.scrollTop()
        if (scrollTop >= navTop && !isFixed) {
          isFixed = 1
          $nav.addClass('subnav-fixed')
        } else if (scrollTop <= navTop && isFixed) {
          isFixed = 0
          $nav.removeClass('subnav-fixed')
        }
      }
