!!!
%html.h-full.bg-gray-100
  %head
    %title
      = content_for?(:title) ? yield(:title) : 'Untitled'
      != " :: #{tenant.name}" if tenant 
    = stylesheet_link_tag 'application'
    - theme = tenant&.theme
    - if theme and !theme.empty?
      -# = stylesheet_link_tag "themes/#{theme}"
      -# = stylesheet_link_tag 'themes/oia'
      = favicon_link_tag "themes/#{theme}/icon.ico"
    - else
    -#   = stylesheet_link_tag :application
    - if tenant&.google_fonts
      - tenant.google_fonts.split(/\r?\n/).each do |font|
        = stylesheet_link_tag "https://fonts.googleapis.com/css?family=#{font.gsub(/ /, '+')}"
    = javascript_include_tag :application
    = csrf_meta_tag
    %meta{ content: 'width=device-width, initial-scale=1.0', name: :viewport}
    = yield(:head)
    = content_tag :style do
      != tenant.style
    

  %body.h-full
    .min-h-full.flex.flex-col
      = render 'layouts/tailwind/header'
      = render 'layouts/tailwind/page_header'
      .grow.flex
        .grow.max-w-7xl.mx-auto.p-4.lg:p-8.lg:p-8.bg-white
          = render :partial => 'layouts/flash', :locals => { :flash => flash }
          = yield     
      = render 'layouts/tailwind/footer'

      -# #wrapper.ui.container
      -#   %header
      -#     = render 'layouts/application/area_navigation' if @area_menu_items
      -#     -# = render 'layouts/breadcrumbs' if @breadcrumbs        
      -#     - if content_for?(:banner)
      -#       #banner{ style: 'margin-top: 15px;' }= yield(:banner)
      -#     - if content_for?(:title)
      -#       #page-title{ style: 'display: flex; justify-content: space-between;' }
      -#         %h1.title= yield(:title)
      -#         .actions= yield(:actions)
      -#       #div= # so title is not last child
      -#   #main
      -#     #page-header
      -#       = render :partial => 'layouts/flash', :locals => { :flash => flash }
      -#     -# = yield
      -# #footer
      -#   = render ::Layouts::Application::FooterComponent.new(tenant: Tenant.current)

    #modal
    = yield :javascript

