!!!
%html
  %head
    %title
      = content_for?(:title) ? yield(:title) : 'Untitled'
    = #stylesheet_link_tag "compiled/themes/#{theme}/screen", :media => 'screen'
    = stylesheet_link_tag "application" 
    - theme = Tenant.current.theme    
    = stylesheet_link_tag theme ? "themes/#{theme}/theme" : "theme"
    = javascript_include_tag "application"
    = csrf_meta_tag
    = yield(:head)
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          =link_to Tenant.current.name, root_url, :class => "brand"
          %ul.nav.pull-right
            %li.dropdown
              %a.dropdown-toggle{ :href => "#", "data-toggle" => "dropdown"}
                Account
                %b.caret
              %ul.dropdown-menu
                = render "devise/menu/login_items"
                = render "devise/menu/user_items"  
    #wrapper.container
      %header
        = content_tag :h1, yield(:title) if show_title?
        = render "layouts/site_navigation" if @site_menu_items
        = render "layouts/breadcrumbs" if @breadcrumbs
        = render "layouts/area_navigation" if @area_menu_items        
      #main
        #banner
          #{yield :banner}
        #page-header
          = render :partial => 'layouts/flash', :locals => { :flash => flash }
          = yield
      #footer
    = render 'layouts/google_analytics' if Site.current && Site.current.analytics_id.present?
    = yield :javascript
    :javascript
      $('.dropdown-toggle').dropdown();
      
      // fix sub nav on scroll
      var $win = $(window)
        , $nav = $('.subnav')
        , navTop = $('.subnav').length && $('.subnav').offset().top - 40
        , isFixed = 0

      processScroll()

      $win.on('scroll', processScroll)

      function processScroll() {
        var i, scrollTop = $win.scrollTop()
        if (scrollTop >= navTop && !isFixed) {
          isFixed = 1
          $nav.addClass('subnav-fixed')
        } else if (scrollTop <= navTop && isFixed) {
          isFixed = 0
          $nav.removeClass('subnav-fixed')
        }
      }      

