!!!
%html
  %head
    %title
      = content_for?(:title) ? yield(:title) : 'Untitled'
      = " - " + Tenant.current.name
    - theme = Tenant.current.theme
    - if theme and !theme.empty?
      = stylesheet_link_tag "/assets/#{theme}"
      = favicon_link_tag "/assets/themes/#{theme}/icon.ico"
    - else
      = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tag
    %meta{ :content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    = yield(:head)
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          #site_logo
            = link_to "/", :class => "brand" do
              %div
            =# link_to image_tag("/assets/themes/#{Tenant.current.theme}/brand.jpg", :style => ""), root_url, :class => "brand"
          #site_name
            = link_to Tenant.current.name, root_url, :class => "brand"
          = render "layouts/site_navigation" if @site_menu_items             
    #wrapper.container
      %header
        %h1.pull-left
          = yield(:title)
          = content_tag :small, yield(:title_small) if content_for?(:title_small)
        .actions.pull-right
          = yield(:actions)
        .clear
        = render "layouts/area_navigation" if @area_menu_items  
        = render "layouts/breadcrumbs" if @breadcrumbs
              
      #main
        #banner
          #{yield :banner}
        #page-header
          = render :partial => 'layouts/flash', :locals => { :flash => flash }
        = yield
      #footer
    = render 'layouts/google_analytics' if Tenant.current.analytics_id.present?
    = yield :javascript
    :javascript
      $('.dropdown-toggle').dropdown();
      
      // fix sub nav on scroll
      var $win = $(window)
        , $nav = $('.subnav')
        , navTop = $('.subnav').length && $('.subnav').offset().top - 40
        , isFixed = 0

      processScroll()

      $win.on('scroll', processScroll)

      function processScroll() {
        var i, scrollTop = $win.scrollTop()
        if (scrollTop >= navTop && !isFixed) {
          isFixed = 1
          $nav.addClass('subnav-fixed')
        } else if (scrollTop <= navTop && isFixed) {
          isFixed = 0
          $nav.removeClass('subnav-fixed')
        }
      }      

