!!!
%html
  %head
    %title
      = content_for?(:title) ? yield(:title) : 'Untitled'
    = stylesheet_link_tag 'compiled/application'
    = stylesheet_link_tag 'compiled/screen', :media => 'screen'
    = stylesheet_link_tag 'compiled/print', :media => 'print'
    / [if lt IE 8]
      = stylesheet_link_tag 'compiled/ie'
    = javascript_include_tag 'jquery-1.4.3.min'
    = javascript_include_tag 'rails'
    = javascript_include_tag 'application'
    = csrf_meta_tag
    = yield(:head)
  %body.bp.two-col
    #container
      #hat
        #site-name sportified.it
        %ul.user-tasks
          = render "devise/menu/login_items"
          = render "devise/menu/user_items"
        .clear
      #header
        #title
          %a{ :href => "" } [Site Name]
      #site-nav 
        %nav #{render "layouts/site_navigation"}
      #breadcrumbs #{render "layouts/breadcrumbs"}
      #area-nav 
        %nav #{render "layouts/area_navigation"}
      #content
        #page_header
          = content_tag :h1, yield(:title) if show_title?
        - unless flash[:notice]
          #flash_notice.hidden
        - flash.each do |name, msg|
          = content_tag :div, msg, :id => "flash_#{name}"
        = yield
      #sidebar Yipee!
      #footer rah!

