!!!
%html
  %head
    %title
      = content_for?(:title) ? yield(:title) : 'Untitled'
      != " :: #{tenant.name}" if tenant
    - theme = tenant&.theme
    - if theme and !theme.empty?
      = stylesheet_link_tag "themes/#{theme}"
      -# = stylesheet_link_tag 'themes/oia'
      = favicon_link_tag "themes/#{theme}/icon.ico"
    - else
    -#   = stylesheet_link_tag :application
    - if tenant&.google_fonts
      - tenant.google_fonts.split(/\r?\n/).each do |font|
        = stylesheet_link_tag "https://fonts.googleapis.com/css?family=#{font.gsub(/ /, '+')}"
    = javascript_include_tag :application
    = csrf_meta_tag
    %meta{ content: 'width=device-width, initial-scale=1.0', name: :viewport}
    = yield(:head)
    = content_tag :style do
      != tenant.style
    :css

      #wrapper {
        background: #ffffff;
        padding: 20px;
        margin-top: 60px;
        margin-bottom: 9px;
      }

      .ui.grid.compact {
        margin: -.25rem;
      }

      .ui.grid.compact > .column:not(.row), 
      .ui.grid.compact > .row > .column {
        padding: .25rem;
      }  
      .ui.grid.compact > .row {
        padding: 0;
      }

      address {
        font-style: normal;
      }

      /* mobile */
      @media only screen and (max-width: 767px) {
        #wrapper {
          margin-top: 15px;
          margin-bottom: 0;
        }
        .ui.container {
          width: auto !important;
          margin-left: 0 !important;
          margin-right: 0 !important;
        }    
        .ui.stackable.grid {
            width: auto;
            margin-left: -1rem !important;
            margin-right: -1rem !important;
        }         
      } 

      .blocks_text .content {
        padding: 0 10px
      }

      .block {
        margin-bottom: 20px;
      }

      .block.blocks_divider {
        margin-bottom: 0;
      }

      .blocks_divider .ui.divider {
        background: -webkit-repeating-linear-gradient(162deg, #DDD 0px, transparent 1px, transparent 3px, #DDD 4px);
        background: repeating-linear-gradient(-72deg, #DDD 0px, transparent 1px, transparent 3px, #DDD 4px);
        background: -webkit-repeating-linear-gradient(162deg, #000 0px, transparent 1px, transparent 3px, #000 4px);
        background: repeating-linear-gradient(-72deg, #000 0px, transparent 1px, transparent 3px, #000 4px);
        height: 5px;
        margin: 10px 0;
        border: none !important;
      }

      #page-sections .section > .ui.grid {
        margin-top: 0;
        margin-bottom: 0;
      }      

      #page-sections .section > .ui.grid > .column {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
      }

      #page-sections .section > .ui.grid > .column > .block {
      }      

      #page-sections .section > .ui.grid > .column > .block:last-child {
        -# margin-bottom: 0;
      }      

      #page-header .ui.message:last-child {
        margin-bottom: 1em;
      }   

  %body.pushable{ data: { path: @page ? "pages/#{@page.url_path}" : request.path }}
    = render 'layouts/sidebar'
    .pusher
      = render 'layouts/header'
      #wrapper.ui.container
        %header
          = render 'layouts/area_navigation' if @area_menu_items
          -# = render 'layouts/breadcrumbs' if @breadcrumbs        
          - if content_for?(:banner)
            #banner{ style: 'margin-top: 15px;' }= yield(:banner)
          - if content_for?(:title)
            .page-title.clearfix
              %h1{ style: 'float: left;' }
                %span#page-title= yield(:title)
                = content_tag :small, yield(:title_small) if content_for?(:title_small)
              .actions{ style: 'float: right;' }
                = yield(:actions)
              %div{ style: 'clear: both;' }
        #main
          #page-header
            = render :partial => 'layouts/flash', :locals => { :flash => flash }
          = yield
      #footer
        = render 'layouts/footer'
        -# = render 'layouts/social'
    #modal
    = yield :javascript

    :javascript
