!!!
%html
  %head
    %title
      = content_for?(:title) ? yield(:title) : 'Untitled'
    = stylesheet_link_tag "compiled/themes/#{theme}/screen", :media => 'screen'
    = stylesheet_link_tag 'compiled/print', :media => 'print'
    / [if lt IE 8]
      = stylesheet_link_tag 'compiled/ie'
    = stylesheet_link_tag *(@stylesheets)
    = javascript_include_tag 'jquery-1.4.3.min.js'
    = javascript_include_tag 'rails'
    = javascript_include_tag 'application'
    = csrf_meta_tag
    = yield(:head)
  %body.bp.two-col
    #container
      #hat
        #site-name #{Site.current.name if Site.current}
        %ul.user-tasks
          = render "devise/menu/login_items"
          = render "devise/menu/user_items"
        .clear
      #header
        #title
          %a{ :href => "" } [Site Name]
      #site-nav 
        %nav #{render "layouts/site_navigation"}
      #breadcrumbs #{render "layouts/breadcrumbs"}
      #sidebar 
        .wrapper
          - if @area_ancestors || @area_descendants
            #area-nav
              %nav #{render "layouts/area_navigation"}
          = yield :sidebar
      #main
        #banner
          .wrapper #{yield :banner}
        #page-header
          = content_tag :h1, yield(:title) if show_title?
        .wrapper
          = render :partial => 'layouts/flash', :locals => { :flash => flash }
          = yield
      #footer 
    = render 'layouts/google_analytics' if Site.current && Site.current.analytics_id.present?
    = yield :javascript

