!!!
%html
  %head
    %title
      = content_for?(:title) ? yield(:title) : 'Untitled'
      != " :: #{tenant.name}" if tenant
    - theme = tenant&.theme
    -#- if theme and !theme.empty?
    -#  = stylesheet_link_tag "themes/#{theme}"
    -#  = favicon_link_tag "themes/#{theme}/icon.ico"
    -#- else
    = stylesheet_link_tag 'themes/application'
    - if tenant&.google_fonts
      - tenant.google_fonts.split(/\r?\n/).each do |font|
        = stylesheet_link_tag "https://fonts.googleapis.com/css?family=#{font.gsub(/ /, '+')}"
    = stylesheet_link_tag 'cast'
    = stylesheet_link_tag "https://fonts.googleapis.com/css?family=Roboto"
    = javascript_include_tag :application
    = csrf_meta_tag
    %meta{ 'http-equiv' => 'refresh',  :content => '3000' }
    %meta{ content: 'width=device-width, initial-scale=1.0', name: :viewport}
    = yield(:head)
  %body
    = yield
    = yield :javascript



