!!!
%html
  %head
    %title
      = content_for?(:title) ? yield(:title) : 'Untitled'
    - theme = Tenant.current.theme
    - if theme and !theme.empty?
      = stylesheet_link_tag "/assets/themes/#{theme}/theme"
    - else
      = stylesheet_link_tag "application"     
    = javascript_include_tag "application"
    = csrf_meta_tag
    = yield(:head)
  %body{ :style => 'background-color: #fff; background-image: none;'}
    = yield
    = yield :javascript

      

