!!!
%html
  %head
    %title
      = content_for?(:title) ? yield(:title) : 'Untitled'
    = stylesheet_link_tag "themes/application"
    = javascript_include_tag "application"
    = csrf_meta_tag
    %meta{ :content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    = yield(:head)
  %body
    #wrapper.container
      #ipad
        = yield
    = render 'layouts/google_analytics' if Tenant.current.analytics_id.present?
    = yield :javascript


