= simple_form_for [:host, @site] do |f|
  = f.input :name
  = f.input :host
  = f.input :description
  = f.input :theme, :as => :select, :collection => @themes
  = f.input :has_custom_analytics, :as => :boolean
  = f.input :analytics_id
  .form-actions
    = f.button :submit, :class => 'btn btn-primary'



