= simple_form_for [:admin, @form] do |f|

  .ui.segment
    %h4.ui.header LOGISTICS   
    .fields
      = f.input :starts_on, as: :datetime, html5: true, wrapper_html: { class: [:four, :wide] }
      = f.input :duration, wrapper_html: { class: [:two, :wide] }
    = f.input :all_day, as: :boolean
    = f.input :location_id, as: :select, collection: @form.location_options, wrapper_html: { class: [:four, :wide] }

  .ui.segment
    %h4.ui.header DESCRIPTION 
    = f.input :summary
    = f.input :description, as: :text, rows: 4
    = f.input :tag_list, input_html: { value: f.object.tag_list.to_s }
    = f.input :private, as: :boolean

  - if @form.respond_to?(:repeat)
    .ui.segment
      %h4.ui.header RECURRENCE 
      = f.input :repeat, as: :boolean
      .ui.segment#repeat-options
        = f.input :repeat_on_sunday, as: :boolean
        = f.input :repeat_on_monday, as: :boolean
        = f.input :repeat_on_tuesday, as: :boolean
        = f.input :repeat_on_wednesday, as: :boolean
        = f.input :repeat_on_thursday, as: :boolean
        = f.input :repeat_on_friday, as: :boolean
        = f.input :repeat_on_saturday, as: :boolean
        = f.input :ends, as: :semantic_radio_buttons, label: 'Ending', collection: @form.class.ends_options
        = f.input :ends_on, as: :date, html5: true, label: false
        = f.input :ends_after_occurrences, label: false, wrapper: :ui_right_labled_input do
          = f.input_field :ends_after_occurrences
          .ui.label occurrences

  .ui.segment
    = f.button :wrapped, :cancel => return_url

- if @form.persisted?
  %br
  %br
  .ui.segment
    %h4.ui.header HISTORY
    %table.ui.celled.striped.table
      %thead
        %tr
          %th Time
          %th Action
          %th User
          %th Changes
      %tbody
        - @form.audits.each do |audit|
          %tr
            %td= "#{time_ago_in_words(audit.created_at)} ago"
            %td= audit.action
            %td= audit&.user&.full_name
            %td
              - if audit.action == 'update'
                %table.ui.celled.table
                  %thead
                    %tr
                      %th{ style: 'width: 40%;' } Attribute
                      %th{ style: 'width: 30%;' } From
                      %th{ style: 'width: 30%;' } To
                  %tbody
                    - audit.audited_changes.each do |attr, change|
                      %tr
                        %td= attr.humanize
                        %td= change[0]
                        %td= change[1]    

:javascript
  $(function() {

    function toggleEnds(ends) {
      if(ends == 'on') {
        $('.general_event_ends_on').show();
        $('.general_event_ends_after_occurrences').hide();
      } else {
        $('.general_event_ends_on').hide();
        $('.general_event_ends_after_occurrences').show();
      }
    }

    $('.general_event_ends input').on('change', function() {
      toggleEnds($(this).val());
    });

    $('.general_event_repeat input').on('change', function() {
      $('#repeat-options').slideToggle();
    })

    if("#{@form.try(:repeat)}" == 'false') {
      $('#repeat-options').hide();
    }

    toggleEnds("#{@form.try(:ends)}");

  })

:css

  .general_event_location_id {
    width: 400px;
  }

  .general_event_ends_on {
    width: 200px
  }

  .general_event_ends_after_occurrences {
    width: 80px;
  }

  .general_event_ends_after_occurrences .input-group {
    width: 150px;
  }
